<template>
	<view class="followlist">
		<view class="order_box">
			<view class="order_cell mb-10" v-for="(item,index) in list" :key="item" @click="goInfo(item.worker_uid)">
				<view class="cell_list_info">
					<view class="cell_list_userimg_box">
						<image class="cell_list_userimg"
							:src="item.face_image?item.face_image:'../../static/images/default.png'"></image>
					</view>
					<view class="cell_list_userbox">
						<view class="cell_list_username">{{item.name}}
							<span v-for="itemd in item.services_list" :key="itemd" class="user_type">{{itemd}}</span>
						</view>
						<view class="cell_list_userinfo">{{item.intro}}</view>
					</view>
				</view>
				<view class="text-r mt-10" style="display: flex;justify-content: flex-end;">
					<view class="closeFollow" @click="cancelFollowAyi(item.worker_uid,index)">取消关注</view>
				</view>
			</view>
		</view>
		<view style="margin-top: 10%;" v-if="showEmpty">
			<u-empty text="暂无数据" mode="list"></u-empty>
		</view>
		<view class="text-c c-gray" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
	</view>
</template>

<script>
	import {
		followList,
		cancelFollowAyi,
		getAyiMoney
	} from '../../api/ayi.js';
	export default {
		data() {
			return {
				showLoading: true,
				showEmpty: false,
				list: [],
				params: {
					page: 1
				}
			};
		},
		onLoad() {

		},
		onShow() {
			this.params.page = 1
			this.showLoading = true
			this.showEmpty = false
			this.list = []
			this.followList()
		},
		methods: {
			followList() {
				followList(this.params).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						this.list = [...this.list, ...res.data.data_list]
						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						if (res.data.total == 0) {
							this.showEmpty = true
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			cancelFollowAyi(id, index) {
				cancelFollowAyi({
					worker_uid: parseInt(id)
				}).then(res => {
					if (res.code == 1) {
						this.list.splice(index, 1)
						uni.showToast({
							title: '已取消',
							icon: 'success',
							duration: 1500
						});
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			goInfo(id) {
				
				uni.navigateTo({
					url: '/pages/ayiinfo/ayiinfo?uid=' + id + '&worker_type=1'
				})

			}
		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.showLoading = true
				this.params.page = this.params.page + 1
				this.followList()
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.showLoading = true
			this.showEmpty = false
			this.list = []
			this.followList()
			uni.stopPullDownRefresh()
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.followlist {
		.order_box {
			padding: 30rpx;

			.order_cell {
				padding: 30rpx;
				border-radius: 20rpx;
				background-color: #FFFFFF;

				.cell_list_info {
					display: flex;
					align-items: center;

					.cell_list_userimg_box {
						width: 120rpx;
						height: 120rpx;
						position: relative;
						border-radius: 100rpx;

						.cell_list_userimg {
							width: 120rpx;
							height: 120rpx;
							border-radius: 100rpx;
						}

						.cell_list_userapprove {
							width: 28rpx;
							height: 28rpx;
							position: absolute;
							bottom: 0;
							right: 0;
						}
					}

					.cell_list_userbox {
						flex: 1;
						margin-left: 30rpx;

						.cell_list_username {
							color: #39373D;
							font-size: 32rpx;
							font-weight: 500;

							.user_type {
								color: #5602AC;
								background-color: #E7E2F2;
								font-size: 18rpx;
								padding: 2rpx 10rpx;
								margin-left: 15rpx;
							}
						}

						.cell_list_userinfo {
							color: #696572;
							font-size: 26rpx;
							margin-top: 12rpx;
						}
					}
				}
			}
		}

		.closeFollow {
			width: 160rpx;
			color: #FFFFFF;
			font-size: 24rpx;
			background-color: #5602AC;
			border-radius: 50rpx;
			padding: 12rpx 0;
			text-align: center;
		}
	}
</style>
