<template>
	<view class="userapprove">
		<view class="form_box">
			<u-form :model="form" ref="uForm" label-align="left" :rules="firstrules" :error-type='errorType'>
				<view class="form_cell">
					<view class="survey_title">被背调人信息</view>
					<u-form-item label="姓名" required prop="name">
						<u-input placeholder="请输入姓名" v-model="form.name" />
					</u-form-item>
					<u-form-item label="手机号" required prop="mobile">
						<u-input placeholder="请输入手机号" maxlength="11" v-model="form.mobile" type="number">
						</u-input>
					</u-form-item>
					<view class="tips f-14">
						提示： 请准确填写姓名和手机号，下单并支付后，被背调人会及时收到授权通知短信，在其同意授权并完成在线签名后，您可在背调订单中查看电子报告。
						<view class="mt-5">{{popText}}</view>
						<view class="mt-5">报告生成：被背调人签约成功后，1小时内生成电子报告；</view>
					</view>
				</view>

				<view class="display_flex" style="justify-content: space-between;padding: 30rpx;">
					<view class="submint_res" form-type="submit" @click="restForm()">重置</view>
					<view class="submint_pay" form-type="submit" @click="SubmitForm()">下单支付</view>
				</view>
			</u-form>
		</view>
		<u-popup v-model="showPopOrder" mode="center" width="80%" border-radius="15" @close="goSurvey(2)">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">订单提交成功</view>
				<view class="f-12 mt-10">订单支付成功！</view>
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="pop_btn mt-30" @click="goSurvey(0)">查看订单</view>
				</view>
			</view>
		</u-popup>
		<u-popup v-model="orderFail" mode="center" width="80%" border-radius="15">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_none.png"></image>
				<view class="f-18 f-w mt-20">订单提交失败！</view>
				<view class="f-12 mt-10">订单未支付， 请稍后重试！</view>
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="pop_btn mt-30" @click="goSurvey(0)">查看订单</view>
				</view>
			</view>
		</u-popup>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		beidiaoOrder,
		beidiaoPay
	} from '@/api/ayi.js';

	export default {
		data() {
			return {
				popText:'',
				showAllPop: getApp().globalData.showAllPop,
				showPopOrder: false,
				orderFail: false,
				form: {
					name: '',
					mobile: ''
				},
				errorType: ['message'],
				rules: {
					name: [{
						required: true,
						message: '请输入姓名',
						trigger: ['change', 'blur'],
					}],

					mobile: [{
							required: true,
							message: '请输入手机号',
							trigger: ['change', 'blur'],
						},
						{
							validator: (rule, value, callback) => {
								// 调用uView自带的js验证规则，详见：https://www.uviewui.com/js/test.html
								return this.$u.test.mobile(value);
							},
							message: '手机号码不正确',
							// 触发器可以同时用blur和change，二者之间用英文逗号隔开
							trigger: ['change', 'blur'],
						}
					],

				},
			};
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		onLoad() {
			var that = this
			setTimeout(function() {
				that.popText = getApp().globalData.init.money_beidiao
			}, 500)
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			SubmitForm() {
				var that = this
				that.$refs.uForm.validate(valid => {
					if (valid) {
						uni.showLoading({
							title: '加载中...'
						})
						beidiaoOrder(that.form).then(res => {
							if (res.code == 1) {
								beidiaoPay({
									order_sn: res.data.order_sn
								}).then(res => {
									uni.hideLoading()
									if (res.code == 1) {
										uni.requestPayment({
											provider: 'wxpay',
											timeStamp: res.data.pay_data.timeStamp,
											nonceStr: res.data.pay_data.nonceStr,
											package: res.data.pay_data.package,
											signType: 'MD5',
											paySign: res.data.pay_data.paySign,
											success(res) {
												that.showPopOrder = true
											},
											fail(res) {
												that.orderFail = true
											}
										})
									} else {
										uni.showToast({
											title: res.msg,
											icon: 'none',
											duration: 1500
										});
									}
								})
							} else {
								uni.hideLoading()
								uni.showToast({
									title: res.msg,
									icon: 'none',
									duration: 1500
								});
							}
						})
					} else {
						console.log('验证失败');
					}
				});
			},

			restForm() {
				this.form = {
					name: '',
					mobile: ''
				}
			},
			goSurvey(type) {
				uni.switchTab({
					url: '/pages/surveylist/surveylist'
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.form_cell {
		padding: 0 40rpx;
	}

	.survey_title {
		color: #000000;
		font-size: 32rpx;
		font-weight: bold;
		padding: 30rpx 0;
		text-align: center;
	}

	.tips {
		padding: 50rpx 0;
	}

	.submint_res {
		width: 250rpx;
		font-size: 28rpx;
		border-radius: 10rpx;
		padding: 20rpx 0;
		text-align: center;
		margin: 30rpx;
		background-color: #FFFFFF;
		border: 2rpx solid #e2e2e2;
	}

	.submint_pay {
		width: 250rpx;
		color: #FFFFFF;
		font-size: 28rpx;
		border-radius: 10rpx;
		padding: 20rpx 0;
		text-align: center;
		margin: 30rpx;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
	}

	.u-form-item--left__content {
		width: 100rpx;
	}

	.pop_orderbox {
		padding: 60rpx 20rpx;
		overflow: hidden;

		.sub_result {
			width: 230rpx;
			height: 230rpx;
		}
	}

	.pop_btn {
		width: 300rpx;
		height: 80rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFFFFF;
		border-radius: 60px;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
	}
</style>
