<template>
	<view class="webview">
		<web-view :src="weburl"></web-view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				weburl: ''
			};
		},
		onLoad(options) {
			var title = options.title
			this.weburl = options.url
			uni.setNavigationBarTitle({
				title: options.title
			})
		}
	}
</script>

<style lang="scss">

</style>
