<template>
	<view class="guide_box" v-if="bannerlist.length>0">
		<view class="swiper_box">
			<u-swiper mode="rect" duration="1000" :interval="swiperTime" style="height: 100vh;" :list="bannerlist"
				@change="changeImg" :circular="false"></u-swiper>
		</view>
		<view class="jump_page" @click="goHome">跳过</view>
		<view class="nowin" @click="goHome">立即体验</view>
	</view>
</template>

<script>
	import {
		ayiInit
	} from '../../api/ayi.js';
	var gopagetime
	export default {
		data() {
			return {
				swiperTime:1500,
				bannerlist: []
			};
		},
		onLoad() {
				
			this.getGuideList()
			
		},
		methods: {
			getGuideList() {
				ayiInit({
					version: 1,
				}).then(res => {
					if (res.code == 1) {
						var bannerlist=[]
						var list=res.data.app_start_pics.pic
						for(var i=0;i<list.length;i++){
							if(list[i]){
								bannerlist.push(list[i])
							}
						}
						this.bannerlist=bannerlist
						this.swiperTime=res.data.app_start_pics.time*1000
						if(bannerlist.length==1){
							this.changeImg(0)
						}
					} else {
						console.log('初始化失败')
					}

				})
			},
			changeImg(e) {
				if (e == this.bannerlist.length - 1) {
					gopagetime=setTimeout(() => {
						uni.switchTab({
							url: '/pages/index/index'
						})
					}, this.swiperTime);
				}
			},
			goHome() {
				clearTimeout(gopagetime)
				uni.switchTab({
					url: '/pages/index/index'
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		overflow: hidden;
	}

	.guide_box {
		.swiper_box {
			width: 100%;
			height: 100vh;

			swiper {
				height: 100vh !important;
			}
		}

		.jump_page {
			position: fixed;
			top: 12%;
			right: 30rpx;
			color: #FFFFFF;
			font-size: 24rpx;
			padding: 8rpx 25rpx;
			border-radius: 50px;
			z-index: 1;
			background-color: rgba(0, 0, 0, .6);
		}

		.nowin {
			z-index: 1;
			position: fixed;
			bottom: 5%;
			left: 0;
			right: 0;
			font-size: 28rpx;
			text-align: center;
			padding: 15rpx 0;
			border-radius: 30px;
			margin: 0 25%;
			color: #FFFFFF;
			background-image: linear-gradient(to right, #6943FA, #5602AC);
		}
	}
</style>
