<template>
	<view class="surveylist_box">
		<view class="scroll_box">
			<view v-for="item in array" :key="item.id" :class="item.id==chickTab?'ayi_tabs_bin_select':'ayi_tabs_bin'"
				@click="checkTab(item.id,item.title)">{{item.title}}
				<image v-if="chickTab==item.id" class="tab_bottom" src="../../static/images/tab_bottom.png">
				</image>
			</view>
		</view>
		<view style="margin-top: 90rpx;">
			<view class="cell_list" v-for="(item,index) in list" :key="item.id">
				<view @click="goNeedInfo(index,item.id,item.status)" class="display_flex"
					style="border-bottom: 1rpx solid #ECECEC;padding-bottom: 30rpx;">
					<view class="cell_left f-16 f-w" style="flex: 1;">{{item.worker_type_text}}</view>
					<view class="cell_right c-red f-w f-14" v-if="item.money_text">{{item.money_text}}</view>
					<view class="cell_right c-red f-w f-14" v-else>￥{{item.money_start}}-￥{{item.money_end}}</view>
				</view>
				<view @click="goNeedInfo(index,item.id,item.status)" class="mt-15 f-12">
					<view class="display_flex">
						<view class="cell_left">
							<span>上户时间：</span>{{item.house_time_text}}
						</view>
					</view>
					<view class="mt-10">
						<view class="cell_left">
							<span>上户地区：</span>{{item.address_city}}
						</view>
					</view>
					<view class="mt-10">
						<view class="cell_left">
							<span>岗位福利：</span>
							<span class="mr-10" v-for="itemd in item.welfare_text" :key="itemd">{{itemd}}</span>
						</view>
					</view>
					<view class="mt-10">
						<view class="cell_left">
							<span>工作要求（条件）：</span>{{item.req}}
						</view>
					</view>
					<view class="mt-10">
						<view class="cell_left">
							<span>工作内容（职责）：</span>{{item.content}}
						</view>
					</view>
				</view>
				<view class="mt-10 display_flex" v-if="item.status==0||item.status==1">
					<view class="cell_left" style="flex: 1;"></view>
					<view class="close_btn" @click="cancel(item.id,index)">取消</view>
					<!-- <view class="gopay_btn" @click="">确认</view> -->
				</view>
			</view>
		</view>
		<view style="margin-top: 10%;" v-if="showEmpty">
			<u-empty text="暂无数据" mode="list"></u-empty>
		</view>
		<view class="text-c c-gray" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
	</view>
</template>

<script>
	import {
		needList,
		needCancel,
	} from '@/api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				showEmpty:false,
				showLoading:true,
				array: [{
					id: 0,
					title: '待审核'
				}, {
					id: 1,
					title: '已通过'
				}, {
					id: 3,
					title: '已结束'
				}, {
					id: 2,
					title: '未通过'
				}],
				params: {
					status: 0,
					page: 1
				},
				list: [],
				chickTab: 0,
				scrollLeft: 0,
				auction: false
			};
		},
		onShow() {

		},
		onLoad() {
			this.needList()
		},
		methods: {
			needList() {
				
				needList(this.params).then(res => {
					this.showLoading=false
					if (res.code == 1) {
						if(this.params.page==1){
							this.list=[]
						}
						this.list=[...this.list, ...res.data.data_list]
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if(this.list.length==0){
							this.showEmpty=true
						}else{
							this.showEmpty=false
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			cancel(id, index) {
				var that = this
				uni.showModal({
					content: '确定要取消该需求吗？',
					showCancel: true,
					cancelText: '取消',
					confirmText: '确定',
					confirmColor: '#5602AC',
					success: function(res) {
						if (res.confirm) {
							needCancel({
								id: id
							}).then(res => {
								if (res.code == 1) {
									this.list.splice(index, 1)
								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none',
										duration: 1500
									});
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});

			},
			goNeedInfo(index, id, status) {
				if (status == 0) {
					app.needInfo = this.list[index]
					uni.navigateTo({
						url: '/pages/needpost/needpost?id=' + id
					})
				}

			},
			checkTab(id, name) {
				this.list = []
				this.chickTab = id
				this.params.status = id
				this.params.page=1
				this.showEmpty=false
				this.showLoading=true
				this.needList()
				this.scrollLeft = (id - 3) * 90
			},
		},
		onReachBottom() {
			if (this.last_page > this.current_page) {
				this.params.page = this.params.page++
				this.params.status = id
				this.list = []
				this.needList()
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.list = []
			this.showEmpty=false
			this.showLoading=true
			this.needList()
			uni.stopPullDownRefresh()
		},
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.surveylist_box {
		padding: 30rpx;

		.scroll_box {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			padding: 30rpx 0;
			background-color: #FFFFFF;

			.ayi_tabs_bin {
				width: 33.333%;
				font-size: 28rpx;
				color: #696572;
				padding: 0 20rpx;
				position: relative;

				text-align: center;
			}

			.ayi_tabs_bin_select {
				width: 33.333%;
				font-size: 32rpx;
				color: #39373D;
				padding: 0 20rpx;
				font-weight: 500;
				position: relative;
				text-align: center;
			}

			.tab_bottom {
				width: 36rpx;
				height: 6rpx;
				position: absolute;
				bottom: -10rpx;
				margin: 0 auto;
				left: 0;
				right: 0;
			}

			.scroll-view_H {
				height: 80rpx;
				display: flex;
				align-items: center;
				overflow-x: auto;
				text-overflow: ellipsis;
				white-space: nowrap;


			}
		}

		.cell_list {
			padding: 30rpx;
			background-color: #fff;
			border-radius: 20rpx;
			margin-bottom: 20rpx;

			.check_img {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 160rpx;
				height: 80rpx;
				font-size: 24rpx;
				text-align: center;
				border: 2rpx solid #eaeaea;
			}

			.gopay_btn {
				width: 120rpx;
				color: #FFFFFF;
				font-size: 24rpx;
				text-align: center;
				padding: 14rpx 0;
				border-radius: 10rpx;
				margin-left: 20rpx;
				background-image: linear-gradient(to right, #A98AFF, #B573FF);
			}

			.close_btn {
				width: 120rpx;
				font-size: 24rpx;
				text-align: center;
				padding: 10rpx 0;
				border-radius: 10rpx;
				color: #B573FF;
				background-color: #FFFFFF;
				border: 2rpx solid #B573FF;
				margin-left: 10rpx;
			}
		}
	}
</style>
