<template>
	<view class="userapprove">
		<view class="form_box">
			<view class="form_cell">
				<u-form-item label="面试时间" label-position="top">
					<uni-datetime-picker v-model="single" :start="defaultTime" @change="changeLog">
						<view class="" v-if="time">{{time}}</view>
						<view class="c-gray" v-else>请选择面试时间</view>
					</uni-datetime-picker>
					<!-- <u-input type="select" placeholder="请选择面试时间" :value="time" @click="showTime = true" /> -->
				</u-form-item>

			</view>
			<!-- <view class="form_cell">
				<u-form-item label="工作年限">
					<u-input placeholder="请输入工作年限" input-align="right" v-model="form.years" />
				</u-form-item>
			</view> -->
			<view class="form_cell">
				<u-form-item label="备注事项" label-position="top">
					<u-input type="textarea" placeholder="请输入备注事项" v-model="content" />
				</u-form-item>
			</view>
		</view>
		<view class="uni-btn-b">
			<button class="submint_btn" form-type="submit" @click="subInvite()" :disabled="subInviteBtn">发送面试邀请</button>
		</view>
		<u-picker mode="time" v-model="showTime" :params="tparams" start-year="2021" start-month="9"
			:default-time="defaultTime" @confirm="chooseTime">
		</u-picker>
		<u-popup v-model="showPop" mode="center" width="80%" border-radius="15" @close="goback">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">面试邀请已发出</view>
				<view class="f-12 mt-10">请您耐心等待对方接受面试邀请</view>
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="pop_btn mt-30" @click="goback">确定</view>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		subInvite,
	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				showPop: false,
				showTime: false,
				defaultTime: '',
				time: '',
				content: '',
				tparams: {
					year: true,
					month: true,
					day: true,
					hour: true,
					minute: true,
					second: false
				},
				subInviteBtn: false
			}
		},
		onReady() {
			var myDate = new Date();
			var Year = myDate.getFullYear()
			var Month = myDate.getMonth() + 1
			var Day = myDate.getDate()
			this.defaultTime = Year + "-" + Month + "-" + Day
			// console.log(myDate.toLocaleDateString() + ' ' + myDate.toLocaleTimeString())

			// this.defaultTime = myDate.toLocaleDateString() + ' ' + myDate.getHours() + ':' + myDate.getMinutes() + ':' +
			// 	myDate.getSeconds()
		},
		onLoad(options) {
			this.worker_uid = options.id
		},
		methods: {
			chooseTime(e) {
				console.log(e)
				this.time = e.year + '-' + e.month + '-' + e.day + ' ' + e.hour + ':' + e.minute
			},
			changeLog(e) {
				this.time = e
			},

			subInvite() {
				this.subInviteBtn = true
				if (this.time) {
					var params = {
						meet_time: this.time,
						worker_uid: this.worker_uid,
						content: this.content
					}
					subInvite(params).then(res => {
						if (res.code == 1) {
							this.showPop=true
						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				} else {
					this.$u.toast('请选择面试时间');
				}
			},
			goback() {
				uni.navigateBack({
					delta: 1
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.uni-btn-b {
		position: fixed;
		bottom: 50px;
		left: 30rpx;
		right: 30rpx;

		button[disabled]:not([type]) {
			color: #FFFFFF;
		}
	}

	.pop_orderbox {
		padding: 60rpx 20rpx;
		overflow: hidden;

		.sub_result {
			width: 230rpx;
			height: 230rpx;
		}
	}

	.pop_btn {
		width: 300rpx;
		height: 80rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFFFFF;
		border-radius: 60px;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
	}
</style>
