<template>
	<view class="member">
		<nav-Bar :height="statusBarHeight" title="我的" :back="false" :search="false"></nav-Bar>
		<tab-Bar :botheight="bottomHeight" pageCode='5'></tab-Bar>
		<view class="index_top" :style="'padding-top:' +bgColor_top+'px;'">
			<view class="userinfo_flex">
				<view class="userinfo_imgbox">
					<open-data class="userinfo_img" type="userAvatarUrl"></open-data>
					<!-- <image class="userinfo_img" src="../../static/images/6.png"></image> -->
					<image v-if="is_realname==1" class="userinfo_approve" src="../../static/images/approve.png"></image>
				</view>
				<view class="userinfo_info">
					<view class="userinfo_name">
						<open-data type="userNickName"></open-data>
					</view>
					<view class="user_open">已开通：
						<span v-if="!noWork" class="open_cell">暂未开通</span>
						<span @click="openUrl('/pages/postlist/postlist')" class="open_cell"
							v-for="(item,index) in worklist" :key="item.id"
							v-if="index<2">{{item.worker_type_text}}</span>
						<u-icon @click="openUrl('/pages/postlist/postlist')" name="more-circle-fill" color="#E7E2F2"
							size="24" v-if="worklist.length>2"></u-icon>
					</view>

					<view class="userinfo_static" @click="showPickerBox" v-if="status_text">状态：{{status_text}}</view>
					<view class="add_static" @click="showPickerBox" v-else>
						<uni-icons type="plusempty" size="12" color="#FFFFFF"></uni-icons>状态
					</view>
					<u-picker v-model="showPicker" mode="selector" :range="statuslist" range-key="name"
						@confirm="bindworkChange"></u-picker>

				</view>
				<view class="text-c ml-30" @click="videoCall">
					<image class="userinfo_video" src="../../static/images/videocall_w.png"></image>
					<view class="f-12 c-white">视频沟通</view>
				</view>
				<view class="text-c">
					<image class="userinfo_setting" src="../../static/images/setting.png"
						@click="opendUrl('/pages/set/set')"></image>
					<image class="userinfo_setting" style="top: 120rpx;" @click="showsharePop"
						src="../../static/images/ercode.png"></image>
				</view>
			</view>
		</view>
		<view :style="'padding: 30rpx;padding-bottom:'+pdbottom+ 'px;'">
			<view class="order_cell">
				<view class="display_flex mb-15" @click="goOrder(0)">
					<view class="f-15 f-600" style="flex: 1;">我的签约</view>
					<uni-icons type="arrowright" size="14" color="#9891A5"></uni-icons>
				</view>
				<view class="display_flex">
					<view class="grid_cell" @click="goOrder(0)">
						<image class="member_icon" src="/static/images/member/allorder.png"></image>
						<view>待确认</view>
					</view>
					<view class="grid_cell" @click="goOrder(1)">
						<image class="member_icon" src="/static/images/member/obligation.png"></image>
						<view>待付款</view>
					</view>
					<view class="grid_cell" @click="goOrder(2)">
						<image class="member_icon" src="/static/images/member/drop.png"></image>
						<view>待上户</view>
					</view>
					<view class="grid_cell" @click="goOrder(4)">
						<image class="member_icon" src="/static/images/member/success.png"></image>
						<view>已完成</view>
					</view>
				</view>
			</view>
			<view class="order_cell mt-10">
				<view class="display_flex mb-15" @click="openUrl('/pages/wallet/wallet')">
					<view class="f-15 f-600" style="flex: 1;">我的钱包</view>
					<uni-icons type="arrowright" size="14" color="#9891A5"></uni-icons>
				</view>
				<view class="display_flex">
					<view class="grid_cell" @click="openUrl('/pages/wallet/wallet')">
						<image class="member_icon" src="/static/images/member/cash.png"></image>
						<view>收支明细</view>
					</view>
					<view class="grid_cell" @click="openUrl('/pages/wallet/expense')">
						<image class="member_icon" src="/static/images/member/paylist.png"></image>
						<view>支出记录</view>
					</view>
					<view class="grid_cell" @click="openUrl('/pages/wallet/withdraw-log')">
						<image class="member_icon" src="/static/images/member/card.png"></image>
						<view>提现记录</view>
					</view>
					<view class="grid_cell" @click="openUrl('/pages/wallet/income')">
						<image class="member_icon" src="/static/images/member/moneylist.png"></image>
						<view>收入记录</view>
					</view>
				</view>
			</view>
			<view class="order_cell mt-10">
				<view class="display_flex top_line" @click="openUrl('/pages/approvetow/approvetow')">
					<view class="cell_left">基本信息</view>
					<view class="cell_right mr-5">完善信息</view>
					<uni-icons type="arrowright" size="15" color="#9891A5"></uni-icons>
				</view>
				<view class="display_flex top_line" @click="openUrl('/pages/postlist/postlist')">
					<view class="cell_left">开通服务</view>
					<view class="cell_right mr-5">开通岗位</view>
					<uni-icons type="arrowright" size="15" color="#9891A5"></uni-icons>
				</view>
				<view class="display_flex top_line" @click="openUrl('/pages/sign/sign')">
					<view class="cell_left">保险订单</view>
					<view class="cell_right mr-5">购买保险</view>
					<uni-icons type="arrowright" size="15" color="#9891A5"></uni-icons>
				</view>
				<view class="display_flex top_line" @click="openUrl('/pages/surveylist/surveylist')">
					<view class="cell_left">背调订单</view>
					<view class="cell_right mr-5">背景调查</view>
					<uni-icons type="arrowright" size="15" color="#9891A5"></uni-icons>
				</view>
				<view class="display_flex top_line"
					@click="openWebview('灵活用工','https://rzqy.hiyintech.com/login.html?orgNo=1011600001')">
					<view class="cell_left">灵活用工</view>
					<view class="cell_right mr-5">签署灵活用工</view>
					<uni-icons type="arrowright" size="15" color="#9891A5"></uni-icons>
				</view>
			</view>
			<view class="order_cell mt-10">
				<view class="display_flex">
					<view class="grid_cell mb-30" @click="opendUrl('/pages/login/agreement?id=2')">
						<image class="member_icon" src="/static/images/member/rule.png"></image>
						<view>隐私政策</view>
					</view>
					<view class="grid_cell" @click="opendUrl('/pages/public/chat/index')">
						<image class="member_icon" src="/static/images/member/serivice.png"></image>
						<view>联系客服</view>
					</view>
					<view class="grid_cell" @click="opendUrl('/pages/faq/faq')">
						<image class="member_icon" src="/static/images/member/guide.png"></image>
						<view>常见问题</view>
					</view>
					<view class="grid_cell" @click="opendUrl('/pages/aboutus/aboutus')">
						<image class="member_icon" src="/static/images/member/about.png"></image>
						<view>关于我们</view>
					</view>
				</view>
			</view>
			<!-- <view class="order_cell mt-10 text-c f-15" @click="loginOut">
				退出
			</view> -->
		</view>
		<u-popup v-model="shareshow" mode="bottom" border-radius="14" height="90px" safe-area-inset-bottom="true">
			<view class="display_flex pd-30 share_box">
				<button class="share_cell" open-type="share">
					<image class="share_cellimg" src="../../static/images/share_wechat.png"></image>
					<view>微信好友</view>
				</button>
				<view class="share_cell" @click="getShareImgd">
					<image class="share_cellimg" src="../../static/images/share_img.png"></image>
					<view>生成海报</view>
				</view>
				<!-- <view class="share_cell">
					<image class="share_cellimg" src="../../static/images/share_link.png"></image>
					<view>复制链接</view>
				</view> -->
			</view>
		</u-popup>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
		<u-popup v-model="showShareImg" mode="center" border-radius="15" width="80%">
			<image @load="imageLoad" mode="widthFix" style="width: 100%;" :src="shareImg"></image>
			<view class="shareimg_btn" @click="saveShareimg">保存到相册</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getWorkService,
		getUserStatus,
		getusernewStatus,
		changeUserStatus,
		getShareCode,
		getShareImg
	} from '@/api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				bottomHeight: getApp().globalData.bottomHeight,
				statusBarHeight: getApp().globalData.statusBarHeight,
				bgColor_top: getApp().globalData.statusBarHeight + 40,
				pdbottom: getApp().globalData.bottomHeight + 70,
				shareshow: false,
				noWork: false,
				worklist: [],
				statuslist: [],
				status_text: '',
				showPicker: false,
				is_realname: 0,
				shareImg: '',
				showShareImg: false,
				isImageLoad: false
			};
		},

		onLoad() {
			var that = this
			if (uni.getStorageSync('isdbindwork')) {
				setTimeout(function() {
					that.showPicker = true
				}, 500)
				uni.removeStorage({
					key: 'isdbindwork'
				})
			}
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			//开通服务列表
			getWorkService() {
				getWorkService().then(res => {
					if (res.code == 1) {
						this.worklist = res.data.data_list
						if (res.data.total > 0) {
							this.noWork = true
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//状态列表
			getUserStatus() {
				getUserStatus().then(res => {
					if (res.code == 1) {
						this.statuslist = res.data

					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//获取当前状态
			getusernewStatus() {
				getusernewStatus().then(res => {
					if (res.code == 1) {
						this.status_text = res.data.worker_status_text
						this.status_type_id = res.data.status_type_id
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},

			//弹出状态
			showPickerBox() {
				this.showPicker = true
			},
			//选择修改状态
			bindworkChange(e) {

				if (uni.getStorageSync('token')) {
					var index = e
					this.status_text = this.statuslist[index].name
					changeUserStatus({
						status_type_id: this.statuslist[index].id
					}).then(res => {
						if (res.code == 1) {
							this.statuslist = res.data

						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}

			},
			//弹出分享框
			showsharePop() {
				if (uni.getStorageSync('token')) {
					this.shareshow = true
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}

			},
			//跳转页面
			openUrl(url) {
				if (uni.getStorageSync('token')) {
					if (url == '/pages/sign/sign') {
						uni.switchTab({
							url: url
						})
					} else {
						uni.navigateTo({
							url: url
						})
					}

				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			opendUrl(url) {
				if (url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			//视频面试
			videoCall() {
				if (uni.getStorageSync('token')) {
					uni.setStorage({
						key: 'istab',
						data: 2
					})
					uni.switchTab({
						url: '/pages/message/message'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			//订单
			goOrder(type) {
				console.log(type)
				if (uni.getStorageSync('token')) {
					uni.navigateTo({
						url: '/pages/orderlist/orderlist?type=' + type
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			openWebview(title, url) {
				app.globalData.weburl = url
				uni.navigateTo({
					url: '/pages/webview/webview?title=' + title
				})
			},
			getShareImgd() {
				uni.showLoading({
					title: '正在生成'
				})
				getShareImg().then(res => {
					if (res.code == 1) {
						if (this.isImageLoad) {
							this.shareshow = false
							this.showShareImg = true
							uni.hideLoading()
						} else {
							this.shareImg = res.data.pic
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			imageLoad() {
				this.isImageLoad = true
				this.shareshow = false
				this.showShareImg = true
				uni.hideLoading()
			},
			saveShareimg() {
				var that = this
				uni.showLoading({
					title: '正在保存'
				})
				uni.downloadFile({
					url: that.shareImg,
					success: function(res) {
						var tempFilePath = res.tempFilePath
						console.log(res.tempFilePath)
						uni.authorize({
							scope: 'scope.writePhotosAlbum',
							success() {
								uni.saveImageToPhotosAlbum({
									filePath: tempFilePath,
									success: function() {
										uni.hideLoading()
										that.showShareImg = false
										uni.showToast({
											title: '保存成功了，快去分享吧~',
											icon: 'none',
											duration: 1500
										});
										console.log('save success');
									},
									fail(e) {
										console.log('下载失败')
									}
								});
							},
							fail() {
								console.log('未授权')
							}
						})

					},
				})
			}
		},
		onShow: function() {
			uni.hideTabBar({
				animation: false
			})
			this.getUserStatus()
			if (uni.getStorageSync('token')) {
				this.getWorkService()
				this.getusernewStatus()
				this.is_realname = uni.getStorageSync('member').is_realname
				getShareCode().then(res => {
					if (res.code == 1) {
						this.spm = res.data.spm
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			}
		},
		onShareAppMessage(res) {
			if (res.from === 'button') {}
			this.shareshow = false
			return {
				path: '/pages/member/member?scene=' + this.spm
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.member {
		background-color: #F5F3F8;

		.index_top {
			width: 100%;
			height: 240rpx;
			background-image: linear-gradient(to right, #A98AFF, #B573FF);

			.userinfo_flex {
				display: flex;
				align-items: center;
				position: relative;
				padding: 30rpx 40rpx;
			}

			.userinfo_imgbox {
				width: 120rpx;
				height: 120rpx;
				position: relative;

				.userinfo_img {
					width: 100%;
					height: 100%;
					display: block;
					overflow: hidden;
					border-radius: 50%;
				}

				.userinfo_approve {
					width: 40rpx;
					height: 40rpx;
					position: absolute;
					bottom: 0;
					right: 0;
				}

			}

			.userinfo_info {
				margin-left: 30rpx;

				.userinfo_name {
					font-size: 36rpx;
					color: #FFFFFF;
					font-size: 600;
				}

				.userinfo_static {
					color: #FFFFFF;
					font-size: 24rpx;
					margin-top: 10rpx;
				}

				.add_static {
					width: 100rpx;
					height: 40rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #FFFFFF;
					font-size: 24rpx;
					margin-top: 10rpx;
					border: 1rpx solid #E7E2F2;
					border-radius: 30px;

				}

				.user_open {
					color: #FFFFFF;
					display: flex;
					align-items: center;
					font-size: 24rpx;
					margin-top: 10rpx;

					.open_cell {
						color: #5602AC;
						font-size: 20rpx;
						padding: 3rpx 8rpx;
						background-color: #E7E2F2;
						border-radius: 30px;
						margin-right: 10rpx;
					}
				}

				.chioced {
					color: #39373D;
					font-size: 24rpx;
					margin-top: 20rpx;
				}
			}

			.userinfo_video {
				width: 60rpx;
				height: 60rpx;
			}

			.userinfo_setting {
				width: 48rpx;
				height: 48rpx;
				position: absolute;
				top: 30rpx;
				right: 30rpx;
			}
		}

		.order_cell {
			padding: 30rpx;
			border-radius: 20rpx;
			background-color: #FFFFFF;

			.grid_cell {
				width: 25%;
				color: #000000;
				font-size: 24rpx;
				text-align: center;
				padding: 12rpx 0;

				.member_icon {
					width: 72rpx;
					height: 72rpx;
				}
			}

			.cell_left {
				flex: 1;
				color: #111111;
				font-size: 30rpx;
				font-weight: 500;
			}

			.cell_right {
				color: #9891A5;
				font-size: 26rpx;
			}

			.top_line {
				border-bottom: 1rpx solid #ECECEC;
				padding: 30rpx 0;
			}

			.top_line:first-child {
				padding: 0 0 30rpx 0;
			}

			.top_line:last-child {
				padding: 30rpx 0 0 0;
				border-bottom: none;
			}
		}

		.share_box {
			button {
				line-height: 1.4;
				background-color: transparent;
			}

			button::after {
				border: none;
			}
		}
	}
</style>
