<template>
	<view class="userapprove">
		<u-steps :list="numList" mode="number" active-color="#6943FA" un-active-color="#9891A5" :current="2"></u-steps>

		<view class="form_box">
			<view class="form_cell">
				<view class="display_flex" @click="checkCollapse(3)">
					<view class="collapse_title">健康证明</view>
					<u-icon name="arrow-up" color="#9891A5" v-if="showHealth"></u-icon>
					<u-icon name="arrow-down" color="#9891A5" v-else></u-icon>
				</view>
				<view class="showanimation" v-if="showHealth">
					<!-- <view class="formimg_box">
						<u-form-item v-for="(item,index) in cerform.medical_json" :key="item" :label="item.info">
							<u-radio-group v-model="item.selected">
								<u-radio @change="radioChange(index,1)" :name="index"  key="1" active-color="#6943FA" name="1">正常</u-radio>
								<u-radio @change="radioChange(index,2)" :name="index" key="2" active-color="#6943FA" name="2">异常</u-radio>
							</u-radio-group>
						</u-form-item>
					</view> -->
					<view class="f-12 mb-10">上传照片、健康证、体检证明等</view>
					<view class="formimg_box">
						<u-grid :col="3" :border="false">
							<u-grid-item v-for="(item,index) in cerform.medical_images" :key="index">
								<view style="position: relative;">
									<image class="formimg" :src="imgUrl+item"></image>
									<u-icon class="delIcon" @click="delImg(3,index)" name="close-circle-fill"
										color="#FF4455"></u-icon>
								</view>
							</u-grid-item>
							<u-grid-item>
								<image class="formimg" src="../../static/images/def_img.png" @click="chooseMoreImg(3)">
								</image>
							</u-grid-item>
						</u-grid>
					</view>
				</view>
			</view>
			<view class="form_cell">
				<view class="display_flex" @click="checkCollapse(1)">
					<view class="collapse_title">学历证书</view>
					<u-icon name="arrow-up" color="#9891A5" v-if="showEdu"></u-icon>
					<u-icon name="arrow-down" color="#9891A5" v-else></u-icon>
				</view>
				<view class="showanimation" v-if="showEdu">
					<view class="f-12 mb-10">证书封皮，证书内页</view>
					<view class="formimg_box">
						<u-grid :col="3" :border="false">
							<u-grid-item v-for="(item,index) in cerform.edu_images" :key="item">
								<view style="position: relative;">
									<image class="formimg" :src="imgUrl+item"></image>
									<u-icon class="delIcon" @click="delImg(1,index)" name="close-circle-fill"
										color="#FF4455"></u-icon>
								</view>
							</u-grid-item>
							<u-grid-item>
								<image class="formimg" src="../../static/images/def_img.png" @click="chooseMoreImg(1)">
								</image>
							</u-grid-item>
						</u-grid>
					</view>
				</view>
			</view>
			<view class="form_cell">
				<view class="display_flex" @click="checkCollapse(2)">
					<view class="collapse_title">技能证书</view>
					<u-icon name="arrow-up" color="#9891A5" v-if="showSkill"></u-icon>
					<u-icon name="arrow-down" color="#9891A5" v-else></u-icon>
				</view>
				<view class="showanimation" v-if="showSkill">
					<view class="f-12 mb-10">上传照片、职业（职称）、技能证书</view>
					<view class="formimg_box">
						<u-grid :col="3" :border="false">
							<u-grid-item v-for="(item,index) in cerform.skill_images" :key="item">
								<view style="position: relative;">
									<image class="formimg" :src="imgUrl+item"></image>
									<u-icon class="delIcon" @click="delImg(2,index)" name="close-circle-fill"
										color="#FF4455"></u-icon>
								</view>
							</u-grid-item>
							<u-grid-item>
								<image class="formimg" src="../../static/images/def_img.png" @click="chooseMoreImg(2)">
								</image>
							</u-grid-item>
						</u-grid>
					</view>
				</view>
			</view>
			<view class="form_cell">
				<view class="display_flex" @click="checkCollapse(4)">
					<view class="collapse_title">成果展示</view>
					<u-icon name="arrow-up" color="#9891A5" v-if="showResult"></u-icon>
					<u-icon name="arrow-down" color="#9891A5" v-else></u-icon>
				</view>
				<view class="showanimation" v-if="showResult">
					<view class="f-12 mb-10">上传照片（5张以内，除您本人外，其他人员请打上马赛克）</view>
					<view class="formimg_box">
						<u-grid :col="3" :border="false">
							<u-grid-item v-for="(item,index) in cerform.show_images" :key="index">
								<view style="position: relative;">
									<image class="formimg" :src="imgUrl+item"></image>
									<u-icon class="delIcon" @click="delImg(4,index)" name="close-circle-fill"
										color="#FF4455"></u-icon>
								</view>
							</u-grid-item>
							<u-grid-item>
								<image class="formimg" src="../../static/images/def_img.png" @click="chooseMoreImg(4)">
								</image>
							</u-grid-item>
						</u-grid>
					</view>
				</view>
			</view>

			<view class="form_cell">
				<view class="display_flex" @click="checkCollapse(5)">
					<view class="collapse_title">自我介绍视频</view>
					<u-icon name="arrow-up" color="#9891A5" v-if="showMyself"></u-icon>
					<u-icon name="arrow-down" color="#9891A5" v-else></u-icon>
				</view>
				<view class="showanimation" v-if="showMyself">
					<view class="f-12 mb-10">上传视频（30秒以内）</view>
					<view class="formimg_box">
						<view class="formimg_box" style="position: relative;">
							<view class="video_box" style="position: relative;">
								<video class="video_formimg" :src="viodeurl" controls v-if="viodeurl"></video>
								<image class="video_formimg" src="../../static/images/def_img.png" v-else
									@click="chooseVideo"></image>
								<u-icon v-if="viodeurl" class="delIcon" @click="delImg(5,index)"
									name="close-circle-fill" color="#FF4455">
								</u-icon>
							</view>
						</view>

					</view>
				</view>
			</view>
			<view class="uni-btn-v">
				<button class="submint_btn" form-type="submit" @click="threeSub()">提交</button>
			</view>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getCertlist,
		postCert
	} from '@/api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				imgUrl: getApp().globalData.imgUrl,
				numList: [{
					name: '身份认证'
				}, {
					name: '个人资料'
				}, {
					name: '资质证明'
				}, {
					name: '岗位信息'
				}, {
					name: '完成注册'
				}],
				certList: {
					edu_images: [],
					skill_images: [],
					medical_images: [],
					show_images: [],
					intro_file: ''
				},
				showEdu: false,
				showSkill: false,
				showHealth: true,
				showResult: false,
				showMyself: false,
				eduImgurlList: [], //学历证书
				skillImgurlList: [], //技能证书
				healthImgurlList: [], //健康
				resultImgurlList: [], //成果

				cerform: {
					edu_images: [], //学历证书
					skill_images: [], //技能证书
					medical_images: [], //健康
					show_images: [], //成果
					intro_file: ''
				},
				viodeurl: '',
			};
		},
		onLoad() {
			this.getCertlist()
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			radioChange(index,select){
				this.cerform.medical_json[index].selected=parseInt(select)
			},
			//选择折叠
			checkCollapse(type) {
				if (type == 1) {
					this.showEdu = this.showEdu ? false : true
				} else if (type == 2) {
					this.showSkill = this.showSkill ? false : true
				} else if (type == 3) {
					this.showHealth = this.showHealth ? false : true
				} else if (type == 4) {
					this.showResult = this.showResult ? false : true
				} else if (type == 5) {
					this.showMyself = this.showMyself ? false : true
				}


			},
			//提交资料进岗位信息
			threeSub() {
				postCert(this.cerform).then(res => {
					if (res.code == 1) {
						this.certList = res.data.data_list
						uni.navigateTo({
							url: '/pages/approvefour/approvefour'
						})
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},

			//获取证件材料
			getCertlist() {
				var params = {
					worker_service_id: uni.getStorageSync('member').worker_type_id_array[0],
					page: 1
				}
				getCertlist(params).then(res => {
					if (res.code == 1) {
						this.cerform = res.data
						this.viodeurl = getApp().globalData.imgUrl + res.data.intro_file
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			chooseMoreImg(type, count) {
				var that = this
				uni.chooseImage({
					count: count ? count : 9,
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album', 'camera'], //从相册选择
					success: function(res) {
						var tempFilePaths = res.tempFilePaths
						if (type == 1) {
							that.eduImgurlList=[...that.eduImgurlList,...res.tempFilePaths]
							that.uploadImage(tempFilePaths, 0, 1)
						} else if (type == 2) {
							that.skillImgurlList=[...that.skillImgurlList,...res.tempFilePaths]
							that.uploadImage(tempFilePaths, 0, 2)
						} else if (type == 3) {
							that.healthImgurlList=[...that.healthImgurlList,...res.tempFilePaths]
							that.uploadImage(tempFilePaths, 0, 3)
						} else if (type == 4) {
							that.resultImgurlList=[...that.resultImgurlList,...res.tempFilePaths]
							that.uploadImage(tempFilePaths, 0, 4)
						}
						uni.showToast({
							title: '正在上传...',
							icon: 'loading',
							mask: true,
							duration: 10000
						})


					}
				});
			},
			//上传多张照片按顺序显示
			uploadImage(files, i, type) {
				var that = this
				var i
				uni.uploadFile({
					// url: '',
					url: app.globalData.uploadUrl,
					filePath: files[i],
					name: 'file',
					success: (res) => {
						var picdata = JSON.parse(res.data);
						if (type == 1) {
							that.cerform.edu_images.push(picdata.data.url);
						} else if (type == 2) {
							that.cerform.skill_images.push(picdata.data.url);
						} else if (type == 3) {
							that.cerform.medical_images.push(picdata.data.url);
						} else if (type == 4) {
							that.cerform.show_images.push(picdata.data.url);
						}

						i++
						if (i < files.length) {
							that.uploadImage(files, i, type)
						} else {
							uni.hideToast();
						}
					}
				});
			},
			//删除图片
			delImg(type, index) {
				if (type == 1) {
					this.cerform.edu_images.splice(index, 1)
				} else if (type == 2) {
					this.cerform.skill_images.splice(index, 1)
				} else if (type == 3) {
					this.cerform.medical_images.splice(index, 1)
				} else if (type == 4) {
					this.cerform.show_images.splice(index, 1)
				} else if (type == 5) {
					this.viodeurl = ''
					this.cerform.intro_file = ''
				}
			},

			//选择视频
			chooseVideo() {
				var that = this
				uni.chooseVideo({
					count: 1,
					sourceType: ['camera', 'album'],
					success: function(res) {
						var tempFilePath = res.tempFilePath
						that.viodeurl = res.tempFilePath
						uni.showToast({
							title: '正在上传...',
							icon: 'loading',
							mask: true,
							duration: 10000
						})
						uni.uploadFile({
							url: app.globalData.uploadUrl,
							filePath: tempFilePath,
							name: 'file',
							success: (res) => {
								uni.hideToast();
								var picdata = JSON.parse(res.data);
								that.cerform.intro_file = picdata.data.url

							}
						});
					}
				});
			},
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}
	.u-form-item--left {
		flex: none !important;
		width: auto !important;
		font-weight: 500 !important;
	}
</style>
