<!-- 提现记录 -->
<template>
	<!-- 记录卡片 -->
	<view class="wallet-log-box u-p-b-30">
		<view class="log-list" v-for="item in withdrawLog" :key="item.id">
			<view class="head u-flex u-col-center u-row-between">
				<view class="title">提现至{{ item.apply_type_text }}</view>
				<view class="num">{{ item.money }} 元</view>
			</view>
			<view class="status-box item  u-flex u-col-center u-row-between">
				<view class="item-title">申请状态</view>
				<view class="status-text" :style="{ color: stausMap[item.status] }">{{ item.status_text }}</view>
			</view>
			<view class="time-box item  u-flex u-col-center u-row-between">
				<text class="item-title">账户信息</text>
				<view class="time u-ellipsis-1">{{ item.apply_info | applyInfoFilter }}</view>
			</view>
			<view class="time-box item  u-flex u-col-center u-row-between">
				<text class="item-title">提现单号</text>
				<view class="time">{{ item.apply_sn }}</view>
			</view>
			<view class="time-box item  u-flex u-col-center u-row-between">
				<text class="item-title">手续费</text>
				<view class="time">{{ item.charge_money }} 元</view>
			</view>
			<view class="time-box item  u-flex u-col-center u-row-between">
				<text class="item-title">申请时间</text>
				<view class="time">{{ $u.timeFormat(item.createtime, 'yyyy.mm.dd hh:MM:ss') }}</view>
			</view>
		</view>
		<view class="text-c c-gray" style="margin-top: 10%;" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
		<view style="margin-top: 10%;" v-if="isEmpty">
			<u-empty text="暂无数据" mode="list"></u-empty>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		publicApiGet,
		publicApiPost
	} from '@/api/ayi.js';

	export default {
		components: {},
		data() {
			return {
				showLoading:true,
				showAllPop: getApp().globalData.showAllPop,
				withdrawLog: [],
				loadStatus: 'loadmore', //loadmore-加载前的状态，loading-加载中的状态，nomore-没有更多的状态
				currentPage: 1,
				lastPage: 1,
				isEmpty: false,
				stausMap: {
					0: '#999',
					1: '#EFAF41',
					2: '#70C140',
					'-1': '#ED5B56'
				}
			};
		},
		computed: {},
		filters: {
			applyInfoFilter: function(value) {
				if (!value) return '-';
				return Object.values(value).join(' | ');
			}
		},
		onLoad() {
			this.getLog();
		},
		// 触底加载更多
		onReachBottom() {
			if (this.currentPage < this.lastPage) {
				this.currentPage += 1;
				this.getLog();
			}
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			// 确认提交表单
			getLog() {
				let that = this;
				publicApiGet('/api/user_wallet_apply/apply_list', {
					page: that.currentPage
				}).then(res => {
					this.showLoading = false
					if (res.code === 1) {
						that.withdrawLog = [...that.withdrawLog, ...res.data.data];
						that.isEmpty = !that.withdrawLog.length;
						that.lastPage = res.data.last_page;
						that.loadStatus = that.currentPage < res.data.last_page ? 'loadmore' : 'nomore';
					}
				});
			}
		},
		onPullDownRefresh() {
			this.showLoading = true
			this.withdrawLog=[]
			this.currentPage = 1
			this.getLog();
		}
	};
</script>

<style lang="scss">
	// 记录卡片
	.log-list {
		min-height: 213rpx;
		background: #ffffff;
		margin-bottom: 10rpx;
		padding-bottom: 10rpx;

		.head {
			padding: 0 35rpx;
			height: 80rpx;
			border-bottom: 1rpx solid #eee;
			margin-bottom: 20rpx;

			.title {
				font-size: 28rpx;
				font-weight: 500;
				color: #333333;
			}

			.num {
				font-size: 28rpx;
				font-weight: 500;
				color: #7063d2;
			}
		}

		.item {
			padding: 0 30rpx 10rpx;

			.item-icon {
				color: #c0c0c0;
				font-size: 36rpx;
				margin-right: 8rpx;
			}

			.item-title {
				width: 180rpx;
				font-size: 24rpx;
				font-weight: 400;
				color: #c0c0c0;
			}

			.status-text {
				font-size: 24rpx;
				font-weight: 500;
				color: #05c3a1;
			}

			.time {
				font-size: 24rpx;
				font-weight: 400;
				color: #c0c0c0;
			}
		}
	}
</style>
