<template>
	<view class="userapprove">
		<view style="padding-bottom: 80rpx;">
			<view class="cell_list" v-for="(item,index) in trainlist" :key="item" @click="traininfo(index)">
				<view class="pd-30">
					<view class="display_flex">
						<view class="cell_left f-12">
							<span class="f-14 f-w">开始时间：</span>{{item.start_time_date}}
						</view>
						<view class="cell_left f-12">
							<span class="f-14 f-w">结束时间：</span>{{item.end_time_date}}
						</view>
					</view>
					<view class="mt-10">
						<view class="cell_left f-12">
							<span class="f-14 f-w">培训机构：</span>{{item.org_name}}
						</view>
					</view>
					<view class="mt-10 display_flex">
						<view class="cell_left f-12">
							<span class="f-14 f-w">培训类目：</span>{{item.peixun_intro}}
						</view>
						<view class="cell_left f-12">
							<span class="f-14 f-w">是否取得证书：</span>{{item.cert_switch==0?'是':'否'}}
						</view>
					</view>

					<view class="mt-10">
						<view class="cell_left f-12">
							<span class="f-14 f-w">省市县：</span>{{item.address_city}}
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="addwork" @click="showPop">添加</view>
		<u-popup v-model="show" mode="center" width="90%" height="auto" :closeable="true">
			<view class="form_box" style="padding-top: 30rpx;">
				<u-form :model="form" ref="uForm" label-align="left">
					<view class="form_cell">
						<u-form-item label="开始时间" prop="start_time">
							<u-input type="select" input-align="right" :select-open="starTimeShow"
								v-model="form.start_time" placeholder="请选择开始时间" @click="starTimeShow = true"></u-input>
						</u-form-item>
						<u-form-item label="结束时间" prop="end_time">
							<u-input type="select" input-align="right" :select-open="endTimeShow"
								v-model="form.end_time" placeholder="请选择结束时间" @click="endTimeShow = true"></u-input>
						</u-form-item>
						<u-form-item label="省市县" prop="address_city">
							<u-input type="select" input-align="right" :select-open="pickerShow"
								v-model="form.address_city" placeholder="请选择地区" @click="pickerShow = true"></u-input>
						</u-form-item>
						<u-form-item label="培训机构" prop="org_name">
							<u-input placeholder="请输入培训机构" input-align="right" v-model="form.org_name" />
						</u-form-item>
						<u-form-item label="是否取得证书" prop="cert_switch">
							<u-radio-group v-model="form.cert_switch">
								<u-radio key="0" active-color="#6943FA" name="0">否</u-radio>
								<u-radio key="1" active-color="#6943FA" name="1">是</u-radio>
							</u-radio-group>
						</u-form-item>
						<u-form-item label="培训类目" label-position="top" prop="peixun_intro">
							<u-input type="textarea" placeholder="请输入培训类目" input-align="left"
								v-model="form.peixun_intro" />
						</u-form-item>
						<u-form-item label="备注" label-position="top" prop="intro">
							<u-input type="textarea" placeholder="请输入备注" v-model="form.intro" />
						</u-form-item>
					</view>
					<view class="display_flex">
						<view class="delwork" @click="delTrain(form.id)" v-if="form.id">删除</view>
						<view class="subwork" @click="subTrain()">保存</view>
					</view>
				</u-form>
			</view>
		</u-popup>
		<u-picker mode="region" v-model="pickerShow" @confirm="regionConfirm"></u-picker>
		<u-picker mode="time" :params="tparams" v-model="starTimeShow" @confirm="startimeConfirm"></u-picker>
		<u-picker mode="time" :params="tparams" v-model="endTimeShow" @confirm="endtimeConfirm"></u-picker>
		<view class="text-c c-gray" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
		<view style="margin-top: 10%;" v-if="isEmpty==0">
			<u-empty text="暂无数据" mode="list"></u-empty>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getTrainlist,
		getWorkService,
		addTrain,
		editTrain,
		delTrain
	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				showLoading: true,
				showEmpty: false,
				show: false,
				params: {
					page: 1,
					worker_service_id: 0,
				},
				trainlist: [],
				isEmpty: 1,
				form: {
					peixun_intro: '',
					intro: ''
				},
				pickerShow: false,
				starTimeShow: false,
				endTimeShow: false,
				tparams: {
					year: true,
					month: true,
					day: true,
					hour: false,
					minute: false,
					second: false
				},
			};
		},

		onLoad() {
			this.form = {
				peixun_intro: '请输入培训类目',
				intro: '请输入备注'
			}
			this.getWorkService()
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			showPop() {
				this.form = {
					peixun_intro: '',
					intro: ''
				}
				this.show = true
			},
			getWorkService() {
				getWorkService().then(res => {
					if (res.code == 1) {
						var worklist = res.data.data_list
						this.worker_service_id = worklist[0].worker_type_id
						this.params.worker_service_id = worklist[0].worker_type_id
						this.getTrainlist()
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			getTrainlist() {
				getTrainlist(this.params).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						this.trainlist = [...this.trainlist, ...res.data.data_list];
						this.isEmpty = this.trainlist.length
						this.last_page = res.data.last_page
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择省市县
			regionConfirm(e) {
				this.form.address_city = e.province.label + e.city.label + e.area.label
				this.form.code = e.area.value
			},
			//开始时间
			startimeConfirm(e) {
				this.form.start_time = e.year + "-" + e.month + "-" + e.day
			},
			//结束时间
			endtimeConfirm(e) {
				this.form.end_time = e.year + "-" + e.month + "-" + e.day
			},
			traininfo(index) {
				this.listindex = index
				this.form = this.trainlist[index]
				this.form.start_time = this.trainlist[index].start_time_date
				this.form.end_time = this.trainlist[index].end_time_date
				this.show = true
			},
			subTrain(name) {
				if (this.form.id) {
					editTrain(this.form).then(res => {
						if (res.code == 1) {
							this.show = false
							this.trainlist[this.listindex] = this.form
							this.form = {
								start_time: '',
								end_time: '',
								cert_switch: '',
								org_name: '',
								address_city: '',
								peixun_intro: '',
								intro: ''
							}
						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				} else {
					addTrain(this.form).then(res => {
						if (res.code == 1) {
							this.show = false
							this.params.page = 1
							this.trainlist = []
							this.getTrainlist()
							this.form = {
								start_time: '',
								end_time: '',
								cert_switch: '',
								org_name: '',
								address_city: '',
								peixun_intro: '',
								intro: ''
							}
						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				}

			},

			delTrain(id) {
				var params = {
					id: id
				}
				delTrain(params).then(res => {
					if (res.code == 1) {
						this.trainlist.splice(this.listindex, 1)
						this.isEmpty = this.trainlist.length
						this.show = false
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.trainlist = []
			this.getTrainlist()
			uni.stopPullDownRefresh()
		},
		onReachBottom() {
			if (this.last_page > this.params.page) {
				this.params.page = this.params.page + 1
				this.getTrainlist()
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.userapprove {
		padding: 30rpx;
	}

	.addwork {
		position: fixed;
		bottom: 50rpx;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 14px;
		border-radius: 30px;
		color: #FFFFFF;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
		margin: 0 20%;
		padding: 15rpx 100rpx;
	}

	.display_flex {
		justify-content: center;
	}

	.delwork {
		color: #39373D;
		font-size: 24rpx;
		border: 1rpx solid #F5F3F8;
		background-color: #F5F3F8;
		padding: 15rpx 100rpx;
		border-radius: 60rpx;
		margin: 20rpx;
	}

	.subwork {
		color: #FFFFFF;
		font-size: 24rpx;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
		padding: 15rpx 100rpx;
		border-radius: 60rpx;
		margin: 20rpx;
	}

	.cell_list {
		background-color: #fff;
		border-radius: 20rpx;
		margin-bottom: 50rpx;
		font-size: 24rpx;

		.cell_left {
			color: #39373D;
			font-size: 26rpx;
			flex: 1;
		}

		.cell_right {
			color: #9891A5;
			float: right;
			font-size: 26rpx;
			text-align: right;
			display: flex;
			align-items: center;


			.cell_list_chat {
				width: 32rpx;
				height: 32rpx;
			}
		}
	}
</style>
