<template>
	<view class="order">
		<view class="order_box" :style="'padding-bottom:' +pdbottom+'px;'">
			<view class="order_cell" v-if="!info.order_id">
				<view class="work_title">服务：{{info.worker_money_name}}</view>
				<view class="userinfo_flex mt-10">
					<view class="userinfo_imgbox">
						<image class="userinfo_img" :src="info.avatar"></image>
						<image class="userinfo_approve" v-if="info.is_real" src="../../static/images/approve.png">
						</image>
					</view>
					<view class="userinfo_info">
						<view class="userinfo_name">{{info.name}}</view>
						<!-- <view class="userinfo_static">服务：{{info.worker_money_name}}</view> -->
						<view class="userinfo_price">
							<span style="font-size: 22rpx;">￥</span>
							<span style="font-width: 600;">{{info.checkMoneyName}}</span>
							<!-- <span style="font-size: 22rpx;margin-left: 2rpx;"> 起</span>
							<span style="font-size: 22rpx;margin-left: 2rpx;color: #9891A5;">/26天</span> -->
						</view>
					</view>
					<view class="text-r">
						<image class="cell_list_chat" @click="goeasy(info.uid,info.worker_money_id)"
							src="/static/images/chat.png"></image>
						<view class="display_flex mt-15">
							<view :class="num>1?'f-14':'f-14 c-gray'" style="padding: 5rpx 30rpx;" @click="minusNum">➖
							</view>
							<view class="num_box">{{form.nums}}</view>
							<view class="f-14" style="padding: 5rpx 30rpx;" @click="addNum">➕</view>
						</view>
					</view>
				</view>
				<view class="line mt-10"></view>
				<view class="reserve_state">
					<view class="display_flex f-14" style="color: #696572;" @click="showPopTips=true">预订须知<u-icon
							name="info-circle" color="#9891A5" size="28"></u-icon>
					</view>
					<!-- <view class="mt-5 f-12" style="color: #9891A5;">
						订单需等月嫂方确认并签署合同后才能进行定金支付，月嫂上户5天内支付尾款；0违约金机制，月嫂不满意可随时退换。
					</view> -->
				</view>
			</view>
			<u-form :model="form" ref="uForm" label-align="left" :rules="rules" :error-type="errorType">
				<view class="order_cell mt-10">
					<u-form-item label="上户时间" required prop="start_time_text">
						<uni-datetime-picker type="date" v-model="form.start_time_text" :start="defaultTime"
							@change="changeLog">
							<view class="f-r" v-if="form.start_time_text">{{form.start_time_text}}</view>
							<view class="f-r f-13" style="color: #b3b3b3;" v-else>请选择上户时间</view>
						</uni-datetime-picker>
						<!-- <u-input placeholder="请选择上户时间" input-align="right" v-model="form.start_time_text"
							:border="border" type="select" :select-open="timepickerShow" @click="timepickerShow=true" /> -->
					</u-form-item>
					<u-form-item label="上户方式" required prop="stay_type">
						<u-radio-group v-model="form.stay_type" @change="radioStay">
							<u-radio key="1" active-color="#6943FA" name="1">白班</u-radio>
							<u-radio key="2" active-color="#6943FA" name="2">住家</u-radio>
							<u-radio key="3" active-color="#6943FA" name="3">均可</u-radio>
						</u-radio-group>
					</u-form-item>
				</view>
				<view class="order_cell mt-10">
					<u-form-item label="上户地区" required prop="address_city">
						<u-input placeholder="请选择上户地址" input-align="right" v-model="form.address_city" :border="border"
							type="select" :select-open="pickerShow" @click="pickerShow = true" />
					</u-form-item>
					<u-form-item label="详细地址" required prop="addr">
						<u-input placeholder="例: 太阳宫地区16号6号楼801" input-align="right" v-model="form.addr" type="text" />
					</u-form-item>
				</view>
				<view class="order_cell mt-10">
					<view class="display_flex" @click="showPopTips=true">
						<view class="cell_left f-w">预订人</view>
						<u-icon name="info-circle" color="#9891A5" size="28"></u-icon>
					</view>
					<u-form-item label="真实姓名" required prop="employer_name">
						<u-input placeholder="请填写姓名" input-align="right" v-model="form.employer_name" />
					</u-form-item>
					<u-form-item label="身份证号" required prop="employer_idcard">
						<u-input placeholder="请填写身份证号码" input-align="right" type="idcard"
							v-model="form.employer_idcard" />
					</u-form-item>
					<u-form-item label="手机号" required prop="employer_mobile">
						<u-input placeholder="请填写联系手机号" input-align="right" maxlength="11"
							v-model="form.employer_mobile" type="number">
						</u-input>
					</u-form-item>
				</view>
			</u-form>
			<view class="order_bottext">
				<view class="f-11 text-c">
					<span class="mr-10">—————</span>服务保障<span class="ml-10">—————</span>
				</view>
				<view class="f-10 display_flex mt-10">
					<view style="width: 20%;text-align: center;margin-right: 30rpx;">
						<uni-icons type="checkbox" class="mr-5" size="12"></uni-icons>实名认证
					</view>
					<view style="width: 20%;text-align: center;margin-right: 30rpx;">
						<uni-icons type="checkbox" class="mr-5" size="12"></uni-icons>背景调查
					</view>
					<view style="width: 20%;text-align: center;margin-right: 30rpx;">
						<uni-icons type="checkbox" class="mr-5" size="12"></uni-icons>保险保障
					</view>
					<view style="width: 20%;text-align: center;margin-right: 30rpx;">
						<uni-icons type="checkbox" class="mr-5" size="12"></uni-icons>退单保障
					</view>
					<view style="width: 20%;text-align: center;">
						<uni-icons type="checkbox" class="mr-5" size="12"></uni-icons>电子发票
					</view>
				</view>
			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:' +bottomHeight+'px;'">
			<view class="bottom_left">
				<block v-if="!info.order_id">
					<view class="display_flex" @click="showPrice">
						<view class="cell_list_price">
							<span style="font-size: 22rpx;">￥</span>
							<span style="font-width: 600;">{{price_totle}}</span>
							<view class="c-gray f-12">(总额含手续费)</view>
						</view>
						<view class="f-14" style="padding: 20rpx 20rpx 20rpx 0;">
							<!-- 全款¥{{info.checkmoney}} -->
							<span class="priceinfo">明细</span>
						</view>
					</view>

				</block>
			</view>
			<view class="sign_btn" @click="subPayOrder">提交订单</view>
		</view>
		<block v-if="showPriceinfo">
			<view class="popup_mask" @click="closePrice"></view>
			<view class="bottompopup_box">
				<view class="f-18 text-c" style="position: relative;">费用明细<image class="userinfo_close"
						@click="closePrice" src="../../static/images/close.png"></image>
				</view>
				<view class="display_flex mt-20">
					<view class="cell_left">服务单价</view>
					<view class="cell_right f-w">¥{{priceinfo.money}}</view>
				</view>
				<view class="display_flex mt-20">
					<view class="cell_left">购买份数</view>
					<view class="cell_right f-w">x{{priceinfo.nums}}</view>
				</view>
				<view class="display_flex mt-20">
					<view class="cell_left">服务费</view>
					<view class="cell_right f-w">¥{{priceinfo.price_total}}</view>
				</view>
				<view class="display_flex mt-20">
					<view class="cell_left">手续费</view>
					<view class="cell_right f-w c-red" style="color: #FF5555;">
						¥{{priceinfo.order_fee_total}}</view>
				</view>
				<view class="display_flex mt-20">
					<view class="cell_left">合计</view>
					<view class="cell_right f-w">¥{{(priceinfo.total).toFixed(2)}}</view>
				</view>
				<view class="f-11 mt-5" style="color: #9891A5;">
					{{priceinfo.tips}}
					<!-- 服务费说明：服务费=（服务单价*购买天数）；手续费=服务费*{{infopre.order_fee_scale*100}}% -->
				</view>
				<view class="line mt-20"></view>
				<view style="max-height: 400rpx;overflow: auto;">
					<block v-for="item in priceinfo.item_list" :key="item">
						<view class="display_flex mt-20">
							<view class="cell_left">{{item.title}}</view>
							<view class="cell_right f-w" style="color: #FF5555;">¥{{item.item_price_total}}</view>
						</view>
						<view class="display_flex mt-5">
							<!-- 定金（7天费用） -->
							<view class="cell_left f-11" style="color: #9891A5;font-size: 22rpx;">{{item.tips}}</view>
							<view class="cell_right f-w f-11" style="color: #9891A5;font-size: 22rpx;">
								¥{{item.order_fee_total}}</view>
						</view>
					</block>
				</view>
			</view>
		</block>
		<u-picker mode="time" v-model="timepickerShow" @confirm="timeConfirm"></u-picker>
		<u-picker mode="region" v-model="pickerShow" @confirm="regionConfirm"></u-picker>
		<u-popup v-model="showPopTips" mode="center" width="75%" border-radius="15">
			<view class="pop_box">
				<view class="text-c f-w f-18">友情提示</view>
				<view class="f-14 mt-30">{{infopre.yuding_xuzhi}}</view>
				<!-- <view class="f-12 mt-15">2、夜间22:00-09:00期间提现申请的资金，需在09:00之后由银行联系系统自动识别提现到账。</view>
				<view class="f-12 mt-15">3、每笔提现金额最低200元起投</view> -->
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="pop_btn mt-20" @click="showPopTips=false">我知道了</view>
				</view>
			</view>
		</u-popup>
		<u-popup v-model="showPopOrder" mode="center" width="80%" border-radius="15" @close="goOrderInfo">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">订单提交成功</view>
				<view class="f-12 mt-10">等待阿姨确认，确认之后，请进行订单支付</view>
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="pop_btn mt-30" @click="goOrderInfo">查看订单详情</view>
				</view>
			</view>
		</u-popup>
		<u-popup v-model="orderFail" mode="center" width="80%" border-radius="15">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_none.png"></image>
				<view class="f-18 f-w mt-20">订单提交失败！</view>
				<view class="f-12 mt-10">等待阿姨确认，确认之后，请进行订单支付</view>
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="pop_btn mt-30" @click="orderFail=false">重新提交</view>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		signOrderadd,
		getPriceInfo,
		getOrderInfo,
		signOrderedit,
		getOrderPre,
	} from '../../api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				bottomHeight: getApp().globalData.bottomHeight ? getApp().globalData.bottomHeight : '',
				pdbottom: getApp().globalData.bottomHeight + 75,
				showPriceinfo: false,
				info: '',
				form: {
					code: '',
					address_city: '',
					addr: '',
					start_time: '',
					start_time_text: '',
					employer_name: '',
					employer_mobile: '',
					employer_idcard: '',
					stay_type: '',
					nums: 1
				},
				timepickerShow: false,
				pickerShow: false,
				showPopTips: false,
				showPopOrder: false,
				orderFail: false,
				priceinfo: '',
				infopre: '',
				price_totle: 0,
				errorType: ['message'],
				defaultTime: '',
				rules: {
					address_city: [{
						required: true,
						message: '请选择上户地址',
						trigger: ['change', 'blur'],
					}],
					addr: [{
						required: true,
						message: '请填写门牌号',
						trigger: ['change', 'blur'],
					}],
					employer_name: [{
						required: true,
						message: '请填写真实姓名',
						trigger: ['change', 'blur'],
					}],
					start_time_text: [{
						required: true,
						message: '请选择上户时间',
						trigger: ['change', 'blur'],
					}],
					stay_type: [{
						required: true,
						type: "number",
						message: '请选择上户方式',
						trigger: 'change'
					}],
					employer_idcard: [{
							required: true,
							message: '请输入身份证号',
							trigger: 'change'
						},
						{
							validator: (rule, value, callback) => {
								// 调用uView自带的js验证规则，详见：https://www.uviewui.com/js/test.html
								return this.$u.test.idCard(value);
							},
							message: '身份证号不正确',
							// 触发器可以同时用blur和change，二者之间用英文逗号隔开
							trigger: ['change', 'blur'],
						}
					],
					employer_mobile: [{
							required: true,
							message: '请输入手机号',
							trigger: ['change', 'blur'],
						},
						{
							validator: (rule, value, callback) => {
								// 调用uView自带的js验证规则，详见：https://www.uviewui.com/js/test.html
								return this.$u.test.mobile(value);
							},
							message: '手机号码不正确',
							// 触发器可以同时用blur和change，二者之间用英文逗号隔开
							trigger: ['change', 'blur'],
						}
					],

				},
			};
		},
		onShow() {
			app.globalData.pageRefresh = ''
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
			var myDate = new Date();
			this.defaultTime = myDate.toLocaleDateString()
		},
		onLoad(options) {
			if (options.id) {
				this.getOrderInfo(options.id)

			} else {
				this.info = app.globalData.orderFace
				this.form.worker_money_id = app.globalData.orderFace.worker_money_id
				this.form.nums = app.globalData.orderFace.num
			}
			this.getOrderPre()

		},
		methods: {
			changeLog(e) {
				this.form.start_time = e
				this.form.start_time_text = e
			},
			getOrderInfo(id) {
				getOrderInfo({
					order_id: id
				}).then(res => {
					if (res.code == 1) {
						this.form = res.data
						this.info = res.data
						this.form.start_time = res.data.start_time_text
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			getOrderPre() {
				getOrderPre().then(res => {
					if (res.code == 1) {
						this.infopre = res.data
						this.price_totle = (this.info.checkmoney * this.form.nums * (1 + parseFloat(res.data.order_fee_scale)))
							.toFixed(2)
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			subPayOrder() {
				this.$refs.uForm.validate(valid => {
					if (valid) {
						if (this.form.order_id) {
							signOrderedit(this.form).then(res => {
								if (res.code == 1) {
									this.order_id = res.data.id
									this.showPopOrder = true
								} else {
									this.orderFail = true
								}
							})
						} else {
							signOrderadd(this.form).then(res => {
								if (res.code == 1) {
									this.order_id = res.data.id
									this.showPopOrder = true
								} else {
									this.orderFail = true
								}
							})
						}


					} else {
						console.log('验证失败');
					}
				});
			},
			goOrderInfo() {
				uni.redirectTo({
					url: '/pages/orderinfo/orderinfo?id=' + this.order_id
				})
			},
			closePop() {
				uni.navigateBack({
					delta: 1
				})
			},
			minusNum() {
				if (this.form.nums > 1) {
					this.form.nums = this.form.nums - 1
					this.price_totle = (this.info.checkmoney * this.form.nums * (1 + parseFloat(this.infopre.order_fee_scale)))
						.toFixed(2)
				}
			},
			addNum() {
				this.form.nums++
				this.price_totle = (this.info.checkmoney * this.form.nums * (1 + parseFloat(this.infopre.order_fee_scale)))
					.toFixed(2)
			},
			showPrice() {

				getPriceInfo({
					worker_money_id: this.form.worker_money_id,
					nums: this.form.nums
				}).then(res => {
					if (res.code == 1) {
						this.priceinfo = res.data
						this.showPriceinfo = true
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			closePrice() {
				this.showPriceinfo = false
			},
			timeConfirm(e) {
				this.form.start_time = e.year + '-' + e.month + '-' + e.day
				this.form.start_time_text = e.year + '-' + e.month + '-' + e.day
			},
			regionConfirm(e) {
				this.form.address_city = e.province.label + ' ' + e.city.label + ' ' + e.area.label
				this.form.code = e.area.value
			},
			radioStay(e) {
				this.form.stay_type = e;
			},
			goeasy(uuid, worker_type) {
				if (uni.getStorageSync('token')) {
					uni.navigateTo({
						url: '/pages/goeasy/goeasy?uid=' + uuid + '&worker_type=' + worker_type
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.order {
		background-color: #F5F3F8;

		.order_box {
			padding: 30rpx;

			.order_cell {
				padding: 30rpx;
				border-radius: 20rpx;
				background-color: #FFFFFF;

				.work_title {
					color: #fff;
					font-size: 24rpx;
					padding: 8rpx 20rpx;
					border-radius: 10rpx;
					background-color: #A98AFF;
					display: inline-block;
				}

				.userinfo_flex {
					display: flex;
					align-items: center;
					position: relative;

					.userinfo_imgbox {
						width: 120rpx;
						height: 120rpx;
						position: relative;
						border-radius: 60px;

						.userinfo_img {
							width: 100%;
							height: 100%;
							border-radius: 60px;
						}

						.userinfo_approve {
							width: 30rpx;
							height: 30rpx;
							position: absolute;
							bottom: 0;
							right: 0;
						}

					}

					.userinfo_info {
						flex: 1;
						margin-left: 30rpx;

						.userinfo_name {
							font-size: 32rpx;
							color: #333333;
							font-size: 600;
							font-weight: 500;
						}

						.userinfo_static {
							color: #666666;
							font-size: 26rpx;
						}

						.userinfo_price {
							color: #FF5555;
							font-size: 32rpx;
							margin-top: 8rpx;
						}

						.chioced {
							color: #39373D;
							font-size: 24rpx;
							margin-top: 20rpx;
						}
					}

					.cell_list_chat {
						width: 32rpx;
						height: 32rpx;

					}
				}

				.reserve_state {
					margin-top: 20rpx;
				}


			}

			.order_bottext {
				color: #9891A5;
				margin-top: 20rpx;
			}
		}

		.cell_left {
			color: #39373D;
			font-size: 26rpx;
		}

		.cell_right {
			flex: 1;
			color: #39373D;
			float: right;
			font-size: 26rpx;
			text-align: right;

			.cell_right_text {
				color: #9891A5;
				display: inline-flex;

				.local_img {
					width: 32rpx;
					height: 32rpx;
					vertical-align: middle;
				}
			}
		}

		.cell_list_price {
			color: #FF5555;
			font-size: 36rpx;
		}

		.priceinfo {
			margin-left: 20rpx;
			color: #5602AC;
			font-size: 28rpx;
			border-radius: 30px;
			padding: 2rpx 20rpx;
			background-color: #E7E2F2;
		}

		.pop_box {
			padding: 60rpx 40rpx;
			overflow: hidden;
		}

		.pop_orderbox {
			padding: 60rpx 20rpx;
			overflow: hidden;

			.sub_result {
				width: 230rpx;
				height: 230rpx;
			}
		}

		.pop_btn {
			width: 300rpx;
			height: 80rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #FFFFFF;
			border-radius: 60px;
			background-image: linear-gradient(to right, #6943FA, #5602AC);
		}

		.u-form-item--left {
			flex: none !important;
			width: auto !important;
			font-weight: 600;
		}

		.u-form-item--left__content__label,
		.u-form-item--left__content {
			flex: none !important;
		}

		.u-form-item__message {
			text-align: right;
		}

		.u-radio-group {
			float: right;

			.u-radio {
				margin-left: 30rpx;
			}

			.u-radio__label {
				margin-right: 0 !important;
				font-size: 28rpx;
			}
		}

	}
</style>
