<template>
	<view class="userapprove">
		<view class="form_box">
			<view class="form_cell" v-for="(item,index) in list" :key="item.id">
				<u-collapse style="position: relative;">
					<u-collapse-item :head-style="headstyle" :title="item.name" :open="true">
						<view class="popchioce_cell" v-for="(itemd,indexd) in item.list" :key="indexd">
							<view class="f-15 f-w">{{itemd.money_type_name}}</view>
							<input class="text-r u-flex-1" :data-index="index" :data-indexd="indexd" @input="inputMoney"
								type="number" :value="itemd.money>0?itemd.money:''" placeholder="请设置金额" />
							<view class="f-14 ml-5">元</view>
						</view>
					</u-collapse-item>
				</u-collapse>
			</view>
			<view class="uni-btn-v" v-if="list.length>0">
				<button class="submint_btn" form-type="submit" @click="subMoney()">提交</button>
			</view>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getMoneyList,
		moneyEdit
	} from '../../api/ayi.js'
	const app=getApp()
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				list: []
			};
		},
		onLoad(options) {
			this.worker_type_id = options.worker_type_id
			this.getMoneyList(options.worker_type_id)
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			getMoneyList() {
				getMoneyList({
					worker_type_id: this.worker_type_id
				}).then(res => {
					if (res.code == 1) {
						this.list = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			inputMoney(e) {
				console.log(e)
				var index = e.currentTarget.dataset.index
				var indexd = e.currentTarget.dataset.indexd
				var money = e.detail.value
				this.list[index].list[indexd].money = parseInt(money)
			},
			subMoney() {
				var params = {}
				moneyEdit(this.list).then(res => {
					if (res.code == 1) {
						app.globalData.money = res.data.min_money
						uni.showToast({
							title: '提交成功',
						})
						setTimeout(function() {
							uni.navigateBack({
								delta: 1
							})
						}, 500)
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})

			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.popchioce_cell {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
</style>
