<template>
	<view class="ordercomment">
		<view class="order_box">
			<view class="order_cell">
				<view class="userinfo_flex mt-10">
					<view class="userinfo_imgbox">
						<image class="userinfo_img" :src="info.worker_avatar"></image>
						<image v-if="info.is_realname" class="userinfo_approve" src="../../static/images/approve.png">
						</image>
					</view>
					<view class="userinfo_info">
						<view class="userinfo_name">{{info.worker_name}}</view>
						<view class="userinfo_static">服务：{{info.worker_type_text}}</view>
					</view>
					<view class="text-r">
						<image @click="goEasy(info.worker_uid,info.worker_type_id)" class="cell_list_chat"
							src="/static/images/chat.png"></image>
					</view>
				</view>
			</view>
			<view class="order_cell mt-10">
				<view class="display_flex">
					<view class="startitle">总体评价</view>
					<u-rate active-color="#FF9000" gutter='30' size="40" :count="count" v-model="form.stars"></u-rate>
				</view>
			</view>
			<view class="order_cell mt-10">
				<view class="work_title">服务能力</view>
				<view class="display_flex">
					<view class="startitle">经验值</view>
					<u-rate active-color="#FF9000" gutter='30' size="40" :count="count" v-model="form.starts_exp">
					</u-rate>
				</view>
				<view class="display_flex mt-10">
					<view class="startitle">专业度</view>
					<u-rate active-color="#FF9000" gutter='30' size="40" :count="count"
						v-model="form.starts_profession"></u-rate>
				</view>
				<view class="display_flex mt-10">
					<view class="startitle">稳定性</view>
					<u-rate active-color="#FF9000" gutter='30' size="40" :count="count" v-model="form.starts_stable">
					</u-rate>
				</view>
			</view>
			<view class="order_cell mt-10">
				<view class="work_title">服务素质</view>
				<view class="display_flex">
					<view class="startitle">服务意识</view>
					<u-rate active-color="#FF9000" gutter='30' size="40" :count="count" v-model="form.starts_aware">
					</u-rate>
				</view>
				<view class="display_flex mt-10">
					<view class="startitle">服务态度</view>
					<u-rate active-color="#FF9000" gutter='30' size="40" :count="count" v-model="form.starts_attitude">
					</u-rate>
				</view>
			</view>
			<view class="order_cell mt-10">
				<view class="work_title">亮点/表彰</view>
				<view class="display_flex">
					<view class="startitle">超出预期</view>
					<u-rate active-color="#FF9000" gutter='30' size="40" :count="count" v-model="form.starts_exceed">
					</u-rate>
				</view>
			</view>
			<view class="order_cell mt-10">
				<u-input v-model="form.content" placeholder="请输入评价内容" height="160" :clearable="false" type="textarea"
					:border="true" />
				<view class="display_flex mt-10">
					<view style="flex: 1;">
						<u-checkbox-group>
							<u-checkbox active-color="#5602AC" v-model="form.anonymous" shape="circle">匿名评价</u-checkbox>
						</u-checkbox-group>
					</view>
					<view class="f-12 c-gray">对商家和其他用户隐藏头像和用户名</view>
				</view>
				<view class="display_flex mt-20">
					<view class="delwork" @click="reset()">重置</view>
					<view class="subwork" @click="subComment()">提交评价</view>
				</view>
			</view>
		</view>


	</view>
</template>

<script>
	import {
		subComment
	} from '../../api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				info: '',
				count: 5,
				form: {
					stars: 0,
					starts_exp: 0,
					starts_profession: 0,
					starts_stable: 0,
					starts_aware: 0,
					starts_attitude: 0,
					starts_exceed: 0,
					content: '',
					anonymous: 0
				}

			};
		},
		onLoad() {
			this.info = getApp().orderinfo
			// getApp().orderinfo = ''
			console.log(getApp().orderinfo)
		},
		methods: {
			reset() {
				this.form = {
					stars: 0,
					starts_exp: 0,
					starts_profession: 0,
					starts_stable: 0,
					starts_aware: 0,
					starts_attitude: 0,
					starts_exceed: 0,
					content: '',
					anonymous: 0
				}
			},
			subComment() {
				this.form.order_id = this.info.order_id
				this.form.worker_uid = this.info.worker_uid
				subComment(this.form).then(res => {
					if (res.code == 1) {
						uni.showToast({
							title: '评论成功',
							icon: 'success',
						})
						app.globalData.pageRefresh = true
						setTimeout(function() {
							uni.navigateBack({
								delta: 1
							})
						}, 1000)
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.ordercomment {
		.order_box {
			padding: 30rpx;

			.order_cell {
				padding: 30rpx;
				border-radius: 20rpx;
				background-color: #FFFFFF;
			}

			.work_title {
				color: #fff;
				font-size: 28rpx;
				font-weight: bold;
				padding: 8rpx 20rpx;
				border-radius: 10rpx;
				background-color: #A98AFF;
				display: inline-block;
				margin-bottom: 20rpx;
			}

			.startitle {
				font-size: 32rpx;
				font-weight: bold;
				width: 140rpx;
			}

			.cell_left {
				color: #39373D;
				font-size: 26rpx;
			}

			.cell_right {
				flex: 1;
				color: #39373D;
				float: right;
				font-size: 26rpx;
				text-align: right;

				.cell_right_text {
					color: #9891A5;
					display: inline-flex;

					.local_img {
						width: 32rpx;
						height: 32rpx;
						vertical-align: middle;
					}
				}
			}

			.userinfo_flex {
				display: flex;
				align-items: center;
				position: relative;

				.userinfo_imgbox {
					width: 120rpx;
					height: 120rpx;
					position: relative;
					border-radius: 50px;

					.userinfo_img {
						width: 100%;
						height: 100%;
						border-radius: 50px;
					}

					.userinfo_approve {
						width: 30rpx;
						height: 30rpx;
						position: absolute;
						bottom: 0;
						right: 0;
					}

				}

				.userinfo_info {
					flex: 1;
					margin-left: 30rpx;

					.userinfo_name {
						font-size: 32rpx;
						color: #333333;
						font-size: 600;
						font-weight: 500;
					}

					.userinfo_static {
						color: #666666;
						font-size: 24rpx;
						margin-top: 8rpx;
					}

					.userinfo_price {
						color: #FF5555;
						font-size: 32rpx;
						margin-top: 8rpx;
					}

					.chioced {
						color: #39373D;
						font-size: 24rpx;
						margin-top: 20rpx;
					}
				}

				.cell_list_chat {
					width: 32rpx;
					height: 32rpx;
					// position: absolute;
					// top: 30rpx;
					// right: 0;
				}
			}

			.delwork {
				text-align: center;
				width: 240rpx;
				color: #39373D;
				font-size: 28rpx;
				border: 1rpx solid #F5F3F8;
				background-color: #F5F3F8;
				padding: 25rpx 0;
				border-radius: 60rpx;
				margin: 20rpx;
			}

			.subwork {
				text-align: center;
				width: 240rpx;
				color: #FFFFFF;
				font-size: 28rpx;
				background-image: linear-gradient(to right, #6943FA, #5602AC);
				padding: 25rpx 0;
				border-radius: 60rpx;
				margin: 20rpx;
			}
		}
	}
</style>
