<!-- 常见问题 -->
<template>
	<view class="faq-box u-p-30">
		<u-collapse event-type="close" :arrow="true" :accordion="true" arrowColor="#333" :headStyle="headStyle" :itemStyle="itemStyle">
			<u-collapse-item :title="index + 1 + '、' + item.title" v-for="(item, index) in faqList" :key="index">{{ item.content }}</u-collapse-item>
		</u-collapse>

		<!-- 更多 -->
		<!-- <u-loadmore v-if="faqList.length" height="80rpx" :status="loadStatus" icon-type="flower" color="#ccc" /> -->
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		publicApiGet,
		publicApiPost
	} from '@/api/ayi.js';
export default {
	components: {},
	data() {
		return {
			showAllPop: getApp().globalData.showAllPop,
			headStyle: {
				color: '#a8700d'
			},
			itemStyle: {
				borderBottom: '1rpx solid #eee',
				padding: '20rpx 0'
			},
			faqList: [],
			loadStatus: 'loadmore', //loadmore-加载前的状态，loading-加载中的状态，nomore-没有更多的状态
			currentPage: 1,
			lastPage: 1
		};
	},
	computed: {},
	onLoad() {
		this.getFaqList();
		
	},
	methods: {
		goPopPage() {
			var url = getApp().globalData.page_url
			if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
				url == '/pages/sign/sign') {
				uni.switchTab({
					url: url
				})
			} else {
				uni.navigateTo({
					url: url
				})
			}
		},
		// 常见问题列表、
		getFaqList() {
			let that = this;
			that.loadStatus = 'loading';
			publicApiGet('/addons/shopro/faq', {page: that.currentPage}).then(res => {
				if (res.code == 1) {
					that.faqList = [...that.faqList, ...res.data.data];
					that.lastPage = res.data.last_page;
					that.loadStatus = that.currentPage < res.data.last_page ? 'loadmore' : 'nomore';
				} else {
					uni.showToast({
						title: res.msg,
						icon: 'none',
						duration: 1500
					});
				}
			})
			// that.$http('other.faqList', {
			// 	page: that.currentPage
			// }).then(res => {
			// 	if (res.code === 1) {
			// 		that.faqList = [...that.faqList, ...res.data.data];
			// 		that.lastPage = res.data.last_page;
			// 		that.loadStatus = that.currentPage < res.data.last_page ? 'loadmore' : 'nomore';
			// 	}
			// });
		}
	},
	onReachBottom() {
		if(this.lastPage>this.currentPage){
			this.currentPage=this.currentPage++
			this.getFaqList()
		}
	}
};
</script>

<style lang="scss">
	.faq-box{
		background-color: #fff;
	}
</style>
