<template>
	<view class="home">
		<!-- <nav-Bar :height="statusBarHeight" title="找工作"></nav-Bar> -->
		<tab-Bar :botheight="bottomHeight" pageCode='1'></tab-Bar>
		<view class="home_box">
			<!-- :style="'margin-top:' +bgColor_top+'px;'" -->
			<view class="sort_box">
				<!-- :style="'margin-top:' +bgColor_top+'px;'" -->
				<view class="sort_cell ellipsis" @click="showCity=true" style="color: #5602AC;padding: 30rpx 0;">
					<view class="uni-input ellipsis">{{cityName}}</view>
					<image class="sort_cell_img" src="../../static/images/drop_down.png"></image>
				</view>
				<view class="sort_cell" @click="dateShow=true"
					:style="params.start_time?'color: #5602AC;padding: 30rpx 0;':'padding: 30rpx 0;'">
					<view class="f-12" v-if="params.start_time">
						<view>{{params.start_time}}</view>
						<view>{{params.end_time}}</view>
					</view>
					<block v-else>上户时间</block>
					<image class="sort_cell_img"
						:src="params.start_time?'../../static/images/drop_down.png':'../../static/images/drop.png'">
					</image>

				</view>
				<view class="sort_cell" :style="params.worker_type>0?'color: #5602AC;':''">
					<!-- <picker style="padding: 30rpx 0;" :value="index" :range="worklist" :range-key="'name'"
						@change="bindworkChange">
						<view class="uni-input ellipsis">{{workName}}</view>
					</picker> -->
					<view class="uni-input ellipsis" @click="showWorkPicker">{{workName}}</view>
					<image class="sort_cell_img"
						:src="params.worker_type>0?'../../static/images/drop_down.png':'../../static/images/drop.png'">
					</image>
				</view>
				<view class="sort_cell" :style="params.sort_type>0?'color: #5602AC;':''">
					<view class="uni-input ellipsis" @click="showSortPicker">{{sortName}}</view>
					<image class="sort_cell_img"
						:src="params.sort_type>0?'../../static/images/drop_down.png':'../../static/images/drop.png'">
					</image>
				</view>
			</view>
			<u-picker v-model="sortPicker" mode="selector" :range="sortlist" :range-key="'name'"
				@confirm="bindSortChange"></u-picker>
			<u-picker v-model="workPicker" mode="selector" :range="worklist" :range-key="'name'"
				@confirm="bindworkChange"></u-picker>
			<view :style="'padding-bottom:'+pdbottom+ 'px;padding-top: 100rpx;'">
				<view class="cell_list" v-for="(item,index) in list" :key="item.id">
					<view class="display_flex pd-30" style="border-bottom: 1rpx solid #ECECEC;">
						<view class="cell_left f-600" style="font-size: 32rpx;">{{item.worker_type_text}}</view>
						<view class="cell_right">{{item.ctime_text}}
							<image @click="goIm(item.uid)" class="cell_list_chat ml-10"
								src="../../static/images/chat.png"></image>
						</view>
					</view>
					<view class="pd-30">
						<view class="display_flex">
							<view class="cell_left f-12">
								<span style="color: #696572;">上户时间：</span>{{item.house_time_text}}
							</view>
							<view class="c-red">¥{{item.money_text}}</view>
						</view>
						<view class="mt-10">
							<view class="cell_left f-12">
								<span style="color: #696572;">上户地点：</span>{{item.address_city}}
							</view>
						</view>
						<view class="mt-10">
							<view class="cell_left f-12">
								<span style="color: #696572;">岗位福利：</span>
								<span class="mr-10" v-for="itemd in item.welfare_text" :key="itemd">{{itemd}}</span>
							</view>
						</view>
						<view class="mt-10 display_flex" style="align-items: flex-start;" @click="showInfo(index)"
							v-if="item.content||item.req">
							<view class="f-12">
								<span style="color: #696572;">需求内容：</span>
							</view>
							<view :class="item.show_info==1?'work_info':'work_info ellipsis-2'" style="flex: 1;">
								{{item.content}}{{item.req}}
							</view>
						</view>
						<view class="cell_bott_right" @click="showInfo(index)" v-if="item.content||item.req">
							<image v-if="item.show_info==1" class="sort_cell_img " src="../../static/images/up.png">
							</image>
							<image v-else class="sort_cell_img " src="../../static/images/drop.png"></image>
						</view>
					</view>
				</view>
			</view>
		</view>
		<u-calendar v-model="dateShow" :mode="range" @change="changeDate" :min-date="defaultTime" max-date="2100-12-31">
		</u-calendar>
		<view class="text-c c-gray" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
		<u-empty text="暂无信息" mode="list" v-if="isEmpty==0"></u-empty>
		<u-picker mode="region" v-model="showCity" :params="cityparams" :area-code='["11", "1101"]'
			@confirm="confirmCity">
		</u-picker>
		<image class="service_box" @click="goService" src="../../static/images/service.png"></image>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	const app = getApp()
	import {
		getJobList,
		workType,
		getSortList,
		getWorkService
	} from '@/api/ayi.js';
	export default {
		data() {

			return {
				showAllPop: getApp().globalData.showAllPop,
				showLoading: true,
				sortPicker: false,
				workPicker: false,
				bottomHeight: getApp().globalData.bottomHeight,
				statusBarHeight: getApp().globalData.statusBarHeight,
				bgColor_top: getApp().globalData.statusBarHeight + 40,
				pdbottom: getApp().globalData.bottomHeight + 40,
				sortlist: [{
					id: 0,
					name: '全部'
				}],
				sortName: '排序规则',
				worklist: [{
					id: 0,
					name: '全部'
				}],
				workName: '需求类型',
				list: [],
				isEmpty: 1,
				dateShow: false,
				showCity: false,
				cityName: '北京市',
				cityparams: {
					province: true,
					city: true
				},
				defaultTime: '',
				params: {
					worker_type: 0,
					p_id: 11,
					c_id: 1101,
					a_id: 0,
					p_name: 0,
					c_name: 0,
					a_name: 0,
					start_time: '',
					end_time: '',
					sort_type: 0,
					page: 1
				},
				last_page: 1
			};
		},
		onReady() {
			var myDate = new Date();
			var Year = myDate.getFullYear()
			var Month = myDate.getMonth() + 1
			var Day = myDate.getDate()
			this.defaultTime = Year + "-" + Month + "-" + Day
			// var defaultTime = myDate.toLocaleDateString()
			// var list = defaultTime.split('/')
			console.log(this.defaultTime)
		},
		onShow() {
			// getApp().pubSub()
			uni.hideTabBar({
				animation: false
			})
			if (!uni.getStorageSync('token')) {
				this.getJobListangin = true
			} else {
				if (this.getJobListangin) {
					this.getJobListangin = false
					this.list = []
					this.getJobList()
				}
				getWorkService().then(res => {
					if (res.code == 1) {
						app.globalData.worklist = res.data.data_list
					} else {
						// uni.showToast({
						// 	title: res.msg,
						// 	icon: 'none',
						// 	duration: 1500
						// });
					}
				})
			}
		},
		onLoad() {
			this.getJobList()
			this.workType()
			this.getSortList()
		},

		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			//需求列表
			getJobList() {
				getJobList(this.params).then(res => {
					if (res.code == 1) {
						this.showLoading = false
						this.list.push.apply(this.list, res.data.data_list)
						this.last_page = res.data.last_page
						this.isEmpty = this.list.length
						for (var i = 0; i < this.list.length; i++) {
							this.list[i].show_info = 0
						}
					} else {
						this.showLoading = false
						this.isEmpty = 0
						// uni.showToast({
						// 	title: res.msg,
						// 	icon: 'none',
						// 	duration: 1500
						// });
					}
				})
			},
			//岗位类型
			workType() {
				workType().then(res => {
					if (res.code == 1) {
						this.worklist.push.apply(this.worklist, res.data.worker_type_list)
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//排序规则
			getSortList() {
				getSortList().then(res => {
					if (res.code == 1) {
						this.sortlist.push.apply(this.sortlist, res.data.sort_list)
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//展示工作意向
			showWorkPicker() {
				this.workPicker = true
			},
			//选择工作意向
			bindworkChange(e) {
				var index = e
				if (index == 0) {
					this.workName = "需求类型"
				} else {
					this.workName = this.worklist[index].name
				}
				this.params.worker_type = this.worklist[index].id
				this.list = []
				this.showLoading = true
				this.getJobList()
			},
			//选择日期范围
			changeDate(e) {
				this.params.start_time = e.startDate
				this.params.end_time = e.endDate
				this.list = []
				this.showLoading = true
				this.getJobList()

			},
			//选择城市
			confirmCity(e) {
				if (e.city.label == '市辖区') {
					this.cityName = e.province.label
				} else {
					this.cityName = e.city.label
				}
				this.params.p_id = e.province.value
				this.params.p_name = e.province.label
				this.params.c_id = e.city.value
				this.params.c_name = e.city.label
				// this.params.a_id = e.area.value
				// this.params.a_name = e.area.label
				this.list = []
				this.showLoading = true
				this.getJobList()
			},
			//显示排序规则

			showSortPicker() {
				this.sortPicker = true
			},
			//选择排序规则
			bindSortChange(e) {

				var index = e
				if (index == 0) {
					this.sortName = "排序规则"
				} else {
					this.sortName = this.sortlist[index].name
				}

				this.params.sort_type = this.sortlist[index].id
				this.list = []
				this.showLoading = true
				this.getJobList()
			},
			//查看岗位需求
			showInfo(index) {
				if (this.list[index].show_info) {
					this.list[index].show_info = 0
					this.list[index].area = 0
				} else {
					this.list[index].show_info = 1
					this.list[index].area = 1
				}
			},
			//跳转IM聊天
			goIm(uuid) {
				if (uni.getStorageSync('token')) {
					uni.navigateTo({
						url: '/pages/goeasy/goeasy?uid=' + uuid
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}

			},
			goService() {
				if (uni.getStorageSync('token')) {
					uni.navigateTo({
						url: '/pages/public/chat/index'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			}
		},
		onPullDownRefresh() {
			this.params.worker_type = 0
			this.params.start_time = ''
			this.params.end_time = ''
			this.params.sort_type = 0
			this.params.page = 1
			this.list = []
			this.showLoading = true
			this.getJobList()
			uni.stopPullDownRefresh()
		},
		onReachBottom() {
			if (this.last_page > this.params.page) {
				this.params.page = this.params.page + 1
				this.showLoading = true
				this.getJobList()
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.home {

		background-color: #F5F3F8;

		.sort_box {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			padding: 0 10rpx;
			font-size: 28rpx;
			background-color: #F5F3F8;
			z-index: 1;

			.sort_cell {
				width: 25%;
				display: flex;
				align-items: center;
				justify-content: center;


			}
		}

		.home_box {
			padding: 30rpx;
			position: relative;
		}

		.cell_list {
			background-color: #fff;
			border-radius: 20rpx;
			margin-bottom: 20rpx;
			font-size: 24rpx;
			position: relative;

			.cell_left {
				color: #39373D;
				font-size: 26rpx;
				flex: 1;
			}

			.work_info {
				margin-right: 35rpx;
			}

			.cell_right {
				color: #9891A5;
				float: right;
				font-size: 26rpx;
				text-align: right;
				display: flex;
				align-items: center;


				.cell_list_chat {
					width: 32rpx;
					height: 32rpx;
				}
			}

			.cell_bott_right {
				position: absolute;
				bottom: 30rpx;
				right: 30rpx;
			}

		}

		.sort_cell_img {
			width: 30rpx;
			height: 20rpx;
			// margin-left: 10rpx;
		}

		.service_box {
			width: 100rpx;
			height: 100rpx;
			position: fixed;
			bottom: 30%;
			right: 30rpx;
			z-index: 3;
		}
	}
</style>
