<template>
	<view class="orderlist_box">
		<view class="scroll_box">
			<scroll-view class="scroll-view_H" scroll-x="true" :scroll-left="scrollLeft">
				<span v-for="(item,index) in array" :key="item.id"
					:class="item.id==chickTab?'ayi_tabs_bin_select':'ayi_tabs_bin'"
					@click="checkTab(item.id,item.title,index)">{{item.title}}
					<image v-if="chickTab==item.id" class="tab_bottom" src="../../static/images/tab_bottom.png">
					</image>
				</span>
			</scroll-view>
		</view>
		<view style="padding-top: 80rpx;">
			<view class="cell_list" v-for="(item,index) in list" :key="item">
				<view class="f-14" style="border-bottom: 1rpx solid #ECECEC;padding-bottom: 30rpx;">
					订单号：{{item.order_sn}}
				</view>
				<view class="work_title">服务：{{item.worker_type_text}}</view>
				<view class="cell_list_info" @click="goOrderInfo(item.order_id)">
					<view class="cell_list_userimg_box">
						<image class="cell_list_userimg" :src="item.avatar"></image>
						<image v-if="item.is_realname" class="cell_list_userapprove"
							src="../../static/images/approve.png"></image>
					</view>
					<view class="cell_list_userbox">
						<view class="cell_list_username">{{item.employer_name}}</view>
						<view class="cell_list_userinfo tow_cell" v-if="item.stay_type==1">上户方式:白班</view>
						<view class="cell_list_userinfo tow_cell" v-if="item.stay_type==2">上户方式:住家</view>
						<view class="cell_list_userinfo tow_cell" v-if="item.stay_type==3">上户方式:均可</view>
						<view class="cell_list_userinfo three_cell">上户时间:{{item.start_time_text}}</view>
					</view>
					<view class="cell_list_right">
						<!-- // 0=待确认,1=待付款,2=已付款,3=服务中,4=完成,5=待评价,-1=已取消 -->
						<view class="cell_list_userinfo f-13" style="color: #FF5555;" v-if="item.status==0">待确认</view>
						<view class="cell_list_userinfo f-13" style="color: #FF5555;" v-if="item.status==1">待付款</view>
						<view class="cell_list_userinfo f-13" style="color: #FF5555;" v-if="item.status==2">待上户</view>
						<view class="cell_list_userinfo f-13" style="color: #FF5555;" v-if="item.status==3">服务中</view>
						<view class="cell_list_userinfo f-13" style="color: #FF5555;"
							v-if="item.status==4||item.status==5">已完成</view>
						<view class="cell_list_userinfo f-13" style="color: #FF5555;" v-if="item.status==-1">已取消</view>
						<view class="cell_list_userinfo tow_cell2">¥{{item.price}}</view>
						<view class="cell_list_userinfo three_cell">x{{item.nums}}</view>
					</view>
				</view>
				<view class="cell_list_price">
					<view class="auction" @click="checkAuction(index)" v-if="item.item.length>0">支付档期
						<u-icon name="arrow-up" color="#9891A5" size="28" v-if="item.auction"></u-icon>
						<u-icon name="arrow-down" color="#9891A5" size="28" v-else></u-icon>
					</view>
					<view class="total_p">总金额：<span class="f-w">¥{{item.total.toFixed(2)}}</span>
					</view>
				</view>
				<block v-if="item.auction">
					<view class="auction_up" v-for="itemd in item.item" :key="itemd">
						<view class="auction_left">
							<view class="f-13">{{itemd.title}}</view>
							<view class="f-11 c-gray mt-5">{{itemd.tips}}</view>
						</view>
						<view class="auction_right">
							<view class="f-13 c-red">¥{{itemd.item_price_total}}</view>
							<!-- <view class="f-11 c-gray mt-5">¥{{itemd.order_fee_total}}</view> -->
						</view>
					</view>
				</block>
				<view class="display_flex" style="border-top: 1rpx solid #ECECEC;padding-top: 30rpx;">
					<view class="display_flex" @click="goEasy(item.uid)">
						<image class="cell_list_chat" src="/static/images/chat.png"></image>联系她
					</view>
					<view class="list_operate">
						<view class="list_operate_vio" @click="submitOrder(item.order_id,index)" v-if="item.status==0">
							确认订单
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="text-c c-gray" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
		<view style="margin-top: 10%;" v-if="showEmpty">
			<u-empty text="暂无数据" mode="list"></u-empty>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getOrderList,
		submitOrder,
	} from '../../api/ayi.js';
	const app = getApp()
	export default {
		data() {
			// 0=待确认,1=待付款,2=已付款,3=服务中,4=完成,5=待评价,-1=已取消
			return {
				showAllPop: getApp().globalData.showAllPop,
				showLoading: true,
				showEmpty: false,
				array: [{
					id: 0,
					title: '待确认'
				}, {
					id: 1,
					title: '待付款'
				}, {
					id: 2,
					title: '待上户'
				}, {
					id: 3,
					title: '服务中'
				}, {
					id: 4,
					title: '已完成'
				}],
				chickTab: 1,
				scrollLeft: 0,
				auction: false,
				list: [],
				last_page: 0,
				params: {
					page: 1,
					status: 0
				}
			};
		},
		onShow() {
			if (app.globalData.pageRefresh) {
				app.globalData.pageRefresh = ''
				this.params.page = 1
				this.list = []
				this.getOrderList()
			}
		},
		onLoad(options) {
			if (options.type) {
				this.chickTab = options.type
				this.params.status = options.type
				this.scrollLeft = (options.type - 3) * 90
				this.getOrderList()
			} else {
				this.getOrderList()
			}

		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			checkTab(id, name, index) {
				this.chickTab = id
				this.scrollLeft = (index - 2) * 90
				this.showEmpty = false
				this.params.status = id
				this.params.page = 1
				this.list = []
				this.showLoading = true
				this.getOrderList()
			},
			getOrderList() {
				getOrderList(this.params).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						if (this.params.page == 1) {
							this.list = []
						}
						var list = [...this.list, ...res.data.data_list]
						this.last_page = res.data.last_page
						for (var i = 0; i < list.length; i++) {
							list[i].auction = false
						}
						this.list = list
						if (this.list.length == 0) {
							this.showEmpty = true
						} else {
							this.showEmpty = false
						}
					} else {
						this.showEmpty = true
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//确认订单
			submitOrder(iddd, index) {
				var that = this
				uni.showModal({
					content: '是否确认该订单？',
					showCancel: true,
					cancelText: '否',
					confirmText: '是',
					confirmColor: '#5602AC',
					success: function(res) {
						if (res.confirm) {
							submitOrder({
								order_id: iddd,
								agree_status: 1
							}).then(res => {
								if (res.code == 1) {
									that.list.splice(index, 1)
								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none',
										duration: 1500
									});
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			goOrderInfo(id) {
				uni.navigateTo({
					url: '/pages/orderinfo/orderinfo?id=' + id
				})
			},
			//查看档期
			checkAuction(index) {
				this.list[index].auction = this.list[index].auction ? false : true
			},
			goEasy(uid) {
				uni.navigateTo({
					url: '/pages/goeasy/goeasy?uid=' + uid
				})
			}

		},
		onReachBottom() {
			if (this.last_page > this.params) {
				this.params.page = this.params.page + 1
				this.getOrderList()
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.list = []
			this.showLoading = true
			this.getOrderList()
			uni.stopPullDownRefresh()
		},
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.orderlist_box {
		padding: 30rpx;

		.scroll_box {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background: #fff;
			z-index: 1;
			padding: 20rpx 10rpx;

			.scroll-view_H {
				height: 50rpx;
				display: flex;
				align-items: center;
				overflow-x: auto;
				text-overflow: ellipsis;
				white-space: nowrap;

				.ayi_tabs_bin {
					font-size: 28rpx;
					color: #696572;
					padding: 0 32rpx;
					position: relative;
				}

				.ayi_tabs_bin_select {
					font-size: 32rpx;
					color: #39373D;
					padding: 0 32rpx;
					font-weight: 500;
					position: relative;
				}

				.ayi_tabs_bin:last-child {
					margin-right: 0rpx;
				}

				.ayi_tabs_bin_select:last-child {
					margin-right: 0rpx;
				}

				.tab_bottom {
					width: 36rpx;
					height: 6rpx;
					position: absolute;
					bottom: -10rpx;
					margin: 0 auto;
					left: 0;
					right: 0;
				}
			}
		}

		.cell_list {
			padding: 30rpx;
			background-color: #fff;
			border-radius: 20rpx;
			margin-bottom: 20rpx;

			.work_title {
				color: #fff;
				font-size: 24rpx;
				padding: 8rpx 20rpx;
				border-radius: 10rpx;
				background-color: #A98AFF;
				margin-top: 20rpx;
				display: inline-block;
			}

			.cell_list_info {
				display: flex;
				align-items: center;
				margin-top: 20rpx;

				.cell_list_userimg_box {
					width: 140rpx;
					height: 140rpx;
					position: relative;
					border-radius: 60px;

					.cell_list_userimg {
						width: 140rpx;
						height: 140rpx;
						border-radius: 60px;
					}

					.cell_list_userapprove {
						width: 35rpx;
						height: 35rpx;
						position: absolute;
						bottom: 0;
						right: 0;
					}
				}

				.cell_list_userbox {
					flex: 1;
					margin-left: 25rpx;

					.cell_list_username {
						color: #39373D;
						font-size: 32rpx;
						font-weight: 500;
						display: flex;
						align-items: center;

						.user_type {
							color: #5602AC;
							background-color: #E7E2F2;
							font-size: 18rpx;
							padding: 2rpx 10rpx;
							margin-left: 15rpx;
						}
					}
				}

				.cell_list_userinfo {
					color: #696572;
					font-size: 26rpx;
					margin-top: 12rpx;
				}

				.tow_cell {
					color: #696572;
					font-size: 24rpx;

				}

				.three_cell {
					color: #9891A5;
					font-size: 22rpx;
				}

				.cell_list_right {
					float: right;
					text-align: right;
				}
			}

			.auction_up {
				display: flex;
				align-items: flex-start;
				margin-bottom: 30rpx;

				.auction_left {
					flex: 1;
				}

				.auction_right {
					text-align: right;
				}
			}



			.cell_list_price {
				display: flex;
				align-items: center;
				color: #39373D;
				font-size: 26rpx;

				.total_p {
					flex: 1;
					float: right;
					text-align: right;
					padding: 24rpx 0;
				}

			}

			.cell_list_chat {
				width: 32rpx;
				height: 32rpx;
				margin-right: 20rpx;
			}

			.list_operate {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.list_operate_def {
					color: #39373D;
					font-size: 24rpx;
					border: 1rpx solid #9891A5;
					border-radius: 50rpx;
					padding: 12rpx 30rpx;
					margin-left: 20rpx;
				}

				.list_operate_vio {
					color: #5602AC;
					font-size: 24rpx;
					border: 1rpx solid #5602AC;
					border-radius: 50rpx;
					padding: 12rpx 30rpx;
					margin-left: 20rpx;
				}
			}


		}
	}
</style>
