<template>
	<view class="userapprove">
		<u-steps :list="numList" mode="number" active-color="#6943FA" un-active-color="#9891A5" :current="4"></u-steps>
		<view class="sub_ok_box">
			<view class="sub_ok_box">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="mt-30 f-14">资料提交成功，审核中…</view>
			</view>
			<view style="margin: 50rpx 30rpx;">
				<u-cell-item title="1.实名认证" value="实名提高信誉度" :arrow="true" arrow-direction="right"
					@click="openPage('/pages/approvefirst/approvefirst')"></u-cell-item>
				<u-cell-item title="2.灵活用工签约" value="收入发放更便捷" :arrow="true" arrow-direction="right"
					@click="openWebview('灵活用工','https://rzqy.hiyintech.com/login.html?orgNo=1011600001')">
				</u-cell-item>
				<u-cell-item title="3.背调服务" value="个人信用查询" :arrow="true" arrow-direction="right"
					@click="openPage('/pages/survey/survey')">
				</u-cell-item>
			</view>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
		<u-popup v-model="showSuccessPop" width="80%" mode="center" border-radius="15">
			<view class="text-c pd-40">
				<view class="f-18 f-w mt-10 mb-20">离完成注册只差一步啦！</view>
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-14 mt-20">关注公众号</view>
				<view class="f-14 mt-10">查看岗位资料审核进度</view>
				<view class="popsub_btn mb-10">去关注</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {} from '@/api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				showSuccessPop:true,
				showAllPop: getApp().globalData.showAllPop,
				numList: [{
					name: '身份认证'
				}, {
					name: '个人资料'
				}, {
					name: '资质证明'
				}, {
					name: '岗位信息'
				}, {
					name: '完成注册'
				}],
			};
		},
		onLoad() {
			// this.getUserInfo()

		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			openPage(url) {
				uni.navigateTo({
					url: url
				})
			},
			openWebview(title, url) {
				app.globalData.weburl = url
				uni.navigateTo({
					url: '/pages/webview/webview?title=' + title
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.sub_ok_box {
		background-color: #fff;
		padding: 30rpx 10rpx;
		border-radius: 10rpx;

		.u-cell {
			padding: 25rpx 0 !important;
		}

		.u-cell__value {
			font-size: 24rpx;
		}
	}
</style>
