<template>
	<view class="userapprove">
		<view class="form_box">
			<u-form :model="form" ref="uForm" label-align="left" :rules="rules" :errorType="errorType">
				<view class="form_cell">
					<u-form-item style="position: relative;height: 100rpx;" label="待遇" required prop="money_type">
						<view class="money_silder" v-if="selfMoney">
							<view class="display_flex">
								<view style="flex: 1;">{{form.money_start}}</view>
								<view>{{form.money_end}}</view>
							</view>
							<view style="position: relative;">
								<u-slider @moving="movingStart(money_start)"
									style="position: absolute;left: 0;right: 0;" v-model="money_start" block-width="40"
									block-color="#5602AC" inactive-color="#5602AC" step="1" min="0" :max="max_money_end"
									active-color="#5602AC">
								</u-slider>
								<u-slider @moving="movingEnd(money_end)" style="position: absolute;left: 0;right: 0;"
									v-model="money_end" block-width="40" block-color="#5602AC" inactive-color="#5602AC"
									step="1" :min="min_money_start" max="100" active-color="#5602AC">
								</u-slider>
							</view>
						</view>
						<u-radio-group v-else v-model="form.money_type" @change="radioMoney">
							<u-radio key="0" active-color="#6943FA" name="0">面议</u-radio>
							<u-radio key="1" active-color="#6943FA" name="1">自定义</u-radio>
						</u-radio-group>
					</u-form-item>
					<u-form-item label="岗位" required prop="worker_type_text">
						<u-input :border="border" type="select" input-align="right" :select-open="workerShow"
							v-model="form.worker_type_text" placeholder="请选择岗位" @click="workerShow = true"></u-input>
					</u-form-item>
				</view>
				<view class="form_cell">
					<u-collapse style="position: relative;" :arrow='false' v-if="welfareList.length>0">
						<!-- <view class="u-form-item--left__content--required" style="top: 20rpx;">*</view> -->
						<u-collapse-item :head-style="headstyle" title="福利" :open="true">
							<view class="popchioce_cell">
								<view v-for="(item,index) in welfareList" :key="item.id"
									@click="checkWelfare(item.id,index)"
									:class="item.status_text==1?'popchioce popchioce_on':'popchioce'" style="font-size: 28rpx;">{{item.name}}
								</view>
							</view>
						</u-collapse-item>
					</u-collapse>
					<!-- <view class="c-red f-12 text-r" v-if="validPersonality">请选择福利</view> -->
				</view>
				<view class="form_cell">
					<!-- <u-form-item label="福利" required prop="welfare_ids">
						<u-input placeholder="多个福利请用','隔开" input-align="right" v-model="form.welfare_ids" />
					</u-form-item> -->
					<u-form-item label="上户时间" required prop="house_time">
						<uni-datetime-picker type="date" v-model="form.house_time" :start="defaultTime" @change="changeLog">
							<view class="f-r" v-if="form.house_time">{{form.house_time}}</view>
							<view class="f-r f-13" style="color: #b3b3b3;" v-else>请选择上户时间</view>
						</uni-datetime-picker>
						<!-- <u-input placeholder="请选择上户时间" input-align="right" v-model="form.house_time" :border="border"
							type="select" :select-open="timepickerShow" @click="timepickerShow=true" /> -->
					</u-form-item>
					<u-form-item label="联系电话" required prop="mobile">
						<u-input placeholder="请输入联系电话" input-align="right" v-model="form.mobile" type="number">
						</u-input>
					</u-form-item>
					<u-form-item label="上户地区" required prop="address_city">
						<u-input placeholder="请选择上户地区" input-align="right" v-model="form.address_city" :border="border"
							type="select" :select-open="pickerShow" @click="pickerShow = true" />
					</u-form-item>
					<u-form-item label="地址" required prop="addr">
						<u-input type="select" @click="openMap" placeholder="请选择地址" input-align="right"
							v-model="form.addr" />
					</u-form-item>
					<view style="padding: 30rpx 0;">
						<view class="f-14 f-w mb-10" style="position: relative;">工作要求(条件)
							<u-icon class="ml-5" name="info-circle" color="#5602AC" size="30" @click="shoReqTips=true">
							</u-icon>
							<view class="content_tips" v-if="shoReqTips">
								<view>1.照顾家人（几位自理老人or几周/几岁宝宝）</view>
								<view>2.做饭（三餐/全家OR宝宝）</view>
								<view>3.房间保洁（房屋面积）</view>
								<view>4.衣物洗涤/熨烫</view>
								<view>5.打理宠物（几只猫/几只狗）</view>
								<view>6.接送</view>
								<view>7.其他</view>
							</view>
						</view>
						<u-input type="textarea" placeholder="请输入工作要求(条件)" input-align="left" maxlength="200"
							:clearable="false" v-model="form.req" />
					</view>
					<view style="padding: 30rpx 0;">
						<view class="f-14 f-w mb-10" style="position: relative;">工作内容(职责)
							<u-icon class="ml-5" name="info-circle" color="#5602AC" size="30" @click="shoConTips=true">
							</u-icon>
							<view class="content_tips" v-if="shoConTips">
								<view>1.基础要求（学历/证书、从业年限/稳定性、年龄、籍贯等）</view>
								<view>2.能力要求（技能能力、沟通能力、服务经验）</view>
								<view>3.素质要求（守时、节约、认真、有责任心、有爱心、讲究卫生）</view>
								<view>4.其他要求（无不良嗜好）</view>
							</view>
						</view>
						<u-input type="textarea" placeholder="请输入工作内容(职责)" input-align="left" maxlength="200"
							:clearable="false" v-model="form.content" />
					</view>

				</view>
				<view class="uni-btn-v">
					<button class="submint_btn" form-type="submit" @click="needSub()">提交</button>
				</view>
			</u-form>
		</view>
		
		<u-picker mode="time" v-model="timepickerShow" @confirm="timeConfirm"></u-picker>
		<u-picker mode="region" v-model="pickerShow" @confirm="regionConfirm"></u-picker>
		<u-select mode="single-column" :list="worklist" value-name="id" label-name="name" v-model="workerShow"
			@confirm="workerConfirm"></u-select>
		<u-mask :show="shoConTips||shoReqTips" @click="closeTips" z-index='5'></u-mask>
	</view>
</template>

<script>
	import {
		workType,
		saveNeed,
		welfareList,
		editNeed
	} from '../../api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				value: 0,
				form: {
					house_time:'',
					money_start: 0,
					money_end: 20000,
					addr: '',
					welfare_ids: []
				},
				selfMoney: false,
				money_start: 0,
				money_end: 100,
				min_money_start: 0,
				max_money_end: 20000,
				worklist: [],
				welfareList: [],
				workerShow: false,
				pickerShow: false,
				timepickerShow: false,
				shoReqTips: false,
				shoConTips: false,
				validPersonality: false,
				errorType: ['message'],
				defaultTime: '',
				rules: {
					money_type: [{
						required: true,
						type: 'number',
						message: '请选择待遇',
					}],
					worker_type_text: [{
						required: true,
						message: '请选择岗位',
						trigger: 'change'
					}],
					house_time: [{
						required: true,
						message: '请选择上户时间',
						trigger: 'change'
					}],
					address_city: [{
						required: true,
						message: '请选择上户地区',
						trigger: 'change'
					}],
					mobile: [{
						required: true,
						message: '请输入联系电话',
						trigger: ['change', 'blur'],
					}, {
						validator: (rule, value, callback) => {
							// 调用uView自带的js验证规则，详见：https://www.uviewui.com/js/test.html
							return this.$u.test.mobile(value);
						},
						message: '手机号码不正确',
						// 触发器可以同时用blur和change，二者之间用英文逗号隔开
						trigger: ['change', 'blur'],
					}],

				},
			};
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
			var myDate = new Date();
			this.defaultTime = myDate.toLocaleDateString()
		},
		onLoad(options) {
			if (options.id) {
				this.form = app.needInfo
				this.form.house_time = app.needInfo.house_time_text
				console.log(app.needInfo)
				this.form.welfare_ids = app.needInfo.welfare_ids.split(',')
				this.selfMoney = app.needInfo.money_type == 0 ? false : true
				this.money_start = (parseFloat(app.needInfo.money_start / 200).toFixed(0))
				this.money_end = (parseFloat(app.needInfo.money_end / 200).toFixed(0))
			}
			this.workType()
			this.welfareListD()
		},
		methods: {
			changeLog(e) {
				console.log(e)
				this.form.house_time = e
			},
			//选择福利
			checkWelfare(id, index) {
				if (this.welfareList[index].status_text) {
					this.welfareList[index].status_text = ''
					for (var i = 0; i < this.form.welfare_ids.length; i++) {
						if (this.form.welfare_ids[i] == id) {
							this.form.welfare_ids.splice(i, 1)
						}
					}
				} else {
					this.welfareList[index].status_text = 1
					this.form.welfare_ids.push(id)

				}
			},
			welfareListD() {
				welfareList().then(res => {
					if (res.code == 1) {
						var welfareList = res.data
						var welfare_ids = this.form.welfare_ids
						for (var j = 0; j < welfare_ids.length; j++) {
							for (var i = 0; i < welfareList.length; i++) {
								if (welfareList[i].id == welfare_ids[j]) {
									welfareList[i].status_text = 1
								}
							}
						}
						this.welfareList = welfareList
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			workType() {
				workType().then(res => {
					if (res.code == 1) {
						this.worklist = res.data.worker_type_list
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			workerConfirm(e) {
				this.form.worker_type_text = e[0].label
				this.form.worker_type_id = e[0].value
			},
			timeConfirm(e) {
				this.form.house_time = e.year + '-' + e.month + '-' + e.day
			},
			regionConfirm(e) {
				this.form.address_city = e.province.label + ' ' + e.city.label + ' ' + e.area.label
				this.form.code = e.area.value
			},
			openMap() {
				var that = this
				uni.chooseLocation({
					success: function(res) {
						that.form.addr = res.address
					}
				});
			},
			closeTips() {
				this.shoReqTips = false
				this.shoConTips = false
			},
			needSub() {
				// if (this.form.welfare_ids.length == 0) {
				// 	this.validPersonality = true
				// } else {
				// 	this.validPersonality = false
				// }
				this.$refs.uForm.validate(valid => {
					if (valid) {
						if (this.form.id) {
							editNeed(this.form).then(res => {
								if (res.code == 1) {
									uni.redirectTo({
										url: '/pages/needlist/needlist'
									})
								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none',
										duration: 1500
									});
								}
							})
						} else {
							saveNeed(this.form).then(res => {
								if (res.code == 1) {
									uni.redirectTo({
										url: '/pages/needlist/needlist'
									})
								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none',
										duration: 1500
									});
								}
							})
						}

					} else {
						console.log('验证失败');
					}
				});

			},
			radioMoney(e) {
				this.form.money_type=e
				if (e == 1) {
					this.selfMoney = true
				} else {
					this.selfMoney = false
				}
			},
			movingStart(money_start) {
				this.money_start = money_start
				this.form.money_start = (parseFloat(money_start * 200).toFixed(0))
			},
			movingEnd(money_end) {
				this.money_end = money_end
				this.form.money_end = (parseFloat(money_end * 200).toFixed(0))
			}
		}
	}
</script>

<style lang="scss">
	.money_silder {
		position: absolute;
		top: 0;
		left: 150rpx;
		right: 0;
	}

	.content_tips {
		color: #FFFFFF;
		position: absolute;
		top: 35rpx;
		left: 0;
		padding: 20rpx;
		z-index: 6;
		border-radius: 10rpx;
		background-color: #A98AFF;
	}

	.form_cell {
		margin: 0 !important;
	}
</style>
