<template>
	<view class="webview_box">
		<tab-Bar :botheight="bottomHeight" pageCode='4'></tab-Bar>
		<view class="webview" :style="'padding-bottom:'+pdbottom+ 'px;'">
			<view class="cell_list" v-for="(item,index) in list" :key="item.id">
				<view class="display_flex" style="border-bottom: 1rpx solid #ECECEC;padding-bottom: 30rpx;">
					<view class="cell_left">保单号：{{item.policy_no}}</view>
				</view>
				<view class="mt-15">
					<view class="display_flex">
						<view style="flex: 1;">
							<view class="display_flex">
								<view class="cell_left">
									<span>保险产品：</span>{{item.product_name}}
								</view>
							</view>
							<view class="mt-10">
								<view class="cell_left">
									<span>保险公司：</span>{{item.insurance_name}}
								</view>
							</view>
						</view>
						<view class="f-12 text-c" v-if="item.epolicy_url" @click="showPdf(item.epolicy_url)">
							<image style="width: 40rpx;height: 45rpx;" src="../../static/images/tabpoop/basi.png">
							</image>
							<view>电子保单</view>
						</view>
					</view>
					<view class="mt-10 display_flex">
						<view class="cell_left" style="flex: 1;">
							<span>保险起期：</span>
						{{item.ctime_text}}
						</view>
						<view class="cell_left">
							<span>保险止期：</span>
							{{item.end_time}}
						</view>
					</view>
				</view>
			</view>
			
			<view class="popsub_btn" @click="getWebview" :style="'position: fixed;bottom:' +pdbottom+'px;left:30rpx;right:30rpx;'">买保险</view>
			<!-- <web-view :src="weburl"></web-view> -->
		</view>
		<view style="margin-top: 10%;" v-if="showEmpty">
			<u-empty text="暂无数据" mode="list"></u-empty>
		</view>
		<view class="text-c c-gray" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getBaoxian,
		getWebview
	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				showEmpty: false,
				showLoading: true,
				showAllPop: getApp().globalData.showAllPop,
				weburl: '',
				bottomHeight: getApp().globalData.bottomHeight,
				statusBarHeight: getApp().globalData.statusBarHeight,
				bgColor_top: getApp().globalData.statusBarHeight + 40,
				pdbottom: getApp().globalData.bottomHeight + 60,
				params: {
					page: 1
				},
				list: []
			}
		},
		onShow: function() {},
		onLoad() {
			// this.getWebview()
			this.getBaoxian()
		},
		methods: {
			getBaoxian() {
				getBaoxian(this.params).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						this.list.push.apply(this.list, res.data.data_list)
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if (this.list.length == 0) {
							this.showEmpty = true
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			showPdf(url) {
				uni.showLoading({
					title:'加载中...'
				})
				uni.downloadFile({
					url: url,
					success: function(res) {
						uni.hideLoading()
						var filePath = res.tempFilePath;
						uni.openDocument({
							showMenu:true,
							filePath: filePath,
							success: function(res) {
								console.log('打开文档成功');
							}
						});
					}
				});
			},
			getWebview() {
				getWebview().then(res => {
					if (res.code == 1) {
						this.weburl = res.data.url
						uni.navigateTo({
							url:'/pages/webview/webview?url='+res.data.url+'&title=保险'
						})
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			}
		},
		onReachBottom() {
			if (this.last_page > this.params.page) {
				this.params.page = this.params.page + 1
				this.getBaoxian()
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.showEmpty = false
			this.list = []
			this.showLoading = true
			this.getBaoxian()
			uni.stopPullDownRefresh()
		},
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.webview_box {
		padding: 30rpx;
		padding-bottom: 100rpx;

		.cell_list {
			padding: 30rpx;
			background-color: #fff;
			border-radius: 20rpx;
			margin-bottom: 20rpx;

			.check_img {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 160rpx;
				height: 80rpx;
				font-size: 24rpx;
				text-align: center;
				border: 2rpx solid #eaeaea;
			}

			.gopay_btn {
				width: 120rpx;
				color: #FFFFFF;
				font-size: 24rpx;
				text-align: center;
				padding: 10rpx 0;
				border-radius: 60rpx;
				background-image: linear-gradient(to right, #A98AFF, #B573FF);
			}

			.close_btn {
				width: 120rpx;
				font-size: 24rpx;
				text-align: center;
				padding: 10rpx 0;
				border-radius: 60rpx;
				background-color: #e2e2e2;
			}
		}
	}
</style>
