<template>
	<view class="agreement">
		<rich-text :nodes="content"></rich-text>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getRichText
	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				content: ''
			};
		},
		onLoad(options) {
			this.id = options.id
			this.getRichText()
		},
		onShow() {

		},
		methods: {
			getRichText() {
				getRichText({
					id: this.id
				}).then(res => {
					if (res.code == 1) {
						uni.setNavigationBarTitle({
							title: res.data.title
						});
						this.content = res.data.content
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},

		}
	}
</script>

<style lang="scss">
	// page {
	// 	background-color: #F5F3F8;
	// }
	.agreement {
		padding: 30rpx;
		font-size: 28rpx;
	}
</style>
