<template>
	<view class="login">
		<nav-Bar :height="statusBarHeight" :back="false" :search="false"></nav-Bar>
		<view class="bk_box" :style="'padding-top:' +bgColor_top+'px;'">
			<image style="width: 100%;height: 100%;" src="https://api.aicaring.com.cn/uploads/20211020/b47177b3c5b72ff746e6b4b12908a3ba.png"></image>
		</view>

		<view class="login_bottom" style="position: fixed;bottom: 0;left: 0;right: 0;">
			<view class="display_flex" @click="showLoginPop">
				<image class="check_img" src="../../static/images/check_on.png" v-if="is_agree"></image>
				<image class="check_img" src="../../static/images/check.png" v-else></image>
				<view class="clause">已阅读并同意服务协议和隐私政策</view>
			</view>
			<view class="wechat_btn" v-if="is_agree" @click="getMember">微信用户一键登录</view>
			<view class="wechat_btn_defult" v-else>微信用户一键登录</view>
			<view class="wechat_btnno" @click="goBack">暂不登录</view>
			<!-- <view class="phone_btn">输入手机号码登录/注册</view> -->
		</view>
		<u-popup v-model="showPop" mode="bottom" border-radius='30' :safe-area-inset-bottom="true">
			<view class="pd-30">
				<view class="f-w f-16 mt-10">服务协议和隐私政策</view>
				<view class="f-13 mt-15" style="color: #696572;">
					感谢选择阿姨直签小程序，我们非常重视您的个人信息安全和隐私保护。依据最新法律要求，使用我们的产品前，请仔细阅读并同意
					<span class="text_link" @click="goAgreement(1)"> 《用户协议》 </span>
					和
					<span class="text_link" @click="goAgreement(2)"> 《个人信息保护政策》 </span>
					，以便我们向你提供更优质的服务！我们承诺将尽全力保护你的个人信息及合法权益，再次感谢您的信任！
				</view>
				<view class="display_flex mt-25 mb-15">
					<view class="reject_btn" @click="rejectBtn">拒绝</view>
					<view class="agreement_btn ml-15" @click="agreementBtn">同意并继续</view>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		ayiLogin,
		getPageUrl,
		shareAdd
	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				is_agree: false,
				showPop: false,
				bottomHeight: getApp().globalData.bottomHeight,
				statusBarHeight: getApp().globalData.statusBarHeight,
				bgColor_top: getApp().globalData.statusBarHeight + 40,
			};
		},
		onLoad() {

		},
		onShow() {

		},
		methods: {
			showLoginPop() {
				if (this.is_agree) {
					this.is_agree = false
				} else {
					this.showPop = true
				}
			},
			getMember() {
				var that = this
				uni.getProvider({
					service: 'oauth',
					success: function(res) {
						var provider = res.provider.toString()
						if (provider == 'weixin') {
							uni.getUserProfile({
								desc: '获取你的昵称、头像、地区及性别',
								provider: 'weixin',
								success: function(infoRes) {
									console.log(infoRes)
									var userInfo = infoRes.userInfo
									var rawData = infoRes.rawData
									uni.login({
										provider: 'weixin',
										scopes: 'auth_user',
										success: function(loginRes) {
											console.log(loginRes)
											var code = loginRes.code
											var params = {
												group_id: 2,
												code: code,
												rawData: rawData
											}
											that.ayiLogind(params)
										}
									});
								}
							});
						}
					}
				});
			},
			ayiLogind(params) {
				var that = this
				ayiLogin(params).then(res => {
					if (res.code == 1) {
						uni.setStorage({
							key: 'member',
							data: res.data.userInfo,
							success: function() {

							}
						});
						var currentUser = {
							uuid: res.data.userInfo.id,
							name: res.data.userInfo.nickname,
							avatar: res.data.userInfo.avatar
						}
						uni.setStorage({
							key: 'currentUser',
							data: currentUser,
							success: function() {

							}
						});
						uni.setStorage({
							key: 'token',
							data: res.data.userInfo.token,
							success: function() {
								that.getPageUrl()
								that.shareAdd()
								getApp().ToayiInit()
							}
						});
					} else {
						uni.removeStorage({
							key: 'member'
						})
					}
				})
			},
			shareAdd() {
				shareAdd({
					spm: uni.getStorageSync('spm'),
				}).then(res => {
					console.log(res)
				})
			},
			getPageUrl() {
				getPageUrl().then(res => {
					if (res.code == 1) {
						if (res.data == '/pages/index/index' || res.data == '/pages/message/message' || res.data ==
							'/pages/member/member' || res.data == '/pages/sign/sign') {
							uni.switchTab({
								url: res.data
							})
						} else {
							uni.redirectTo({
								url: res.data
							})
						}

					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			rejectBtn() {
				this.showPop = false
			},
			agreementBtn() {
				this.is_agree = true
				this.showPop = false
			},
			goBack() {
				uni.navigateBack({
					delta: 1
				})
			},
			goAgreement(type) {
				uni.navigateTo({
					url: '/pages/login/agreement?id=' + type
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.login {
		background-color: #F5F3F8;

		.bk_box {
			width: 100%;
			height: 750rpx;
			// background-size: 100% 750rpx;
			// background-image: url('https://api.ayi.hudongnet.com/uploads/20210830/a9632474df52e6d972fdec7da329f20f.png');

			.bk_info {
				color: #FFFFFF;
				text-align: center;

				.logo_img {
					width: 160rpx;
					height: 210rpx;
					margin-top: 20rpx;
				}

				.logo_title {
					font-size: 58rpx;
					font-weight: 500;
					margin-top: 40rpx;
				}
			}



		}

		.login_cellbox {
			padding: 20rpx;
			margin: 0 40rpx;
			border-radius: 20rpx;
			background-color: #FFFFFF;
			margin-top: -180rpx;

			.display_flex {
				padding: 40rpx;
				border-bottom: 1rpx solid #ECECEC;
			}

			.display_flex:last-child {
				border-bottom: none;
			}

			.login_cellimg {
				width: 80rpx;
				height: 80rpx;
				margin-right: 40rpx;
			}

			.login_celltext {
				flex: 1;
			}
		}

		.login_bottom {
			padding: 40rpx;

			.clause {
				color: #696572;
				font-size: 24rpx;
				margin-left: 20rpx;
			}

			.wechat_btn {
				color: #FFFFFF;
				font-size: 32rpx;
				padding: 22rpx 0;
				border-radius: 30px;
				text-align: center;
				margin-top: 40rpx;
				background-image: linear-gradient(to right, #6943FA, #5602AC);
			}

			.wechat_btn_defult {
				color: #39373D;
				font-size: 32rpx;
				padding: 22rpx 0;
				border-radius: 30px;
				text-align: center;
				margin-top: 40rpx;
				background-color: #FFFFFF;
			}

			.wechat_btnno {
				color: #5602AC;
				font-size: 32rpx;
				padding: 22rpx 0;
				border-radius: 30px;
				text-align: center;
				margin-top: 40rpx;
				border: 2rpx solid #5602AC;
				background: #FFFFFF;
			}

			.phone_btn {
				color: #5602AC;
				font-size: 32rpx;
				padding: 22rpx 0;
				border-radius: 30px;
				text-align: center;
				margin-top: 30rpx;
				border: 2rpx solid #5602AC;
			}
		}

		.reject_btn {
			width: 20%;
			color: #000;
			background-color: #F5F3F8;
			border-radius: 10rpx;
			font-size: 28rpx;
			padding: 20rpx 0;
			text-align: center;
		}

		.agreement_btn {
			width: 80%;
			color: #FFFFFF;
			background-image: linear-gradient(to right, #6943FA, #5602AC);
			border-radius: 10rpx;
			font-size: 28rpx;
			padding: 20rpx 0;
			text-align: center;
		}
	}
</style>
