<template>
	<view class="navbar" :style="'padding-top:'+height+'px;'">
		<view class="navbar_box">
			<image src="/static/images/search.png" class="navbarIcon" v-if="search"></image>
			<image src="/static/images/back.png" class="navbarIcon" v-if="back" @click="clickLeft"></image>
			<view class="navbarTitle" v-if="title">{{title}}</view>
		</view>
	</view>
</template>

<script>
	export default {
		name: "navBar",
		data() {
			return {};
		},
		// 此处定义传入的数据
		props: {
			height: {
				type: String,
				value: null
			},
			title: {
				type: String,
				value: null
			},
			back: {
				type: Boolean,
				value: null
			},
			search: {
				type: Boolean,
				value: null
			}
		},
		methods: {
			clickLeft() {
				uni.navigateBack({
					delta: 1
				})
			},
		}


	}
</script>

<style lang="scss">
	.navbar {
		height: 80rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		color: #fff;
		text-align: center;
		background-image: linear-gradient(to right, #A98AFF, #B573FF);

		.navbar_box {
			width: 100%;
			position: relative;

			.navbarIcon {
				position: absolute;
				left: 20rpx;
				width: 44rpx;
				height: 44rpx;
				float: left;
			}

			.navbarTitle {
				font-size: 32rpx;
				font-weight: 500;
				text-align: center;
				letter-spacing: 2rpx;
			}
		}

	}

	.uni-icons {
		float: left;
	}
</style>
