<template>
	<view class="userapprove">
		<view style="padding-bottom: 80rpx;">
			<view class="cell_list" v-for="(item,index) in worklist" :key="item" @click="workinfo(index)">
				<view class="pd-30">
					<view class="display_flex">
						<view class="cell_left f-12">
							<span class="f-14 f-w">开始时间：</span>{{item.start_time_date}}
						</view>
						<view class="cell_left f-12">
							<span class="f-14 f-w">结束时间：</span>{{item.end_time_date}}
						</view>
					</view>
					<view class="mt-10">
						<view class="cell_left f-12">
							<span class="f-14 f-w">省市县：</span>{{item.address_city}}
						</view>
					</view>
					<!-- <view class="mt-10">
						<view class="cell_left f-12">
							<span class="f-14 f-w">地址：</span>{{item.address}}
						</view>
					</view> -->
					<view class="mt-10">
						<view class="cell_left f-12">
							<span class="f-14 f-w">详细地址：</span>{{item.addr}}
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="addwork" @click="showPop">添加</view>
		<u-popup v-model="show" mode="center" width="90%" height="auto" :closeable="true" @close="closePop"
			border-radius="10">
			<view class="form_box" style="padding-top: 30rpx;">
				<u-form :model="form" ref="uForm" label-align="left">
					<view class="form_cell">
						<u-form-item label="开始时间">
							<u-input type="select" input-align="right" :select-open="starTimeShow"
								v-model="form.start_time" placeholder="请选择开始时间" @click="starTimeShow = true"></u-input>
						</u-form-item>
						<u-form-item label="结束时间">
							<u-input type="select" input-align="right" :select-open="endTimeShow"
								v-model="form.end_time" placeholder="请选择结束时间" @click="endTimeShow = true"></u-input>
						</u-form-item>
						<u-form-item label="省市县">
							<u-input type="select" input-align="right" :select-open="pickerShow"
								v-model="form.address_city" placeholder="请选择地区" @click="pickerShow = true"></u-input>
						</u-form-item>
						<!-- <u-form-item label="地址">
							<u-input type="select" v-model="form.address" placeholder="请选择地址" input-align="right"
								@click="openMap" />
						</u-form-item> -->
						<u-form-item label="详细地址">
							<u-input placeholder="请输入详细地址" input-align="right" v-model="form.addr" />
						</u-form-item>
						<u-form-item label="服务类型">
							<u-input placeholder="请输入服务类型" input-align="right" v-model="form.service_intro" />
						</u-form-item>
						<u-form-item label="备注" label-position="top">
							<u-input type="textarea" placeholder="请输入备注" v-model="form.intro" />
						</u-form-item>
					</view>
					<view class="display_flex">
						<view class="delwork" @click="delWork(form.id)" v-if="form.id">删除</view>
						<view class="subwork" @click="subWork()">保存</view>
					</view>
				</u-form>
			</view>
		</u-popup>
		<u-picker mode="region" v-model="pickerShow" @confirm="regionConfirm"></u-picker>
		<u-picker mode="time" :params="tparams" v-model="starTimeShow" @confirm="startimeConfirm"></u-picker>
		<u-picker mode="time" :params="tparams" v-model="endTimeShow" @confirm="endtimeConfirm"></u-picker>
		<view class="text-c c-gray" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
		<view style="margin-top: 10%;" v-if="isEmpty==0">
			<u-empty text="暂无数据" mode="list"></u-empty>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getWorklist,
		getWorkService,
		addWork,
		editWork,
		delWork
	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				toastMsg:'',
				toastShow:false,
				showLoading: true,
				show: false,
				params: {
					page: 1,
					worker_service_id: 0,
				},
				worklist: [],
				isEmpty: 1,
				form: {
					info_json: '工作',
				},
				pickerShow: false,
				starTimeShow: false,
				endTimeShow: false,
				tparams: {
					year: true,
					month: true,
					day: true,
					hour: false,
					minute: false,
					second: false
				},
				last_page: ''
			};
		},

		onLoad() {
			this.form = {
				peixun_intro: '请输入培训类目',
				intro: '请输入备注'
			}
			this.getWorkService()
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			showPop() {
				this.form = {
					addr: "",
					address_city: "",
					end_time: "",
					intro: "",
					service_intro: "",
					start_time: "",
				}
				this.show = true
			},
			getWorkService() {
				getWorkService().then(res => {

					if (res.code == 1) {
						var worklist = res.data.data_list
						this.worker_service_id = worklist[0].worker_type_id
						this.params.worker_service_id = worklist[0].worker_type_id
						this.getWorklist()
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			getWorklist() {
				getWorklist(this.params).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						this.worklist = [...this.worklist, ...res.data.data_list];
						this.isEmpty = this.worklist.length
						this.last_page = res.data.last_page
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择省市县
			regionConfirm(e) {
				this.form.address_city = e.province.label + e.city.label + e.area.label
				this.form.code = e.area.value
			},
			//开始时间
			startimeConfirm(e) {
				this.form.start_time = e.year + "-" + e.month + "-" + e.day
			},
			//结束时间
			endtimeConfirm(e) {
				this.form.end_time = e.year + "-" + e.month + "-" + e.day
			},
			//打开地图选择位置
			openMap() {
				var that = this
				uni.chooseLocation({
					success: function(res) {
						that.form.address = res.address
						that.form.lat = res.latitude
						that.form.lng = res.longitude
					}
				});
			},
			workinfo(index) {
				this.listindex = index
				this.form = this.worklist[index]
				this.form.start_time = this.worklist[index].start_time_date
				this.form.end_time = this.worklist[index].end_time_date
				this.show = true
			},
			subWork() {

				if (this.form.id) {
					this.form.info_json = '工作'
					editWork(this.form).then(res => {
						if (res.code == 1) {
							this.show = false
							this.worklist[this.listindex] = this.form
							this.form = {
								addr: "",
								address_city: "",
								end_time: "",
								intro: "",
								service_intro: "",
								start_time: "",
							}
						} else {
							// this.toastMsg=res.msg
							// this.toastShow=true
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				} else {
					this.form.info_json = '工作'
					addWork(this.form).then(res => {
						if (res.code == 1) {
							this.show = false
							this.params.page = 1
							this.worklist = []
							this.getWorklist()
							this.form = {
								addr: "",
								address_city: "",
								end_time: "",
								intro: "",
								service_intro: "",
								start_time: "",
							}
						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				}

			},
			closePop() {
				this.form = {
					addr: "",
					address_city: "",
					end_time: "",
					intro: "",
					service_intro: "",
					start_time: "",
				}
			},
			delWork(id) {
				var params = {
					id: id
				}
				delWork(params).then(res => {
					if (res.code == 1) {
						this.worklist.splice(this.listindex, 1)
						this.isEmpty = this.worklist.length
						this.show = false
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.worklist = []
			this.getWorklist()
			uni.stopPullDownRefresh()
		},
		onReachBottom() {
			if (this.last_page > this.params.page) {
				this.params.page = this.params.page++
				this.getWorklist()
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.userapprove {
		padding: 30rpx;
	}

	.addwork {
		position: fixed;
		bottom: 50rpx;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 14px;
		border-radius: 30px;
		color: #FFFFFF;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
		margin: 0 20%;
		padding: 15rpx 100rpx;
	}

	.display_flex {
		justify-content: center;
	}

	.delwork {
		color: #39373D;
		font-size: 24rpx;
		border: 1rpx solid #F5F3F8;
		background-color: #F5F3F8;
		padding: 15rpx 100rpx;
		border-radius: 60rpx;
		margin: 20rpx;
	}

	.subwork {
		color: #FFFFFF;
		font-size: 24rpx;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
		padding: 15rpx 100rpx;
		border-radius: 60rpx;
		margin: 20rpx;
	}

	.cell_list {
		background-color: #fff;
		border-radius: 20rpx;
		margin-bottom: 50rpx;
		font-size: 24rpx;

		.cell_left {
			color: #39373D;
			font-size: 26rpx;
			flex: 1;
		}

		.cell_right {
			color: #9891A5;
			float: right;
			font-size: 26rpx;
			text-align: right;
			display: flex;
			align-items: center;


			.cell_list_chat {
				width: 32rpx;
				height: 32rpx;
			}
		}

	}
</style>
