<template>
	<view class="index">
		<tab-Bar :botheight="bottomHeight" pageCode='1'></tab-Bar>
		<view class="bk_box">
			<image style="width: 100%;height: 100%;" src="https://api.aicaring.com.cn/uploads/20211020/b47177b3c5b72ff746e6b4b12908a3ba.png"></image>
			<!-- <view class="bk_info" :style="'padding-top:' +bgColor_top+'px;'">
				<image class="logo_img" src="../../static/images/logo.png"></image>
				<view class="logo_title">亿万家庭服务的选择</view>
			</view> -->
		</view>
	</view>
</template>

<script>
	import {
		getBannerlist,
		workType,
		getList,
		filterList
	} from '../../api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				showLoading: true,
				showEmpty: false,
				hideTop: false,
				bottomHeight: getApp().globalData.bottomHeight,
				statusBarHeight: getApp().globalData.statusBarHeight,
				bgColor_top: getApp().globalData.statusBarHeight + 40,
				chickTab: '',
				index: 0,
				ayiType: '',
				worklist: [],
				workShow: false,
				screen: 1,
				scrollLeft: 0,
				showPopup: false,
				sortnum: '',
				issmart: false,
				isscreen: false,
				issmartShow: false,
				isscreenShow: false,
				sortName: '智能排序',
				right_class: 'right_class1',
				cellright_class: 'right_class1',
				bindClassType: false,
				bannerlist: [],
				sortlist: [],
				filterlist: [],
				filter: [],
				pickerShow: false,
				city_name: '北京市',
				cityparams: {
					province: true,
					city: true
				},
				params: {
					code: '110101',
					worker_type: '',
					sort: '',
					filter: [],
					keyword: '',
					latitude: app.globalData.latitude ? app.globalData.latitude : '39.908739',
					longitude: app.globalData.longitude ? app.globalData.longitude : '116.397513'
				},
				list: [],
				bannerShow: true,
				threeShow: false
			}
		},
		onLoad() {

			this.hideTop = false
			this.getBannerlist()
			this.filterList()

			if (!app.globalData.longitude) {
				this.getLocation()
			} else {
				this.workType()
			}
		},
		onShow: function() {
			uni.hideTabBar({
				animation: false
			})

		},
		methods: {
			getLocation() {
				var that = this
				uni.getLocation({
					type: 'wgs84',
					success: function(res) {
						console.log(res)
						that.params.longitude = res.longitude
						that.params.latitude = res.latitude
						app.globalData.longitude = res.longitude
						app.globalData.latitude = res.latitude
						var data = res.latitude + ',' + res.longitude
						that.getCityInfo(data)
					},
					fail: function(res) {
						console.log('fail')
						that.workType()
					}
				});
			},
			getCityInfo(location) {
				var key = 'MXZBZ-HXU65-LGIIG-QVVD5-KBURO-3ZBWA';
				uni.request({
					url: 'https://apis.map.qq.com/ws/geocoder/v1/?location=' + location + '&key=' + key,
					header: {
						'Content-Type': 'application/json'
					},
					success: (res) => {
						this.city_name = res.data.result.ad_info.city
						this.params.code = res.data.result.ad_info.adcode
						this.workType()
					},
					fail: (msg) => {
						reject('请求失败');
					}
				})
			},
			regionConfirm(e) {

				if (e.city.label == '市辖区') {
					this.city_name = e.province.label
				} else {
					this.city_name = e.city.label
				}

				this.params.code = e.city.value
				this.getList()
			},
			getList() {
				this.showLoading = true
				this.showEmpty = false
				getList(this.params).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						this.list = res.data.data_list
						if (this.list.length == 0) {
							this.showEmpty = true
						} else {
							this.showEmpty = false
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			workType() {
				workType().then(res => {
					if (res.code == 1) {
						this.params.worker_type = res.data.worker_type_list[0].id
						this.worklist = res.data.worker_type_list
						this.chickTab = res.data.worker_type_list[0].id
						this.ayiType = res.data.worker_type_list[0].name
						this.list = []
						this.showLoading = true
						this.getList()
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			workerConfirm(e) {
				this.ayiType = e[0].label
				this.chickTab = e[0].value
				this.params.worker_type = e[0].value
				this.list = []
				this.showLoading = true
				this.getList()
			},
			getBannerlist() {
				getBannerlist().then(res => {
					if (res.code == 1) {
						this.bannerlist = res.data.banner_big
						this.sortlist = res.data.sort
						// var list = res.data.filter
						// for (var i = 0; i < list.length; i++) {
						// 	list[i].checkd = []
						// 	var item = list[i].item
						// 	for (var j = 0; j < item.length; j++) {
						// 		item[j].checkd = false
						// 	}
						// }
						// this.filterlist = list
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			goSwiper(e) {
				var url = this.bannerlist[e].url_id
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}

			},
			filterList() {
				filterList().then(res => {
					if (res.code == 1) {
						var list = res.data
						for (var i = 0; i < list.length; i++) {
							list[i].checkd = []
							var item = list[i].item
							for (var j = 0; j < item.length; j++) {
								item[j].checkd = false
							}
						}
						this.filterlist = list
						this.filterlistd = list
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			closeBanner() {
				this.bannerShow = false
			},
			closeThree() {
				this.threeShow = true
			},
			checkTab(id, name, index) {
				this.chickTab = id
				this.ayiType = name
				this.scrollLeft = (index - 2) * 90
				this.params.worker_type = id
				this.list = []
				this.showLoading = true
				this.getList()
			},
			bindPickerChange: function(e) {
				this.chickTab = e.target.value * 1 + 1
				this.scrollLeft = (e.target.value - 2) * 90
				this.screen = 1
				this.showPopup = false
			},
			openSort(type) {
				if (type == 2) {
					this.issmartShow = true
					this.isscreenShow = false
				} else if (type == 3) {
					this.isscreenShow = true
					this.issmartShow = false
				}
				this.showPopup = true

			},
			openSortss() {
				this.issmartShow = true
				this.isscreenShow = false
				this.showPopup = this.showPopup ? false : true
			},
			closePopup() {
				this.showPopup = false
				this.isscreenShow = false
				this.issmartShow = false
				// this.issmart = false
				// this.sortnum = ''
			},
			reset() {
				if (this.issmartShow) {
					this.sortnum = ''
					this.sortName = '智能排序'
					this.issmart = false
					this.showPopup = false
					this.list = []
					this.showLoading = true
					this.getList()
				} else if (this.isscreenShow) {
					var list = this.filterlist
					for (var i = 0; i < list.length; i++) {
						list[i].checkd = []
						if (list[i].multi == 1) {
							var ltem = list[i].item
							for (var j = 0; j < ltem.length; j++) {
								ltem[j].checkd = false
							}
						}
					}
					this.filterlist = list
					this.list = []
					this.showLoading = true
					this.getList()
				}
			},
			choiceSort(type, name) {
				this.sortnum = type
				this.params.sort = type
				this.issmart = true
				this.sortName = name
			},

			moveHandle() {
				return;
			},
			bindClass(num) {
				this.bindClassType = true
				this.right_class = 'right_class' + num
				this.cellright_class = 'right_class' + num
			},
			srollCell(e) {
				var that = this
				if (!that.bindClassType) {
					uni.createSelectorQuery().selectAll('.sort_cell_right_box').boundingClientRect(res => {
						res.forEach(function(rect) {
							if (getApp().globalData.statusBarHeight > 20) {
								if (rect.top < 197 && rect.top > 197 - rect.height) {
									that.right_class = rect.id
								}
							} else {
								if (rect.top < 173 && rect.top > 173 - rect.height) {
									that.right_class = rect.id
								}
							}

						})

					}).exec()
				} else {
					this.bindClassType = false
				}
			},
			checkClassify(id, index, cid, indexd, multi) {
				if (multi == 1) {
					this.filterlist[index].checkd.push(parseInt(cid))
					this.filterlist[index].item[indexd].checkd = this.filterlist[index].item[indexd].checkd ? false : true
					var list = this.filterlist[index].checkd
					console.log(list)
					for (var i = 0; i < list.length; i++) {
						if (list[i] == id) {
							list.splice(i, 1)
							this.filterlist[index].checkd = list
						} else {
							this.filterlist[index].checkd = list
						}
					}
				} else {
					if (this.filterlist[index].checkd[0] == parseInt(cid)) {
						this.filterlist[index].checkd = []
					} else {
						this.filterlist[index].checkd = [parseInt(cid)]
					}
				}
			},
			classifySearch() {
				var that = this
				that.showPopup = false
				var list = JSON.parse(JSON.stringify(that.filterlist));

				for (var i = 0; i < list.length; i++) {
					delete list[i].item
					delete list[i].id
					delete list[i].multi
					delete list[i].name
				}
				that.hideTop = true
				that.bannerShow = false
				that.params.filter = list
				that.list = []
				that.showLoading = true
				that.getList()
			},
			goInfo(uid, worker_type) {
				uni.navigateTo({
					url: '/pages/ayiinfo/ayiinfo?uid=' + uid + '&worker_type=' + worker_type
				})
			},
			goEasy(uuid, worker_type) {
				if (uni.getStorageSync('token')) {
					uni.navigateTo({
						url: '/pages/goeasy/goeasy?uid=' + uuid + '&worker_type=' + worker_type
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			goService() {
				if (uni.getStorageSync('token')) {
					uni.navigateTo({
						url: '/pages/public/chat/index'
					})
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
		},
		onPullDownRefresh() {
			this.showEmpty = false
			this.showLoading = true
			// this.params.worker_type = ''
			// this.params.sort = ''
			// this.params.filter = []
			// this.params.keyword = ''
			this.list = []
			this.getList()
			// this.getList()
			uni.stopPullDownRefresh()
		}

	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.notScroll {
		overflow: hidden;
	}

	.bk_box {
		width: 100%;
		height: 750rpx;
		// background-size: 100% 750rpx;
		// background-image: url('https://api.ayi.hudongnet.com/uploads/20210830/a9632474df52e6d972fdec7da329f20f.png');
	}

	.index {
		background-color: #F5F3F8;

		.index_top {
			width: 100%;
			height: 240rpx;
			border-bottom-right-radius: 200rpx;
			background-image: linear-gradient(to right, #A98AFF, #B573FF);
			position: relative;

			.search_box {
				min-height: 240rpx;
				left: 30rpx;
				right: 30rpx;
				position: absolute;
				bottom: -124rpx;
				background-color: #fff;
				border-radius: 20rpx;
				padding: 40rpx;
				box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

				.scroll-view_H {
					height: 80rpx;
					display: flex;
					align-items: center;
					overflow-x: auto;
					text-overflow: ellipsis;
					white-space: nowrap;

					.ayi_tabs_bin {
						font-size: 28rpx;
						color: #696572;
						padding: 0 20rpx;
						position: relative;
					}

					.ayi_tabs_bin_select {
						font-size: 32rpx;
						color: #39373D;
						padding: 0 20rpx;
						font-weight: 500;
						position: relative;
					}

					.tab_bottom {
						width: 36rpx;
						height: 6rpx;
						position: absolute;
						bottom: -10rpx;
						margin: 0 auto;
						left: 0;
						right: 0;
					}
				}

				.loca_box {
					display: flex;
					align-items: center;
					margin-top: 15px;
					font-size: 14px;

					.loca_left {
						float: left;
						flex: 1;
					}

					.loca_right {
						float: right;
					}

					.local_img {
						width: 32rpx;
						height: 32rpx;
						vertical-align: middle;
					}
				}

				.search_btn {
					font-size: 14px;
					border-radius: 30px;
					color: #FFFFFF;
					background-image: linear-gradient(to right, #6943FA, #5602AC);
					margin-top: 20px;
				}
			}
		}

		.btc_box {
			margin-top: 140rpx;
			padding-bottom: 120rpx;
		}

		.banner_box {
			height: 160rpx;
			margin: 0 30rpx;

			position: relative;

			.ab_icon {
				position: absolute;
				right: 0;
				top: 0;
				padding: 20rpx 20rpx 40rpx 40rpx;
			}
		}

		.three_box {
			padding: 30rpx;
			display: flex;
			align-items: center;
			position: relative;

			.three_box_img {
				width: 216rpx;
				height: 100rpx;
			}

			.three_box_icon {
				position: absolute;
				right: 15rpx;
				top: 15rpx;
				padding: 20rpx;
			}
		}

		.cell_box {
			padding: 30rpx;

			.cell_list {
				padding: 30rpx;
				background-color: #fff;
				border-radius: 20rpx;
				margin-bottom: 20rpx;

				.cell_list_info {
					display: flex;
					align-items: center;

					.cell_list_userimg_box {
						width: 140rpx;
						height: 140rpx;
						position: relative;
						border-radius: 100rpx;

						.cell_list_userimg {
							width: 140rpx;
							height: 140rpx;
							border-radius: 100rpx;
						}

						.cell_list_userapprove {
							width: 35rpx;
							height: 35rpx;
							position: absolute;
							bottom: 0;
							right: 0;
						}
					}

					.cell_list_userbox {
						flex: 1;
						margin-left: 30rpx;

						.cell_list_username {
							color: #39373D;
							font-size: 32rpx;
							font-weight: 500;
							display: flex;
							align-items: center;

							.user_type {
								color: #5602AC;
								background-color: #E7E2F2;
								font-size: 18rpx;
								padding: 2rpx 10rpx;
								margin-left: 15rpx;
							}
						}

						.cell_list_userinfo {
							color: #696572;
							font-size: 26rpx;
							margin-top: 12rpx;
						}
					}

					.cell_list_chat {
						width: 32rpx;
						height: 32rpx;
					}
				}

				.cell_list_price {
					color: #FF5555;
					font-size: 32rpx;
					margin-left: 130rpx;
					margin-top: 12rpx;
				}

				.cell_list_skill {
					color: #9891A5;
					font-size: 20rpx;
					margin-left: 130rpx;
					margin-top: 12rpx;

					.list_skill {
						background-color: #FFFFFF;
						color: #9891A5;
						font-size: 20rpx;
						padding: 5rpx 12rpx;
						border-radius: 6rpx;
						margin: 5px 5px 2px 0;
						display: inline-block;
						border: 2rpx solid #9891A5;
					}
				}
			}
		}

		.change_box {
			display: flex;
			align-items: center;
			font-size: 28rpx;
			padding: 20rpx 30rpx;
			background-color: #F5F3F8;

			.change_cell {
				color: #39373D;
				width: 33.333%;
				display: flex;
				align-items: center;
				// justify-content: center;
			}

			.cell_select {
				color: #5602AC;
				font-weight: 500;
			}

			.change_cell_img {
				width: 24rpx;
				height: 16rpx;
				margin-left: 10rpx;
				vertical-align: middle;
			}

			.change_cell_filter {
				width: 28rpx;
				height: 30rpx;
				margin-left: 10rpx;
				vertical-align: middle;
			}
		}

		.service_box {
			width: 100rpx;
			height: 100rpx;
			position: fixed;
			bottom: 30%;
			right: 30rpx;
			z-index: 3;
		}

		.popup_mask {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 4;
		}

		.popup_top_box {
			display: flex;
			align-items: center;
			font-size: 32rpx;
			padding: 30rpx;

			.loca_left {
				float: left;
				display: flex;
				align-items: center;
			}

			.local_img {
				width: 16px;
				height: 16px;
				vertical-align: middle;
			}

			.search_input {
				color: #9891A5;
				font-size: 28rpx;
				display: flex;
				align-items: center;
				background-color: #F5F3F8;
				flex: 1;
				border-radius: 32rpx;
				padding: 15rpx 20rpx;
				margin-left: 40rpx;

				.search_input_img {
					width: 32rpx;
					height: 32rpx;
				}
			}
		}

		.popup_box {
			position: fixed;
			left: 0;
			right: 0;
			height: auto;
			background-color: #FFFFFF;
			z-index: 5;
			-webkit-animation: fadeInDown .3s;
			animation: fadeInDown .3s;




			.popup_btnbox {
				display: flex;
				align-items: center;
				padding: 16rpx;
				border: 1rpx solid #ECECEC;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: #FFFFFF;

				.reset_btn {
					width: 240rpx;
					color: #39373D;
					font-size: 28rpx;
					border: 2rpx solid #9891A5;
					padding: 15rpx 0;
					text-align: center;
					border-radius: 30px;
				}

				.submint_btn {
					margin-left: 30rpx;
					flex: 1;
					color: #FFFFFF;
					font-size: 28rpx;
					padding: 15rpx 0;
					background-image: linear-gradient(to right, #6943FA, #5602AC);
					text-align: center;
					border-radius: 30px;
				}
			}

			.sort_cell {
				height: 280rpx;

				.sort {
					width: 200rpx;
					color: #39373D;
					font-size: 24rpx;
					background-color: #F5F3F8;
					border: 2rpx solid #F5F3F8;
					border-radius: 30rpx;
					text-align: center;
					padding: 12rpx 0;
					margin: 0 10rpx;
				}

				.sort_box {
					width: 33.333%;
					text-align: center;
					display: flex;
					justify-content: center;
					float: left;
					/* margin: 20rpx 0; */
					margin-bottom: 33rpx;
				}

				.sort_on {
					color: #5602AC;
					background-color: #FFFFFF;
					border: 2rpx solid #5602AC;
				}

			}

			.sortt_cbox {
				.sort {
					width: 33.333%;
					color: #39373D;
					font-size: 24rpx;
					background-color: #F5F3F8;
					border: 2rpx solid #F5F3F8;
					border-radius: 30rpx;
					text-align: center;
					padding: 12rpx 0;
					margin: 0 10rpx;
				}

				.sort_on {
					color: #5602AC;
					background-color: #FFFFFF;
					border: 2rpx solid #5602AC;
				}
			}



			.sort_cell_box {
				width: 100%;
				display: flex;
				border-top: 1rpx solid rgba(0, 0, 0, 0.06);
				padding-bottom: 105rpx;

				.sort_cell_left {
					width: 22%;
					font-size: 26rpx;

					.classify {
						color: #39373D;
						padding: 24rpx 30rpx;
						background-color: #F5F3F8;
					}

					.classify_on {
						color: #39373D;
						padding: 24rpx 0;
						background-color: #FFFFFF;

						.classifybor {
							border-left: 3px solid #22C4C5;
							margin-right: 27rpx;
						}
					}
				}

				.sort_cell_right {
					flex: 1;
					float: right;
					width: 78%;
					height: 510rpx;
					overflow: auto;
					padding: 30rpx;

					.sort_cell_right_box {
						width: 100%;
						overflow: hidden;

						.sort_cell_right_title {
							color: #39373D;
							font-size: 28rpx;
							font-weight: 600;
							margin: 20rpx 0;
						}

						.ayi_grid_box {
							width: 33.333%;
							float: left;

							.ayi_grid {
								padding: 20rpx 5rpx;

								.grid {
									width: 100%;
									color: #39373D;
									font-size: 24rpx;
									background-color: #F5F3F8;
									border: 2rpx solid #F5F3F8;
									border-radius: 30rpx;
									text-align: center;
									padding: 12rpx 0;
									display: inline-block;
								}

								.grid_on {
									color: #5602AC;
									background-color: #FFFFFF;
									border: 2rpx solid #5602AC;
								}
							}
						}

					}
				}


			}
		}

		@keyframes fadeInDown {
			0% {
				-webkit-transform: translate3d(0, -20%, 0);
				-webkit-transform: translate3d(0, -20%, 0);
				transform: translate3d(0, -20%, 0);
				transform: translate3d(0, -20%, 0);
				opacity: 0;
			}

			100% {
				-webkit-transform: none;
				transform: none;
				opacity: 1;
			}
		}

		@-webkit-keyframes fadeInDown {
			0% {
				-webkit-transform: translate3d(0, -20%, 0);
				opacity: 0;
			}

			100% {
				-webkit-transform: none;
				opacity: 1;
			}
		}

	}
</style>
