<template>
	<view class="surveylist_box">
		<tab-Bar :botheight="bottomHeight" pageCode='5'></tab-Bar>
		<view class="scroll_box">
			<!-- <scroll-view class="scroll-view_H" scroll-x="true" :scroll-left="scrollLeft"> -->
			<view v-for="item in array" :key="item.id" :class="item.id==chickTab?'ayi_tabs_bin_select':'ayi_tabs_bin'"
				@click="checkTab(item.id,item.title)">{{item.title}}
				<image v-if="chickTab==item.id" class="tab_bottom" src="../../static/images/tab_bottom.png">
				</image>
			</view>
			<!-- </scroll-view> -->
		</view>
		<view :style="'margin-top: 90rpx;padding-bottom:'+pdbottom+ 'px;'">
			<view class="cell_list" v-for="(item,index) in list" :key="item.id">
				<view class="display_flex" style="border-bottom: 1rpx solid #ECECEC;padding-bottom: 30rpx;">
					<view class="cell_left" style="flex: 1;">背调单号：{{item.order_sn}}</view>
					<view class="cell_right">
						{{item.status_text}}
					</view>
				</view>
				<view class="mt-15">
					<view class="display_flex">
						<view style="flex: 1;">
							<view class="display_flex">
								<view class="cell_left">
									<span>姓名：</span>{{item.name}}
								</view>
							</view>
							<view class="mt-10">
								<view class="cell_left">
									<span>手机号：</span>{{item.mobile}}
								</view>
							</view>
						</view>
						<view class="check_img" v-if="item.pdf_url" @click="showPdf(item.pdf_url)">
							查看报告
						</view>
					</view>
					<view class="mt-10 display_flex">
						<view class="cell_left" style="flex: 1;">
							<span>下单时间：</span>
							{{item.ctime_text}}
						</view>
						<block v-if="item.status==0">
							<view class="close_btn" @click="cancel(item.id,index)">取消</view>
							<view class="gopay_btn ml-10" @click="goPay(item.order_sn)">去支付</view>
						</block>
					</view>
				</view>
			</view>
		</view>
		<view class="popsub_btn" @click="addSurvey" :style="'position: fixed;bottom:' +pdbottom+'px;left:30rpx;right:30rpx;'">添加背调信息</view>
		<u-popup v-model="showPopOrder" mode="center" width="80%" border-radius="15" @close="goSurvey(2)">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">订单提交成功</view>
				<view class="f-12 mt-10">订单支付成功！</view>
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="pop_btn mt-30" @click="goSurvey(2)">查看订单</view>
				</view>
			</view>
		</u-popup>
		<u-popup v-model="orderFail" mode="center" width="80%" border-radius="15">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_none.png"></image>
				<view class="f-18 f-w mt-20">订单提交失败！</view>
				<view class="f-12 mt-10">订单未支付， 请稍后重试！</view>
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="pop_btn mt-30" @click="goSurvey(0)">查看订单</view>
				</view>
			</view>
		</u-popup>
		<view style="margin-top: 10%;" v-if="showEmpty">
			<u-empty text="暂无数据" mode="list"></u-empty>
		</view>
		<view class="text-c c-gray" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		beidiaoOrderList,
		beidiaoCancel,
		beidiaoPay
	} from '@/api/ayi.js';

	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				showPopOrder: false,
				orderFail: false,
				showEmpty: false,
				showLoading: true,
				bottomHeight: getApp().globalData.bottomHeight,
				pdbottom: getApp().globalData.bottomHeight + 60,
				array: [{
					id: 0,
					title: '待付款'
				}, {
					id: 1,
					title: '已付款'
				}, {
					id: 2,
					title: '已退款'
				}, {
					id: 3,
					title: '已取消'
				}],
				params: {
					status: 0,
					page: 1
				},
				list: [],
				chickTab: 0,
				scrollLeft: 0,
				auction: false
			};
		},
		onShow() {

		},
		onLoad(options) {
			this.chickTab=options.type
			this.params.status = options.type
			this.beidiaoOrderList()
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			beidiaoOrderList() {
				beidiaoOrderList(this.params).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						this.list.push.apply(this.list, res.data.data_list)
						this.last_page = res.data.last_page
						this.current_page = res.data.current_page
						if(this.list.length==0){
							this.showEmpty=true
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			cancel(id, index) {
				var that = this
				uni.showModal({
					content: '确定要取消该订单吗？',
					showCancel: true,
					cancelText: '取消',
					confirmText: '确定',
					confirmColor: '#5602AC',
					success: function(res) {
						if (res.confirm) {
							beidiaoCancel({
								id: id
							}).then(res => {
								if (res.code == 1) {
									that.list.splice(index, 1)
								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none',
										duration: 1500
									});
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			showPdf(url) {
				uni.downloadFile({
					url: url,
					success: function(res) {
						var filePath = res.tempFilePath;
						uni.openDocument({
							filePath: filePath,
							success: function(res) {
								console.log('打开文档成功');
							}
						});
					}
				});
			},
			goPay(id) {
				var that=this
				uni.showLoading({
					title:'加载中...'
				})
				beidiaoPay({
					order_sn: id
				}).then(res => {
					uni.hideLoading()
					if (res.code == 1) {
						uni.requestPayment({
							provider: 'wxpay',
							timeStamp: res.data.pay_data.timeStamp,
							nonceStr: res.data.pay_data.nonceStr,
							package: res.data.pay_data.package,
							signType: 'MD5',
							paySign: res.data.pay_data.paySign,
							success(res) {
								that.showPopOrder = true
							},
							fail(res) {
								that.orderFail = true
							}
						})
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			checkTab(id, name) {
				this.chickTab = id
				this.params.status = id
				this.list = []
				this.showEmpty = false
				this.showLoading = true
				this.beidiaoOrderList()
				this.scrollLeft = (id - 3) * 90
			},
			addSurvey(){
				uni.navigateTo({
					url:'/pages/survey/survey'
				})
			}
		},
		onReachBottom() {
			if (this.last_page > this.params.page) {
				this.params.page = this.params.page+1
				this.beidiaoOrderList()
			}
		},
		onPullDownRefresh() {
			this.params.page = 1
			this.showEmpty = false
			this.list = []
			this.showLoading = true
			this.beidiaoOrderList()
			uni.stopPullDownRefresh()
		},
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.surveylist_box {
		padding: 30rpx;

		.scroll_box {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			padding: 30rpx 0;
			background-color: #FFFFFF;

			.ayi_tabs_bin {
				width: 25%;
				font-size: 28rpx;
				color: #696572;
				padding: 0 20rpx;
				position: relative;

				text-align: center;
			}

			.ayi_tabs_bin_select {
				width: 25%;
				font-size: 32rpx;
				color: #39373D;
				padding: 0 20rpx;
				font-weight: 500;
				position: relative;
				text-align: center;
			}

			.tab_bottom {
				width: 36rpx;
				height: 6rpx;
				position: absolute;
				bottom: -10rpx;
				margin: 0 auto;
				left: 0;
				right: 0;
			}

			.scroll-view_H {
				height: 80rpx;
				display: flex;
				align-items: center;
				overflow-x: auto;
				text-overflow: ellipsis;
				white-space: nowrap;


			}
		}

		.cell_list {
			padding: 30rpx;
			background-color: #fff;
			border-radius: 20rpx;
			margin-bottom: 20rpx;

			.check_img {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 160rpx;
				height: 80rpx;
				font-size: 24rpx;
				text-align: center;
				border: 2rpx solid #eaeaea;
			}

			.gopay_btn {
				width: 120rpx;
				color: #FFFFFF;
				font-size: 24rpx;
				text-align: center;
				padding: 10rpx 0;
				border-radius: 60rpx;
				background-image: linear-gradient(to right, #A98AFF, #B573FF);
			}

			.close_btn {
				width: 120rpx;
				font-size: 24rpx;
				text-align: center;
				padding: 10rpx 0;
				border-radius: 60rpx;
				background-color: #e2e2e2;
			}
		}
		.pop_orderbox {
			padding: 60rpx 20rpx;
			overflow: hidden;
		
			.sub_result {
				width: 230rpx;
				height: 230rpx;
			}
		}
		
		.pop_btn {
			width: 300rpx;
			height: 80rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #FFFFFF;
			border-radius: 60px;
			background-image: linear-gradient(to right, #6943FA, #5602AC);
		}
	}
</style>
