<!-- 客服兼容 -->
<template>
	<view class="chat-template-box" v-if="showChat">
		<Chat v-if="isShoproChat"></Chat>
		<Wm v-if="!isShoproChat" :options="kefuOptions"></Wm>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
import { mapMutations, mapActions, mapState, mapGetters } from 'vuex';
import Chat from './shopro/index.vue';
import Wm from './wm/index.vue';
export default {
	components: {
		Chat,
		Wm
	},
	data() {
		return {
			showAllPop: getApp().globalData.showAllPop,
			isShoproChat: true,
			kefuOptions: null,
			showChat: false
		};
	},
	// computed: {
	// 	...mapState({
	// 		addons: ({ shopro }) => shopro.config?.addons, //插件配置
	// 		chatInfo: ({ shopro }) => shopro.config?.chat //客服配置
	// 	})
	// },
	onLoad(options) {
		this.kefuOptions = options;
		//判断客服;
		// if (this.chatInfo && this.chatInfo.type === 'shopro') {
		// 	this.isShoproChat = true;
		// } else {
		// 	if (this.addons && this.addons.includes('kefu')) {
		// 		this.isShoproChat = false;
		// 	}
		// }
		this.showChat = true;
	},
	methods: {
		goPopPage() {
			var url = getApp().globalData.page_url
			if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
				url == '/pages/sign/sign') {
				uni.switchTab({
					url: url
				})
			} else {
				uni.navigateTo({
					url: url
				})
			}
		},
	}
};
</script>

<style lang="scss">
.chat-template-box {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
</style>
