<template>
	<view class="agreement">
		<rich-text :nodes="content"></rich-text>
	</view>
</template>

<script>
	import {
		getRichText
	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				content: ''
			};
		},
		onLoad(options) {
			this.id = options.id
			this.getRichText()
		},
		onShow() {

		},
		methods: {
			getRichText() {
				getRichText({
					id: this.id
				}).then(res => {
					if (res.code == 1) {
						uni.setNavigationBarTitle({
							title: res.data.title
						});
						this.content = res.data.content
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},

		}
	}
</script>

<style lang="scss">
	// page {
	// 	background-color: #F5F3F8;
	// }
	.agreement {
		padding: 30rpx;
		font-size: 28rpx;
	}
</style>
