<template>
	<view class="rich-wrap">
		<view class="richText_box">
			<u-parse :html="richText.content"></u-parse>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getRichText,

	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				richText: ''
			};
		},
		onLoad() {
			this.showAllPop = getApp().globalData.showAllPop
			this.getRichText()
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			getRichText() {
				getRichText({
					id: 3
				}).then(res => {
					if (res.code == 1) {
						this.richText = res.data;
						uni.setNavigationBarTitle({
							title: res.data.title
						});

					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			}
		}
	}
</script>

<style lang="scss">
	
</style>
