<template>
	<view class="userapprove">
		<u-steps :list="numList" mode="number" active-color="#6943FA" un-active-color="#9891A5" :current="3"></u-steps>
		<view class="form_box">
			<u-form :model="form" ref="uForm" label-align="left" :rules="rules" :errorType="errorType">
				<view class="form_cell">
					<u-form-item label="服务模式" required prop="stay_type">
						<u-radio-group v-model="form.stay_type" @change="radioStay">
							<u-radio key="1" active-color="#6943FA" name="1">白班</u-radio>
							<u-radio key="2" active-color="#6943FA" name="2">住家</u-radio>
							<u-radio key="3" active-color="#6943FA" name="3">均可</u-radio>
						</u-radio-group>
					</u-form-item>
					<view @click="showRegion = true">
						<u-form-item label="服务区域" required prop="code"
							:rightIconStyle="{color: '#888', fontSize: '32rpx'}" right-icon="arrow-right"
							@click="showRegion = true">
							<!-- <u-input placeholder="请选择" input-align="right" type='select' v-model="form.address_city"
							@click="showRegion = true" /> -->
							<view @click="showRegion = true" class="f-r c-gray f-13 text-r" style="width: 100%;">
								<block v-for="(item,index) in form.address_city" :key="item">
									<u-tag style="margin: 0 8rpx;" @close="tagClick(index)" :text="item" mode="light"
										bg-color="#EAE4FF" border-color="#5602AC" color="#5602AC" close-color="#5602AC"
										closeable />
								</block>
								<block v-if="form.address_city.length==0">点击进入设置</block>
							</view>
						</u-form-item>
					</view>
				</view>
				<view class="form_cell">
					<u-form-item label="工作年限" required prop="years_name">
						<u-input :border="border" type="select" input-align="right" :select-open="yearsShow"
							v-model="form.years_name" placeholder="请选择工作年限" @click="yearsShow = true"></u-input>
						<!-- <u-input placeholder="" input-align="right" v-model="form.years" /> -->
					</u-form-item>
					<u-form-item label="异地服务" required prop="allopatry">
						<u-radio-group v-model="form.allopatry">
							<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
							<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
						</u-radio-group>
					</u-form-item>
				</view>
				<view class="form_cell" @click="approveSalary">
					<u-form-item label="薪资" :rightIconStyle="{color: '#888', fontSize: '32rpx'}"
						right-icon="arrow-right">
						<view class="f-r f-13" v-if="form.money>0">{{form.money}}元</view>
						<view class="f-r c-gray f-13" v-else>设置薪资要求</view>
					</u-form-item>
				</view>
				<view class="form_cell">
					<u-form-item label="工作经历" :rightIconStyle="{color: '#888', fontSize: '32rpx'}"
						right-icon="arrow-right">
						<view class="f-r c-gray f-13" @click="goWorklist">点击进入设置</view>
					</u-form-item>
					<u-form-item label="培训经历" :rightIconStyle="{color: '#888', fontSize: '32rpx'}"
						right-icon="arrow-right">
						<view class="f-r c-gray f-13" @click="goTrainlist">点击进入设置</view>
					</u-form-item>
				</view>
				<view class="form_cell">
					<block v-if="worker_type_id==2">
						<u-form-item label="服务雇主数量(户)" prop="employer_nums">
							<u-input placeholder="请输入" input-align="right" type="number" v-model="form.employer_nums" />
						</u-form-item>
						<u-form-item label="服务国外雇主数量(户)" prop="employers_nums_foreign">
							<u-input placeholder="请输入" input-align="right" type="number"
								v-model="form.employers_nums_foreign" />
						</u-form-item>
					</block>
					<block v-if="worker_type_id==3||worker_type_id==8||worker_type_id==2">
						<u-form-item label="上位雇主服务年限(年)" prop="last_employers_years">
							<u-input placeholder="请输入" input-align="right" type="number"
								v-model="form.last_employers_years" />
						</u-form-item>

						<u-form-item label="上位雇主服务终止原因" prop="form.last_employers_reason">
							<u-input placeholder="请输入" input-align="right" v-model="form.last_employers_reason" />
						</u-form-item>
					</block>
					<block v-if="worker_type_id==8">
						<u-form-item label="服务过失能老人(位)" prop="elders_nums_disabled">
							<u-input placeholder="请输入" input-align="right" type="number"
								v-model="form.elders_nums_disabled" />
						</u-form-item>
						<u-form-item label="服务过失智老人(位)" prop="elders_nums_dementia">
							<u-input placeholder="请输入" input-align="right" type="number"
								v-model="form.elders_nums_dementia" />
						</u-form-item>
					</block>
					<!-- 月嫂 -->
					<block v-if="worker_type_id==1">
						<u-form-item label="服务早产儿数量(人)" prop="preemy_nums">
							<u-input placeholder="请输入" input-align="right" type="number" v-model="form.preemy_nums" />
						</u-form-item>
						<u-form-item label="服务双胞胎(个)" prop="twins_nums">
							<u-input placeholder="请输入" input-align="right" type="number" v-model="form.twins_nums" />
						</u-form-item>
					</block>
				</view>
				<block v-if="worker_type_id==3||worker_type_id==8||worker_type_id==1">
					<view class="form_cell" style="padding: 14rpx 30rpx;">
						<u-collapse style="position: relative;" v-if="Fooddishlist.length>0">
							<u-collapse-item :head-style="headstyle" title="会做菜系" :open="false">
								<view class="popchioce_cell">
									<view style="font-size: 24rpx;" v-for="(item,index) in Fooddishlist" :key="item.id"
										@click="checkFooddishlist(item.id,index)"
										:class="item.status_text==1?'popchioce popchioce_on':'popchioce'">{{item.name}}
									</view>
								</view>
							</u-collapse-item>
						</u-collapse>
					</view>
					<view class="form_cell" style="padding: 14rpx 30rpx;">
						<u-collapse style="position: relative;" v-if="Foodlist.length>0">
							<u-collapse-item :head-style="headstyle" title="主食(汤类)" :open="false">
								<view class="popchioce_cell">
									<view style="font-size: 24rpx;" v-for="(item,index) in Foodlist" :key="item.id"
										@click="checkFoodlist(item.id,index)"
										:class="item.status_text==1?'popchioce popchioce_on':'popchioce'">{{item.name}}
									</view>
								</view>
							</u-collapse-item>
						</u-collapse>
					</view>
				</block>
				<block v-if="worker_type_id==3||worker_type_id==8">
					<view class="form_cell" style="padding: 14rpx 30rpx;">
						<u-collapse style="position: relative;" v-if="Foodrecipelist.length>0">
							<u-collapse-item :head-style="headstyle" title="会烹饪方法" :open="false">
								<view class="popchioce_cell">
									<view style="font-size: 24rpx;" v-for="(item,index) in Foodrecipelist"
										:key="item.id" @click="checkFoodrecipelist(item.id,index)"
										:class="item.status_text==1?'popchioce popchioce_on':'popchioce'">{{item.name}}
									</view>
								</view>
							</u-collapse-item>
						</u-collapse>
					</view>
				</block>
				<block v-if="worker_type_id==2">
					<view class="form_cell" style="padding: 14rpx 30rpx;">
						<u-collapse style="position: relative;" v-if="Foodsupplementlist.length>0">
							<u-collapse-item :head-style="headstyle" title="会做哪些辅食" :open="false">
								<view class="popchioce_cell">
									<view style="font-size: 24rpx;" v-for="(item,index) in Foodsupplementlist"
										:key="item.id" @click="checkFoodsupplementlist(item.id,index)"
										:class="item.status_text==1?'popchioce popchioce_on':'popchioce'">{{item.name}}
									</view>
								</view>
							</u-collapse-item>
						</u-collapse>
					</view>
					<view class="form_cell" style="padding: 14rpx 30rpx;">
						<u-collapse style="position: relative;" v-if="Earlylist.length>0">
							<u-collapse-item :head-style="headstyle" title="擅长早教方式" :open="false">
								<view class="popchioce_cell">
									<view style="font-size: 24rpx;" v-for="(item,index) in Earlylist" :key="item.id"
										@click="checkEarlylist(item.id,index)"
										:class="item.status_text==1?'popchioce popchioce_on':'popchioce'">{{item.name}}
									</view>
								</view>
							</u-collapse-item>
						</u-collapse>
					</view>
				</block>
				<!-- <block v-if="worker_type_id==4">
					<view class="form_cell">
						<view class="collapse_title" style="padding: 15rpx 0;">从事工作过的医院(写1-3家)</view>
						<view class="display_flex" v-for="(item,index) in hospitalist" :key="index">
							<u-input placeholder="请输入医院名称" v-model="item.name" />
							<view class="delbtn" v-if="index<hospitalist.length-1" @click="delHos(index)">-</view>
							<view class="addbtn" @click="addHos()" v-if="index==hospitalist.length-1">+</view>
						</view>
					</view>
					<view class="form_cell">
						<view class="collapse_title" style="padding: 15rpx 0;">擅长护理科室(写1-3个)</view>
						<view class="display_flex" v-for="(item,index) in officelist" :key="index">
							<u-input placeholder="请输入医院名称" v-model="item.name" />
							<view class="delbtn" v-if="index<hospitalist.length-1" @click="delHos(index)">-</view>
							<view class="addbtn" @click="addHos()" v-if="index==hospitalist.length-1">+</view>
						</view>
					</view>
				</block> -->
				<view class="form_cell">
					<block v-if="worker_type_id==3">
						<u-form-item label="辅带孩子">
							<u-radio-group v-model="form.care_with_child">
								<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
							</u-radio-group>
						</u-form-item>
						<u-form-item label="照顾老人">
							<u-radio-group v-model="form.care_with_older">
								<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
							</u-radio-group>
						</u-form-item>
					</block>
					<block v-if="worker_type_id==4||worker_type_id==8">
						<u-form-item label="是否会打鼻饲">
							<u-radio-group v-model="form.status_nasal_feed">
								<u-radio key="1" active-color="#6943FA" name="1">会打鼻饲</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不会</u-radio>
							</u-radio-group>
						</u-form-item>
						<u-form-item label="是否会吸痰">
							<u-radio-group v-model="form.status_sputum">
								<u-radio key="1" active-color="#6943FA" name="1">会吸痰</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不会</u-radio>
							</u-radio-group>
						</u-form-item>
						<u-form-item label="照顾失能老人">
							<u-radio-group v-model="form.care_with_dementia">
								<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
							</u-radio-group>
						</u-form-item>
					</block>
					<block v-if="worker_type_id==4">
						<u-form-item label="回家照顾老人">
							<u-radio-group v-model="form.care_elderly_home">
								<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
							</u-radio-group>
						</u-form-item>
					</block>
					<block v-if="worker_type_id==3||worker_type_id==8">
						<u-form-item label="服务国外雇主">
							<u-radio-group v-model="form.serving_employers_foreign">
								<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
							</u-radio-group>
						</u-form-item>
					</block>
					<block v-if="worker_type_id==2||worker_type_id==1">
						<u-form-item label="照顾早产儿">
							<u-radio-group v-model="form.preemy_status">
								<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
							</u-radio-group>
						</u-form-item>
						<u-form-item label="照顾多胞胎">
							<u-radio-group v-model="form.care_multiple_status">
								<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
							</u-radio-group>
						</u-form-item>
						<u-form-item label="护理先天疾病产儿">
							<u-radio-group v-model="form.care_disease_status">
								<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
							</u-radio-group>
						</u-form-item>
						<block v-if="worker_type_id==2">
							<u-form-item label="照顾自闭儿童">
								<u-radio-group v-model="form.care_autistic_child">
									<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
									<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
								</u-radio-group>
							</u-form-item>
						</block>
						<block v-if="worker_type_id==1">
							<u-form-item label="照顾高龄产妇">
								<u-radio-group v-model="form.care_high_parturient">
									<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
									<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
								</u-radio-group>
							</u-form-item>
						</block>

						<u-form-item label="和老人一起带孩子">
							<u-radio-group v-model="form.children_with_older">
								<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
								<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
							</u-radio-group>
						</u-form-item>
						<block v-if="worker_type_id==2">
							<u-form-item label="有人带孩子时做家务">
								<u-radio-group v-model="form.housework_without_children">
									<u-radio key="1" active-color="#6943FA" name="1">接受</u-radio>
									<u-radio key="2" active-color="#6943FA" name="2">不接受</u-radio>
								</u-radio-group>
							</u-form-item>
						</block>
					</block>
					<u-form-item label="个人描述(200字以内)" prop="content" label-position="top">
						<u-input type="textarea" placeholder="请输入个人描述" input-align="left" maxlength="200"
							:clearable="false" v-model="form.content" />
					</u-form-item>
				</view>

				<view class="uni-btn-v">
					<button class="submint_btn" form-type="submit" @click="fourSub()">提交</button>
				</view>
			</u-form>
		</view>
		<u-select mode="single-column" :list="yearslist" value-name="id" label-name="name" v-model="yearsShow"
			@confirm="yearsConfirm"></u-select>
		<u-picker v-model="showRegion" mode="region" :params="cityparams" @confirm="regionConfirm"></u-picker>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getFooddish,
		getFood,
		getFoodrecipe,
		getFoodsupplement,
		getEarly,
		getWorkService,
		getServiceInfo,
		saveService,
		getYearslist,
		workType
	} from '@/api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				showRegion: false,
				showPayPop: true,
				worker_type_id: 0,
				form: {
					years: '',
					allopatry: '',
					money: 0,
					address_city: [],
					code: [],
					stay_type: 0
				},
				yearsShow: false,
				yearslist: [],
				cityparams: {
					province: true,
					city: true
				},
				numList: [{
					name: '身份认证'
				}, {
					name: '个人资料'
				}, {
					name: '资质证明'
				}, {
					name: '岗位信息'
				}, {
					name: '完成注册'
				}],
				errorType: ['message'],
				rules: {
					stay_type: [{
						required: true,
						type: 'number',
						message: '请选择服务模式',
						trigger: 'change',
					}],
					code: [{
						required: true,
						type: 'array',
						message: '请选择服务区域',
						trigger: 'change',
					}],
					years_name: [{
						required: true,
						message: '请选择工作年限',
						trigger: 'change',
					}],
					allopatry: [{
						required: true,
						type: 'number',
						message: '请选择异地服务',
						trigger: 'change'
					}],
				},
				Fooddishlist: [],
				Foodlist: [],
				Foodrecipelist: [],
				Foodsupplementlist: [],
				Earlylist: [],
				hospitalist: [{
					id: 0,
					name: '',
				}],
				officelist: [{
					id: 0,
					name: '',
				}],
				food_dish_ids: [],
				food_ids: [],
				food_recipe_ids: [],
				food_supplement_ids: [],
				early_type_ids: [],

			};
		},
		onShow() {
			if (app.globalData.money) {
				this.form.money = app.globalData.money
				app.globalData.money = 0
			}

		},
		onLoad(options) {
			this.getYearslist()
			this.getFooddish()
			this.getFood()
			this.getFoodrecipe()
			this.getFoodsupplement()
			this.getEarly()
			if (options.id) {
				this.worker_type_id = parseInt(options.id)
				this.workType()
				this.getServiceInfo()
			} else {
				this.getWorkService()
			}


		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			//模式
			radioStay(e) {
				this.form.stay_type = e;
			},
			workType() {
				workType().then(res => {
					if (res.code == 1) {
						var list = res.data.worker_type_list
						for (var i = 0; i < list.length; i++) {
							if (list[i].id == this.worker_type_id) {
								uni.setNavigationBarTitle({
									title: list[i].name + '岗位信息'
								})
							}
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			getYearslist() {
				getYearslist().then(res => {
					if (res.code == 1) {
						this.yearslist = res.data
						var list = res.data
						for (var i = 0; i < list.length; i++) {
							if (list[i].id == this.form.years) {
								this.form.years_name = list[i].name
							}
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			yearsConfirm(e) {
				this.form.years = e[0].value
				this.form.years_name = e[0].label
			},
			//提交岗位信息进完成页
			fourSub() {
				console.log(this.form)
				this.$refs.uForm.validate(valid => {
					if (valid) {
						if (this.worker_type_id == 3) {
							this.form.food_dish_ids = this.food_dish_ids
							this.form.food_ids = this.food_ids
							this.form.food_recipe_ids = this.food_recipe_ids
							this.saveService('/api/services.baomu/edit')
						} else if (this.worker_type_id == 4) {
							this.saveService('/api/services.hugong/edit')
						} else if (this.worker_type_id == 8) {
							this.form.food_dish_ids = this.food_dish_ids
							this.form.food_ids = this.food_ids
							this.form.food_recipe_ids = this.food_recipe_ids
							this.saveService('/api/services.jujiahuli/edit')
						} else if (this.worker_type_id == 2) {
							this.form.food_supplement_ids = this.food_supplement_ids
							this.form.early_type_ids = this.early_type_ids
							this.saveService('/api/services.yuer/edit')
						} else if (this.worker_type_id == 1) {
							this.form.food_dish_ids = this.food_dish_ids
							this.form.food_ids = this.food_ids
							this.saveService('/api/services.yusao/edit')
						} else if (this.worker_type_id == 6) {
							this.saveService('/api/services.chankang/edit')
						} else if (this.worker_type_id == 5) {
							this.saveService('/api/services.cuiru/edit')
						} else if (this.worker_type_id == 7) {
							this.saveService('/api/services.shouna/edit')
						} else if (this.worker_type_id == 9) {
							this.saveService('/api/services.tuina/edit')
						}
					} else {
						console.log('验证失败');
					}
				});
			},
			//保存内容
			saveService(url) {
				var that = this
				if (that.form.money != 0) {
					saveService(url, that.form).then(res => {
						if (res.code == 1) {
							uni.showToast({
								title: '提交成功',
								icon: 'success',
								duration: 1500
							});
							uni.navigateTo({
								url: '/pages/approvefive/approvefive'
							})
						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				} else {
					uni.showModal({
						content: '请设置薪资要求',
						confirmText: '设置',
						success: function(res) {
							if (res.confirm) {
								uni.navigateTo({
									url: '/pages/approvesalary/approvesalary?worker_type_id=' + that
										.worker_type_id
								})
							} else if (res.cancel) {
								console.log('用户点击取消');
							}
						}
					});
				}

			},
			//选择地区
			regionConfirm(e) {
				this.form.code.push(e.city.value)
				this.form.address_city.push(e.province.label + ' ' + e.city.label)
			},
			//删除地区
			tagClick(index) {
				var that = this
				uni.showModal({
					content: '删确定要删除该服务区域吗？',
					showCancel: true,
					cancelText: '取消',
					confirmText: '确定',
					confirmColor: '#5602AC',
					success: function(res) {
						if (res.confirm) {
							that.form.code.splice(index, 1)
							that.form.address_city.splice(index, 1)
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});

			},
			//开通服务列表
			getWorkService() {
				getWorkService().then(res => {
					if (res.code == 1) {
						var worklist = res.data.data_list
						this.worker_type_id = worklist[0].worker_type_id
						uni.setNavigationBarTitle({
							title: worklist[0].worker_type_text + '岗位信息'
						})
						this.getServiceInfo()
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},

			getServiceInfo() {
				if (this.worker_type_id == 3) {
					var url = '/api/services.baomu/index'
				} else if (this.worker_type_id == 4) {
					var url = '/api/services.hugong/index'
				} else if (this.worker_type_id == 8) {
					var url = '/api/services.jujiahuli/index'
				} else if (this.worker_type_id == 2) {
					var url = '/api/services.yuer/index'
				} else if (this.worker_type_id == 1) {
					var url = '/api/services.yusao/index'
				} else if (this.worker_type_id == 6) {
					var url = '/api/services.chankang/index'
				} else if (this.worker_type_id == 5) {
					var url = '/api/services.cuiru/index'
				} else if (this.worker_type_id == 7) {
					var url = '/api/services.shouna/index'
				} else if (this.worker_type_id == 9) {
					var url = '/api/services.tuina/index'
				}
				getServiceInfo(url).then(res => {
					if (res.code == 1) {
						this.form = res.data
						var years = res.data.years
						var list = this.yearslist
						for (var i = 0; i < list.length; i++) {
							if (list[i].id == res.data.years) {
								this.form.years_name = list[i].name
							}
						}
						this.formSelect()

					} else {
						// uni.showToast({
						// 	title: res.msg,
						// 	icon: 'none',
						// 	duration: 1500
						// });
					}
				})
			},
			formSelect() {
				var that = this
				if (that.worker_type_id == 3 || that.worker_type_id == 8 || that.worker_type_id == 1) {
					that.food_dish_ids = that.form.food_dish_ids
					for (var j = 0; j < that.food_dish_ids.length; j++) {
						for (var i = 0; i < that.Fooddishlist.length; i++) {
							if (that.Fooddishlist[i].id == that.food_dish_ids[j]) {
								that.Fooddishlist[i].status_text = 1
							}
						}
					}
					that.food_ids = that.form.food_ids
					for (var j = 0; j < that.food_ids.length; j++) {
						for (var i = 0; i < that.Foodlist.length; i++) {
							if (that.Foodlist[i].id == that.food_ids[j]) {
								that.Foodlist[i].status_text = 1
							}
						}
					}
					if (that.worker_type_id == 3 || that.worker_type_id == 8) {
						that.food_recipe_ids = that.form.food_recipe_ids
						for (var j = 0; j < that.food_recipe_ids.length; j++) {
							for (var i = 0; i < that.Foodrecipelist.length; i++) {
								if (that.Foodrecipelist[i].id == that.food_recipe_ids[j]) {
									that.Foodrecipelist[i].status_text = 1
								}
							}
						}
					}
				} else if (that.worker_type_id == 2) {
					that.food_supplement_ids = that.form.food_supplement_ids
					for (var j = 0; j < that.food_supplement_ids.length; j++) {
						for (var i = 0; i < that.Foodsupplementlist.length; i++) {
							if (that.Foodsupplementlist[i].id == that.food_supplement_ids[j]) {
								that.Foodsupplementlist[i].status_text = 1
							}
						}
					}
					that.early_type_ids = that.form.early_type_ids
					for (var j = 0; j < that.early_type_ids.length; j++) {
						for (var i = 0; i < that.Earlylist.length; i++) {
							if (that.Earlylist[i].id == that.early_type_ids[j]) {
								that.Earlylist[i].status_text = 1
							}
						}
					}
				}
			},
			//菜系
			getFooddish() {
				getFooddish().then(res => {
					if (res.code == 1) {
						this.Fooddishlist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择菜系
			checkFooddishlist(id, index) {
				if (this.Fooddishlist[index].status_text) {
					this.Fooddishlist[index].status_text = ''
					for (var i = 0; i < this.food_dish_ids.length; i++) {
						if (this.food_dish_ids[i] == id) {
							this.food_dish_ids.splice(i, 1)
						}
					}
				} else {
					this.Fooddishlist[index].status_text = 1
					this.food_dish_ids.push(id)
				}
			},
			//主食
			getFood() {
				getFood().then(res => {
					if (res.code == 1) {
						this.Foodlist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择主食
			checkFoodlist(id, index) {
				if (this.Foodlist[index].status_text) {
					this.Foodlist[index].status_text = ''
					for (var i = 0; i < this.food_ids.length; i++) {
						if (this.food_ids[i] == id) {
							this.food_ids.splice(i, 1)
						}
					}
				} else {
					this.Foodlist[index].status_text = 1
					this.food_ids.push(id)
				}
			},

			//烹饪方式
			getFoodrecipe() {
				getFoodrecipe().then(res => {
					if (res.code == 1) {
						this.Foodrecipelist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择烹饪
			checkFoodrecipelist(id, index) {
				if (this.Foodrecipelist[index].status_text) {
					this.Foodrecipelist[index].status_text = ''
					for (var i = 0; i < this.food_recipe_ids.length; i++) {
						if (this.food_recipe_ids[i] == id) {
							this.food_recipe_ids.splice(i, 1)
						}
					}
				} else {
					this.Foodrecipelist[index].status_text = 1
					this.food_recipe_ids.push(id)
				}
			},
			//辅食
			getFoodsupplement() {
				getFoodsupplement().then(res => {
					if (res.code == 1) {
						this.Foodsupplementlist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择辅食
			checkFoodsupplementlist(id, index) {
				if (this.Foodsupplementlist[index].status_text) {
					this.Foodsupplementlist[index].status_text = ''
					for (var i = 0; i < this.food_supplement_ids.length; i++) {
						if (this.food_supplement_ids[i] == id) {
							this.food_supplement_ids.splice(i, 1)
						}
					}
				} else {
					this.Foodsupplementlist[index].status_text = 1
					this.food_supplement_ids.push(id)
				}
			},

			//早教
			getEarly() {
				getEarly().then(res => {
					if (res.code == 1) {
						this.Earlylist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择早教
			checkEarlylist(id, index) {
				if (this.Earlylist[index].status_text) {
					this.Earlylist[index].status_text = ''
					for (var i = 0; i < this.early_type_ids.length; i++) {
						if (this.early_type_ids[i] == id) {
							this.early_type_ids.splice(i, 1)
						}
					}
				} else {
					this.Earlylist[index].status_text = 1
					this.early_type_ids.push(id)
				}
			},
			addHos() {
				var params = {
					id: 0,
					name: '',
				}
				this.hospitalist.push(params)
			},
			delHos(index) {
				this.hospitalist.splice(index, 1)
			},
			addOff() {
				var params = {
					id: 0,
					name: '',
				}
				this.officelist.push(params)
			},
			delOff(index) {
				this.officelist.splice(index, 1)
			},
			approveSalary() {
				uni.navigateTo({
					url: '/pages/approvesalary/approvesalary?worker_type_id=' + this.worker_type_id
				})
			},
			goWorklist() {
				uni.navigateTo({
					url: '/pages/worklist/worklist'
				})
			},
			goTrainlist() {
				uni.navigateTo({
					url: '/pages/trainlist/trainlist'
				})
			}

		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}
</style>
