.mt-5 {
	margin-top: 10rpx;
}

.mt-10 {
	margin-top: 20rpx;
}

.mt-15 {
	margin-top: 30rpx;
}

.mt-20 {
	margin-top: 40rpx;
}

.mt-25 {
	margin-top: 50rpx;
}

.mt-30 {
	margin-top: 60rpx;
}

.mr-5 {
	margin-right: 10rpx;
}

.mr-10 {
	margin-right: 20rpx;
}

.mr-15 {
	margin-right: 30rpx;
}

.mr-20 {
	margin-right: 40rpx;
}

.mr-25 {
	margin-right: 50rpx;
}

.mb-5 {
	margin-bottom: 10rpx;
}

.mb-10 {
	margin-bottom: 20rpx;
}

.mb-15 {
	margin-bottom: 30rpx;
}

.mb-20 {
	margin-bottom: 40rpx;
}

.mb-25 {
	margin-bottom: 50rpx;
}

.ml-5 {
	margin-left: 10rpx;
}

.ml-10 {
	margin-left: 20rpx;
}

.ml-15 {
	margin-left: 30rpx;
}

.ml-20 {
	margin-left: 40rpx;
}

.ml-25 {
	margin-left: 50rpx;
}

.ml-30 {
	margin-left: 60rpx;
}

.ml-45 {
	margin-left: 90rpx;
}

.pd-30 {
	padding: 30rpx;
}

.pd-40 {
	padding: 40rpx;
}

.f-10 {
	font-size: 20rpx;
}

.f-11 {
	font-size: 22rpx;
}

.f-12 {
	font-size: 24rpx;
}

.f-13 {
	font-size: 26rpx;
}

.f-14 {
	font-size: 28rpx;
}

.f-15 {
	font-size: 30rpx;
}

.f-16 {
	font-size: 32rpx;
}

.f-18 {
	font-size: 36rpx;
}

.f-20 {
	font-size: 40rpx;
}

.f-600 {
	font-weight: 600;
}

.f-w {
	font-weight: bold;
}

.c-gray {
	color: #b9b9b9;
}

.f-l {
	float: left;
}

.f-r {
	float: right;
}

.text-c {
	text-align: center;
}

.text-l {
	text-align: left;
}

.text-r {
	text-align: right;
}

.c-red {
	color: #FF5555;
}

.c-white {
	color: #FFFFFF;
}

.line {
	border-top: 1rpx solid #ECECEC;
}

.text_link {
	color: #007AFF;
}

.ellipsis {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ellipsis-2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.display_flex {
	display: flex;
	align-items: center;
}

.check_img {
	width: 36rpx;
	height: 36rpx;
	vertical-align: middle;
	border-radius: 60rpx;
}

.bottom_box {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
	padding: 15rpx 30rpx;
	z-index: 2;
}

.bottom_opera {
	flex: 1;
	display: flex;
	align-items: center;
}

.bottom_left {
	flex: 1;
}

.share_btn {
	background-color: #FFFFFF !important;
	border: none !important;
	line-height: inherit !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.sign_btn {
	float: right;
	width: 320rpx;
	color: #FFFFFF;
	font-size: 30rpx;
	padding: 20rpx 0;
	border-radius: 30px;
	text-align: center;
	background-image: linear-gradient(to right, #6943FA, #5602AC);
}

.cancel_btn {
	float: left;
	width: 240rpx;
	color: #39373D;
	font-size: 30rpx;
	padding: 19rpx 0;
	border: 2rpx solid #9891A5;
	border-radius: 30px;
	text-align: center;
	margin-right: 30rpx;
}

.bottom_opera_cell {
	padding: 0 64rpx;
}

.bottom_img {
	width: 48rpx;
	height: 48rpx;
}

.bottompopup_box {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	background-color: #FFFFFF;
	z-index: 7;
	-webkit-animation: fadeInDown .3s;
	animation: fadeInDown .3s;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 30rpx;
}

.popup_mask {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 6;
}

.userinfo_close {
	width: 20rpx;
	height: 20rpx;
	position: absolute;
	top: 0;
	right: 0;
}

.popsub_btn {
	font-size: 32rpx;
	color: #FFFFFF;
	text-align: center;
	border-radius: 30px;
	padding: 20rpx 0;
	margin-top: 40rpx;
	background-image: linear-gradient(to right, #6943FA, #5602AC);
}

.shareimg_btn {
	font-size: 32rpx;
	color: #FFFFFF;
	text-align: center;
	padding: 20rpx 0;
	background-image: linear-gradient(to right, #6943FA, #5602AC);
}

.num_box {
	color: #232323;
	font-size: 28rpx;
	padding: 5rpx 30rpx;
	background-color: #F5F3F8;
}

.share_cell {
	width: 50%;
	text-align: center;
	font-size: 28rpx;
}

.share_cellimg {
	width: 80rpx;
	height: 80rpx;
}

.popContent {
	color: #FFFFFF;
	padding: 30rpx;
	font-size: 26rpx;
	text-align: center;
	border-radius: 15rpx;
	background-color: rgba(0, 0, 0, 0.6);
}
