<template>
	<view class="orderinfo">
		<!-- <nav-Bar :height="statusBarHeight" title="订单详情" :back="true"></nav-Bar> -->
		<view class="index_top"></view>
		<view class="order_box" :style="'padding-bottom:'+pdbottom+ 'px;'" v-if="info">
			<view class="order_state">
				<uni-icons type="checkbox" class="mr-5" color="#ffffff" size="24"></uni-icons>
				<block v-if="info.status==0">待确认</block>
				<block v-if="info.status==1">待付款</block>
				<block v-if="info.status==2">已付款</block>
				<block v-if="info.status==3">服务中</block>
				<block v-if="info.status==4">已完成</block>
				<block v-if="info.status==5">待评价</block>
				<block v-if="info.status==-1">已取消</block>
			</view>
			<view class="order_cell mt-25">
				<view class="f-13">预定人：{{info.employer_name}} {{info.employer_mobile}}</view>
				<view class="f-13 mt-15">地 址：{{info.address_city}} {{info.addr}}</view>
			</view>
			<view class="order_cell mt-10">
				<view class="work_title">服务：{{info.worker_type_text}}</view>
				<view class="userinfo_flex mt-10">
					<view class="userinfo_imgbox">
						<image class="userinfo_img" :src="info.avatar"></image>
						<image v-if="info.is_realname" class="userinfo_approve" src="../../static/images/approve.png"></image>
					</view>
					<view class="userinfo_info">
						<view class="userinfo_name">{{info.employer_name}}</view>
						<!-- <view class="userinfo_static">服务：{{info.worker_type_text}}</view> -->
						<view class="userinfo_price">
							<span style="font-size: 22rpx;">￥</span>
							<span style="font-width: 600;">{{info.price}}</span>
							<!-- <span style="font-size: 22rpx;margin-left: 2rpx;"> 起</span> -->
							<!-- <span style="font-size: 22rpx;margin-left: 2rpx;color: #9891A5;">/{{info.price_text}}</span> -->
						</view>
					</view>
					<view class="text-r">
						<image @click="goEasy(info.uid)" class="cell_list_chat" src="/static/images/chat.png"></image>
						<view class="mt-15" style="font-size: 22rpx;color: #9891A5;">
							x {{info.nums}}
						</view>
					</view>
				</view>
				<view class="display_flex">
					<view class="f-13 mt-15" style="flex: 1;" v-if="info.stay_type==1">上户方式:白班</view>
					<view class="f-13 mt-15" style="flex: 1;" v-if="info.stay_type==2">上户方式:住家</view>
					<view class="f-13 mt-15" style="flex: 1;" v-if="info.stay_type==3">上户方式:均可</view>
					<view class="f-13 mt-15">上户时间：{{info.start_time_text}}</view>
				</view>
				
			</view>
			<view class="order_cell mt-10">
				<view class="f-13 display_flex">
					<view style="flex: 1;">订单编号：{{info.order_sn}}</view>
					<span class="copyno" @click="copyOrderno">复制</span>
				</view>
				<view class="f-13 mt-15">创建时间：{{info.ctime}}</view>
			</view>
			<view class="order_cell mt-10">
				<view class="display_flex">
					<view class="cell_left">总费用</view>
					<view class="cell_right">¥{{info.total.toFixed(2)}}</view>
				</view>
				<view class="display_flex mt-15">
					<view class="cell_left">价格</view>
					<view class="cell_right">¥{{info.price}}x{{info.nums}}</view>
				</view>
				<!-- <view class="display_flex mt-15">
					<view class="cell_left">手续费（{{info.order_fee_scale_text}}）</view>
					<view class="cell_right" v-if="(info.price_total*info.order_fee_scale).toFixed(2)>0">¥{{(info.price_total*info.order_fee_scale).toFixed(2)}}</view>
				</view> -->
			</view>
			<view class="order_cell mt-10">
				<view class="f-13">友情提示</view>
				<view class="display_flex">
					1. 周期付款：订单确认之后，将根据购买份数生成周期付款单；
				</view>
				<view class="display_flex mt-15">
					2. 完成签约：雇主成功支付第1笔周期付款单，即完成签约；
				</view>
			</view>
			<view class="order_cell mt-10" v-if="info.item.length>0">
				<view class="f-13">付款周期</view>
				<block v-for="item in info.item" :key="item">
					<view class="display_flex mt-15">
						<view class="cell_left">{{item.title}}</view>
						<view class="cell_right f-w" style="color: #FF5555;">¥{{item.item_price_total}}</view>
					</view>
					<view class="display_flex mt-5">
						<view class="cell_left f-11" style="color: #9891A5;font-size: 22rpx;">{{item.tips}}</view>
						<view class="cell_right f-w f-11" style="color: #9891A5;font-size: 22rpx;" v-if="item.order_fee_total>0">
							¥{{item.order_fee_total}}</view>
					</view>
				</block>

			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:' +bottomHeight+'px;'">
			<view class="sign_btn" style="margin-left: 20rpx;margin-right: 0;" @click="submitOrder"
				v-if="info.status==0">确认订单</view>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getOrderInfo,
		submitOrder
	} from '../../api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				bottomHeight: getApp().globalData.bottomHeight ? getApp().globalData.bottomHeight : '',
				statusBarHeight: getApp().globalData.statusBarHeight,
				bgColor_top: getApp().globalData.statusBarHeight + 40,
				pdbottom: getApp().globalData.bottomHeight + 70,
				info: ''
			}
		},
		onLoad(options) {
			this.order_id = options.id
			this.getOrderInfo(options.id)
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			getOrderInfo(id) {
				getOrderInfo({
					order_id: id
				}).then(res => {
					if (res.code == 1) {
						this.info = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			goEasy(uid) {
				if (uni.getStorageSync('token')) {
					uni.navigateTo({
						url: '/pages/goeasy/goeasy?uid=' + uid
					})
				} else {
					uni.navigateTo({
						url: "/pages/login/login"
					})
				}
			},

			submitOrder() {
				var that = this
				uni.showModal({
					content: '是否确认该订单？',
					showCancel: true,
					cancelText: '取消',
					confirmText: '确定',
					confirmColor: '#5602AC',
					success: function(res) {
						if (res.confirm) {
							submitOrder({
								order_id: that.order_id,
								agree_status: 1
							}).then(res => {
								if (res.code == 1) {
									uni.showToast({
										title: '已确认',
										duration: 1500
									});
									setTimeout(function() {
										app.globalData.pageRefresh = true
										uni.navigateBack({
											delta: 1
										})
									}, 1000)
								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none',
										duration: 1500
									});
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			copyOrderno() {
				var that = this
				uni.setClipboardData({
					data: that.info.order_sn,
					success: function() {
						console.log('success');
					}
				});
			}
		},
		onPullDownRefresh() {
			this.getOrderInfo(this.order_id)
			uni.stopPullDownRefresh()
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.orderinfo {
		background-color: #F5F3F8;

		.index_top {
			width: 100%;
			height: 240rpx;
			background-color: #A98AFF;
			// background-image: linear-gradient(to right, #A98AFF, #B573FF);
		}

		.order_state {
			width: 100%;
			color: #fff;
			font-size: 40rpx;
			font-weight: 500;
			// position: absolute;
			// left: 0;
			// right: 0;
			// margin: 0 auto;
			// bottom: 120rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.order_box {
			padding: 30rpx;
			margin-top: -200rpx;

			.order_cell {
				padding: 30rpx;
				border-radius: 20rpx;
				background-color: #FFFFFF;
			}

			.work_title {
				color: #fff;
				font-size: 24rpx;
				padding: 8rpx 20rpx;
				border-radius: 10rpx;
				background-color: #A98AFF;
				display: inline-block;
			}

			.cell_left {
				color: #39373D;
				font-size: 26rpx;
			}

			.cell_right {
				flex: 1;
				color: #39373D;
				float: right;
				font-size: 26rpx;
				text-align: right;

				.cell_right_text {
					color: #9891A5;
					display: inline-flex;

					.local_img {
						width: 32rpx;
						height: 32rpx;
						vertical-align: middle;
					}
				}
			}

			.userinfo_flex {
				display: flex;
				align-items: center;
				position: relative;

				.userinfo_imgbox {
					width: 120rpx;
					height: 120rpx;
					position: relative;
					border-radius: 50px;

					.userinfo_img {
						width: 100%;
						height: 100%;
						border-radius: 50px;
					}

					.userinfo_approve {
						width: 30rpx;
						height: 30rpx;
						position: absolute;
						bottom: 0;
						right: 0;
					}

				}

				.userinfo_info {
					flex: 1;
					margin-left: 30rpx;

					.userinfo_name {
						font-size: 32rpx;
						color: #333333;
						font-size: 600;
						font-weight: 500;
					}

					.userinfo_static {
						color: #666666;
						font-size: 24rpx;
						margin-top: 8rpx;
					}

					.userinfo_price {
						color: #FF5555;
						font-size: 32rpx;
						margin-top: 8rpx;
					}

					.chioced {
						color: #39373D;
						font-size: 24rpx;
						margin-top: 20rpx;
					}
				}

				.cell_list_chat {
					width: 32rpx;
					height: 32rpx;
					// position: absolute;
					// top: 30rpx;
					// right: 0;
				}
			}
		}

		.bottom_box {
			justify-content: flex-end;
		}

		.copyno {
			font-size: 24rpx;
			padding: 2rpx 10rpx;
			color: #5602AC;
			background-color: #FFFFFF;
			border: 2rpx solid #5602AC;
			border-radius: 8rpx;
		}
	}
</style>
