<template>
	<view class="orderinfo">
		<!-- <nav-Bar :height="statusBarHeight" title="订单详情" :back="true"></nav-Bar> -->
		<view class="index_top"></view>
		<view class="order_box" :style="'padding-bottom:'+pdbottom+ 'px;'" v-if="info">
			<view class="order_state">
				<uni-icons type="checkbox" class="mr-5" color="#ffffff" size="24"></uni-icons>
				<block v-if="info.status==0">待确认</block>
				<block v-if="info.status==1">待付款</block>
				<block v-if="info.status==2">已付款</block>
				<block v-if="info.status==3">服务中</block>
				<block v-if="info.status==4">已完成</block>
				<block v-if="info.status==5">待评价</block>
				<block v-if="info.status==-1">已取消</block>
			</view>
			<view class="order_cell mt-25">
				<view class="f-13">预定人：{{info.employer_name}} {{info.employer_mobile}}</view>
				<view class="f-13 mt-15">地 址：{{info.address_city}} {{info.addr}}</view>
			</view>
			<view class="order_cell mt-10">
				<view class="work_title">服务：{{info.worker_type_text}}</view>
				<view class="userinfo_flex mt-10">
					<view class="userinfo_imgbox">
						<image class="userinfo_img" :src="info.worker_avatar"></image>
						<image v-if="info.is_realname" class="userinfo_approve" src="../../static/images/approve.png">
						</image>
					</view>
					<view class="userinfo_info">
						<view class="userinfo_name">{{info.worker_name}}</view>
						<!-- <view class="userinfo_static">服务：{{info.worker_type_text}}</view> -->
						<view class="userinfo_price">
							<span style="font-size: 22rpx;">￥</span>
							<span style="font-width: 600;">{{info.price}}</span>
							<!-- <span style="font-size: 22rpx;margin-left: 2rpx;"> 起</span>
							<span style="font-size: 22rpx;margin-left: 2rpx;color: #9891A5;">/{{info.price_text}}</span> -->
						</view>
					</view>
					<view class="text-r">
						<image @click="goEasy(info.worker_uid,info.worker_type_id)" class="cell_list_chat"
							src="/static/images/chat.png"></image>
						<view class="mt-15" style="font-size: 22rpx;color: #9891A5;">
							x {{info.nums}}
						</view>
					</view>
				</view>
				<view class="display_flex">
					<view class="f-13 mt-15" style="flex: 1;" v-if="info.stay_type==1">上户方式:白班</view>
					<view class="f-13 mt-15" style="flex: 1;" v-if="info.stay_type==2">上户方式:住家</view>
					<view class="f-13 mt-15" style="flex: 1;" v-if="info.stay_type==3">上户方式:均可</view>
					<view class="f-13 mt-15">上户时间：{{info.start_time_text}}</view>
				</view>
				<!-- <view class="f-13 mt-15">上户时间：{{info.start_time_text}}</view> -->
			</view>
			<view class="order_cell mt-10">
				<view class="f-13 display_flex">
					<view style="flex: 1;">订单编号：{{info.order_sn}}</view>
					<span class="copyno" @click="copyOrderno">复制</span>
				</view>
				<view class="f-13 mt-15">创建时间：{{info.ctime}}</view>
			</view>
			<view class="order_cell mt-10">
				<view class="display_flex">
					<view class="cell_left">总费用</view>
					<view class="cell_right">¥{{info.total.toFixed(2)}}</view>
				</view>
				<view class="display_flex mt-15">
					<view class="cell_left">价格</view>
					<view class="cell_right">¥{{info.price}}x{{info.nums}}</view>
				</view>
				<view class="display_flex mt-15">
					<view class="cell_left">手续费（{{info.order_fee_scale_text}}）</view>
					<view class="cell_right">¥{{(info.price_total*info.order_fee_scale).toFixed(2)}}</view>
				</view>
			</view>
			<view class="order_cell mt-10">
				<view class="f-13">友情提示</view>
				<view class="display_flex">1. 订单修改：服务人员确认前，可进行订单修改；</view>
				<view class="display_flex mt-15">2. 完成签约：服务人员确认后，您第1笔周期付款单付款成功，即完成签约；</view>
				<view class="display_flex mt-15">3. 周期付款：根据实际服务情况，完成各周期的订单支付。</view>
			</view>
			<view class="order_cell mt-10" v-if="info.item.length>0">
				<view class="f-13">付款周期</view>
				<block v-for="item in info.item" :key="item">
					<view class="display_flex mt-15">
						<view class="cell_left">{{item.title}}</view>
						<view class="cell_right f-w" style="color: #FF5555;">¥{{item.item_price_total}}</view>
					</view>
					<view class="display_flex mt-5">
						<view class="cell_left f-11" style="color: #9891A5;font-size: 22rpx;">{{item.tips}}</view>
						<view class="cell_right f-w f-11" style="color: #9891A5;font-size: 22rpx;">
							¥{{item.order_fee_total}}</view>
					</view>
				</block>

			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:' +bottomHeight+'px;'">
			<view class="cancel_btn" style="margin-left: 20rpx;margin-right: 0;" @click="cancelOrder"
				v-if="info.status==0||info.status==1">取消订单</view>
			<view class="cancel_btn" style="margin-left: 20rpx;margin-right: 0;" @click="editOrder"
				v-if="info.status==0">修改</view>
			<view class="sign_btn" style="width: 240rpx;" v-if="info.status==1" @click="payOrder">立即支付</view>
			<!-- <view class="sign_btn" style="width: 240rpx;" v-if="info.status==4" @click="submitOrder">确认完成</view> -->
			<view class="sign_btn" style="width: 240rpx;" v-if="info.status==5" @click="commentOrder">立即评价</view>
		</view>
		<u-popup v-model="showPopOrder" mode="center" width="80%" border-radius="15">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">订单支付成功</view>
				<!-- <view class="f-12 mt-10">订单支付成功！</view> -->
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="pop_btn mt-30" @click="hidePopOrder">确定</view>
				</view>
			</view>
		</u-popup>
		<u-popup v-model="orderFail" mode="center" width="80%" border-radius="15">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_none.png"></image>
				<view class="f-18 f-w mt-20">订单支付失败！</view>
				<!-- <view class="f-12 mt-10">订单未支付， 请稍后重试！</view> -->
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="pop_btn mt-30" @click="orderFail=false">关闭</view>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getOrderInfo,
		cancelOrder,
		payMent
	} from '../../api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				showPopOrder: false,
				orderFail: false,
				bottomHeight: getApp().globalData.bottomHeight ? getApp().globalData.bottomHeight : '',
				statusBarHeight: getApp().globalData.statusBarHeight,
				bgColor_top: getApp().globalData.statusBarHeight + 40,
				pdbottom: getApp().globalData.bottomHeight + 70,
				info: ''
			}
		},
		onLoad(options) {
			this.order_id = options.id
			this.getOrderInfo(options.id)
		},
		methods: {
			getOrderInfo(id) {
				getOrderInfo({
					order_id: id
				}).then(res => {
					if (res.code == 1) {
						this.info = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			goEasy(uid, worker_type) {
				if (uni.getStorageSync('token')) {
					uni.navigateTo({
						url: '/pages/goeasy/goeasy?uid=' + uid + '&worker_type=' + worker_type
					})
				} else {
					uni.navigateTo({
						url: "/pages/login/login"
					})
				}
			},
			editOrder() {
				uni.navigateTo({
					url: '../orderedit/orderedit?id=' + this.order_id
				})
			},
			cancelOrder() {
				var that = this
				uni.showModal({
					content: '确定要取消该订单吗？',
					showCancel: true,
					cancelText: '取消',
					confirmText: '确定',
					confirmColor: '#5602AC',
					success: function(res) {
						if (res.confirm) {
							cancelOrder({
								order_id: that.order_id
							}).then(res => {
								if (res.code == 1) {
									uni.showToast({
										title: '已取消',
										duration: 1500
									});
									setTimeout(function() {
										app.globalData.pageRefresh = -1
										uni.navigateBack({
											delta: 1
										})
									}, 1000)
								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none',
										duration: 1500
									});
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			copyOrderno() {
				var that = this
				uni.setClipboardData({
					data: that.info.order_sn,
					success: function() {
						console.log('success');
					}
				});
			},
			payOrder() {
				var that = this
				uni.showLoading({
					title: '加载中...'
				})
				payMent({
					order_sn: that.info.order_sn
				}).then(res => {
					uni.hideLoading()
					if (res.code == 1) {
						uni.requestPayment({
							provider: 'wxpay',
							timeStamp: res.data.pay_data.timeStamp,
							nonceStr: res.data.pay_data.nonceStr,
							package: res.data.pay_data.package,
							signType: 'MD5',
							paySign: res.data.pay_data.paySign,
							success(res) {
								that.showPopOrder = true
							},
							fail(res) {
								that.orderFail = true
							}
						})
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			hidePopOrder() {
				this.showPopOrder = false
				getApp().globalData.pageRefresh = 2
				uni.navigateBack({
					delta: 1
				})
			},
			commentOrder(index) {
				app.orderinfo = this.info
				uni.navigateTo({
					url: '/pages/ordercomment/ordercomment'
				})
			},
		},
		onPullDownRefresh() {
			this.getOrderInfo(this.order_id)
			uni.stopPullDownRefresh()
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.orderinfo {
		background-color: #F5F3F8;

		.index_top {
			width: 100%;
			height: 240rpx;
			background-color: #A98AFF;
			// background-image: linear-gradient(to right, #A98AFF, #B573FF);
		}

		.order_state {
			width: 100%;
			color: #fff;
			font-size: 40rpx;
			font-weight: 500;
			// position: absolute;
			// left: 0;
			// right: 0;
			// margin: 0 auto;
			// bottom: 120rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.order_box {
			padding: 30rpx;
			margin-top: -200rpx;

			.order_cell {
				padding: 30rpx;
				border-radius: 20rpx;
				background-color: #FFFFFF;
			}

			.work_title {
				color: #fff;
				font-size: 24rpx;
				padding: 8rpx 20rpx;
				border-radius: 10rpx;
				background-color: #A98AFF;
				display: inline-block;
			}

			.cell_left {
				color: #39373D;
				font-size: 26rpx;
			}

			.cell_right {
				flex: 1;
				color: #39373D;
				float: right;
				font-size: 26rpx;
				text-align: right;

				.cell_right_text {
					color: #9891A5;
					display: inline-flex;

					.local_img {
						width: 32rpx;
						height: 32rpx;
						vertical-align: middle;
					}
				}
			}

			.userinfo_flex {
				display: flex;
				align-items: center;
				position: relative;

				.userinfo_imgbox {
					width: 120rpx;
					height: 120rpx;
					position: relative;
					border-radius: 50px;

					.userinfo_img {
						width: 100%;
						height: 100%;
						border-radius: 50px;
					}

					.userinfo_approve {
						width: 30rpx;
						height: 30rpx;
						position: absolute;
						bottom: 0;
						right: 0;
					}

				}

				.userinfo_info {
					flex: 1;
					margin-left: 30rpx;

					.userinfo_name {
						font-size: 32rpx;
						color: #333333;
						font-size: 600;
						font-weight: 500;
					}

					.userinfo_static {
						color: #666666;
						font-size: 24rpx;
						margin-top: 8rpx;
					}

					.userinfo_price {
						color: #FF5555;
						font-size: 32rpx;
						margin-top: 8rpx;
					}

					.chioced {
						color: #39373D;
						font-size: 24rpx;
						margin-top: 20rpx;
					}
				}

				.cell_list_chat {
					width: 32rpx;
					height: 32rpx;
					// position: absolute;
					// top: 30rpx;
					// right: 0;
				}
			}
		}

		.bottom_box {
			justify-content: flex-end;
		}

		.copyno {
			font-size: 24rpx;
			padding: 2rpx 10rpx;
			color: #5602AC;
			background-color: #FFFFFF;
			border: 2rpx solid #5602AC;
			border-radius: 8rpx;
		}

		.pop_orderbox {
			padding: 60rpx 20rpx;
			overflow: hidden;

			.sub_result {
				width: 230rpx;
				height: 230rpx;
			}
		}

		.pop_btn {
			width: 300rpx;
			height: 80rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #FFFFFF;
			border-radius: 60px;
			background-image: linear-gradient(to right, #6943FA, #5602AC);
		}
	}
</style>
