<template>
	<view class="userapprove">
		<block v-if="form.status==2">
			<view v-if="closeToptips" class="top_tips" style="background-color: #67c23a;">
				<u-icon name="volume-up" color="#fff" size="24"></u-icon>
				<view class="f-12 ml-10" style="flex: 1;color: #fff;">{{form.form_tips}}</view>
				<u-icon @click="closeToptips=false" name="close" color="#fff" size="24"></u-icon>
			</view>
		</block>
		<block v-else>
			<view v-if="closeToptips" class="top_tips" style="background-color: #FFF8DD;">
				<u-icon name="volume-up" color="#FF853D" size="24"></u-icon>
				<view class="f-12 ml-10" style="flex: 1;color: #FF853D;">{{form.form_tips}}</view>
				<u-icon @click="closeToptips=false" name="close" color="#FF853D" size="24"></u-icon>
			</view>
		</block>
		<view :style="closeToptips?'margin-top: 70rpx;':''">
			<u-steps :list="numList" mode="number" active-color="#6943FA" un-active-color="#9891A5" :current="0">
			</u-steps>
		</view>
		<!-- <view class="uni-column display_flex">
			<view style="width: 50%;text-align: center;" @click="chooseImg(1)">
				<image class="idcard"
					:src="idcard_front_image_url?idcard_front_image_url:'../../static/images/member/card_front.png'">
				</image>
				<view class="mt-10">添加正面身份证照片</view>
				<view class="c-red f-12" v-if="idcard_front_tip">请添加正面身份证照片</view>
			</view>
			<view style="width: 50%;text-align: center;" @click="chooseImg(2)">
				<image class="idcard"
					:src="idcard_back_image_url?idcard_back_image_url:'../../static/images/member/card_tail.png'">
				</image>
				<view class="mt-10">添加反面身份证照片</view>
				<view class="c-red f-12" v-if="idcard_back_tip">请添加反面身份证照片</view>
			</view>
		</view> -->
		<view class="form_box">
			<u-form :model="form" ref="uForm" label-align="left" :rules="firstrules" :errorType="errorType">
				<view class="form_cell">
					<u-form-item label="姓名" required prop="name">
						<u-input :disabled="form.form_button==0?true:false" placeholder="请输入姓名" input-align="right"
							v-model="form.name" />
					</u-form-item>
					<u-form-item label="性别" required prop="gender">
						<u-radio-group :disabled="form.form_button==0?true:false" v-model="form.gender"
							@change="radioSix">
							<u-radio key="0" active-color="#6943FA" name="0">女</u-radio>
							<u-radio key="1" active-color="#6943FA" name="1">男</u-radio>
						</u-radio-group>
					</u-form-item>
					<u-form-item label="身份证号" required prop="id_card" v-if="form.form_button==1">
						<u-input placeholder="请输入身份证号" input-align="right" type="idcard" v-model="form.id_card" />
					</u-form-item>

					<u-form-item label="手机号" required prop="mobile">
						<u-input :disabled="form.form_button==0?true:false" placeholder="请输入手机号" input-align="right"
							v-model="form.mobile" type="number">
						</u-input>
						<!-- <u-button slot="right" type="success" size="mini" open-type="getPhoneNumber"
							@getphonenumber="getPhoneNumber">授权手机号</u-button> -->
					</u-form-item>
					<u-form-item class="code_box" required label="验证码" v-if="form.form_button==1">
						<u-input placeholder="请输入验证码" input-align="right" v-model="code" type="text"></u-input>
						<!-- <view class="code_btn" @click="getCode">{{codeTips}}</view> -->
						<u-button :custom-style="code_btn" class="code_btn" slot="right" size="mini" @click="getCode">
							{{codeTips}}
						</u-button>
					</u-form-item>
					<u-form-item label="微信号">
						<u-input :disabled="form.form_button==0?true:false" placeholder="请输入微信号" input-align="right"
							v-model="form.weixin" />
					</u-form-item>
				</view>
				<view class="uni-btn-v" v-if="form.form_button==1">
					<button class="submint_btn" form-type="submit" @click="firstSub()">提交</button>
				</view>
			</u-form>
		</view>
		<u-verification-code seconds="60" ref="uCode" @change="codeChange"></u-verification-code>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
		<u-popup v-model="showBottomPop" mode="bottom" :safe-area-inset-bottom="true" border-radius="15">
			<view class="pd-40">
				<view class="f-14 f-w mt-10">实名认证，友情提示</view>
				<view class="f-12 mt-20">“阿姨直签平台”以下简称“平台”，为更好的保障雇佣双方信息的真实性与安全性，高质量的完成双方需求服务对接，平台需要用户完成个人实名信息认证。</view>
				<view class="f-12 mt-5">{{popText}}</view>
				<!-- <view class="popsub_btn" @click="goPopPage()">去完善</view> -->
				<view class="display_flex mt-25">
					<view class="reject_btn" @click="goApprovetow">继续完善资料</view>
					<view class="agreement_btn ml-15" @click="realPay">支付确认</view>
				</view>
			</view>
		</u-popup>
		<u-popup v-model="showPopOrder" mode="center" width="80%" border-radius="15" @close="goOrderInfo">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-14 mt-10">支付成功, 信息审核中...</view>
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="gohome_btn" @click="goHome">返回首页</view>
					<view class="pop_btn" @click="goApprovetow">继续完善资料</view>
				</view>
			</view>
		</u-popup>
		<u-popup v-model="orderFail" mode="center" width="80%" border-radius="15">
			<view class="pop_orderbox text-c">
				<image class="sub_result" src="../../static/images/sub_none.png"></image>
				<view class="f-14 mt-10">支付失败</view>
				<view class="text-c display_flex" style="justify-content: center;">
					<view class="gohome_btn" @click="goHome">返回首页</view>
					<view class="pop_btn" @click="orderFailClose">重新支付</view>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getUserInfo,
		postUserInfo,
		getMobile,
		getMobileCode,
		checkSms,
		readNamePay,
		payMent
	} from '@/api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				closeToptips: false,
				showPopOrder: false,
				orderFail: false,
				showBottomPop: false,
				showAllPop: getApp().globalData.showAllPop,
				showRegion: false,
				form: '',
				numList: [{
					name: '身份认证'
				}, {
					name: '个人资料'
				}, {
					name: '资质证明'
				}, {
					name: '岗位信息'
				}, {
					name: '完成注册'
				}],
				code: '',
				codeTips: '获取验证码',
				errorType: ['message'],
				idcard_front_image_url: '',
				idcard_back_image_url: '',
				face_image_url: '',
				idcard_front_tip: false,
				idcard_back_tip: false,
				popText:'',
				rules: {
					name: [{
						required: true,
						message: '请输入姓名',
						trigger: ['change', 'blur'],
					}],
					gender: [{
						required: true,
						type: "number",
						message: '请选择性别',
						trigger: 'change'
					}],
					id_card: [{
							required: true,
							message: '请输入身份证号',
							trigger: 'change'
						},
						{
							validator: (rule, value, callback) => {
								// 调用uView自带的js验证规则，详见：https://www.uviewui.com/js/test.html
								return this.$u.test.idCard(value);
							},
							message: '身份证号不正确',
							// 触发器可以同时用blur和change，二者之间用英文逗号隔开
							trigger: ['change', 'blur'],
						}
					],
					mobile: [{
							required: true,
							message: '请输入手机号',
							trigger: ['change', 'blur'],
						},
						{
							validator: (rule, value, callback) => {
								// 调用uView自带的js验证规则，详见：https://www.uviewui.com/js/test.html
								return this.$u.test.mobile(value);
							},
							message: '手机号码不正确',
							// 触发器可以同时用blur和change，二者之间用英文逗号隔开
							trigger: ['change', 'blur'],
						}
					],

				},
			};
		},
		onShow() {},
		onLoad() {
			var that = this
			that.getUserInfo()

			setTimeout(function() {
				that.popText = getApp().globalData.init.money_real
			}, 500)
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		methods: {
			orderFailClose() {
				this.showBottomPop = true
				this.orderFail = false
			},
			goHome() {
				uni.switchTab({
					url: '/pages/index/index'
				})
			},
			realPay() {
				readNamePay().then(res => {
					if (res.code == 1) {
						console.log(res)
						payMent({
							order_sn: res.data.order_sn
						}).then(res => {
							if (res.code == 1) {
								var that = this
								that.showBottomPop = false
								uni.requestPayment({
									provider: 'wxpay',
									timeStamp: res.data.pay_data.timeStamp,
									nonceStr: res.data.pay_data.nonceStr,
									package: res.data.pay_data.package,
									signType: 'MD5',
									paySign: res.data.pay_data.paySign,
									success: function(res) {
										that.showPopOrder = true
									},
									fail: function(err) {
										that.orderFail = true
										console.log('fail:' + JSON.stringify(err));
									}
								});
							} else {
								uni.showToast({
									title: res.msg,
									icon: 'none',
									duration: 1500
								});
							}
						})
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			goApprovetow() {
				uni.navigateTo({
					url: '/pages/approvetow/approvetow'
				})
				this.showBottomPop = false
				this.showPopOrder = false
			},
			//获取用户认证信息
			getUserInfo() {
				getUserInfo().then(res => {
					if (res.code == 1) {
						this.form = res.data
						this.face_image_url = res.data.face_image ? getApp().globalData.imgUrl + res.data
							.face_image : ''
						this.idcard_back_image_url = res.data.idcard_back_image ? getApp().globalData.imgUrl + res
							.data.idcard_back_image : ''
						this.idcard_front_image_url = res.data.idcard_front_image ? getApp().globalData.imgUrl +
							res.data.idcard_front_image : ''
						if (res.data.form_tips) {
							this.closeToptips = true
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//性别
			radioSix(e) {
				this.form.gender = e;
			},
			//获取手机号
			getPhoneNumber(e) {
				var params = {
					encryptedData: e.detail.encryptedData,
					iv: e.detail.iv
				}
				getMobile(params).then(res => {
					if (res.code == 1) {
						this.form.mobile = res.data.phoneNumber
					} else {
						uni.removeStorage({
							key: 'member'
						})
					}
				})
			},
			// 获取验证码
			getCode() {
				if ((/^1[3456789]\d{9}$/).test(this.form.mobile)) {
					if (this.$refs.uCode.canGetCode) {
						// 模拟向后端请求验证码
						uni.showLoading({
							title: '正在获取验证码',
							mask: true
						})
						var params = {
							mobile: this.form.mobile,
							event: 'register'
						}
						getMobileCode(params).then(res => {
							if (res.code == 1) {
								this.edulist = res.data
							} else {
								uni.showToast({
									title: res.msg,
									icon: 'none',
									duration: 1500
								});
							}
						})
						setTimeout(() => {
							uni.hideLoading();
							// 这里此提示会被this.start()方法中的提示覆盖
							this.$u.toast('验证码已发送');
							// 通知验证码组件内部开始倒计时
							this.$refs.uCode.start();
						}, 1000);
					} else {
						this.$u.toast('倒计时结束后再发送');
					}
				} else {
					this.$u.toast('请输入正确的手机号');
				}
			},
			codeChange(text) {
				this.codeTips = text;
			},
			//提交身份认证进基本信息
			firstSub() {
				// if (!this.form.idcard_front_image) {
				// 	this.idcard_front_tip = true
				// }
				// if (!this.form.idcard_back_image) {
				// 	this.idcard_back_tip = true
				// }
				this.$refs.uForm.validate(valid => {
					if (valid) {
						this.checkSms()
					} else {
						console.log('验证失败');
					}
				});
			},
			//检验验证码
			checkSms() {
				// postUserInfo(this.form).then(res => {
				// 	if (res.code == 1) {
				// 		uni.navigateTo({
				// 			url: '/pages/approvetow/approvetow'
				// 		})
				// 	} else {
				// 		uni.showToast({
				// 			title: res.msg,
				// 			icon: 'none',
				// 			duration: 1500
				// 		});
				// 	}
				// })
				var params = {
					mobile: this.form.mobile,
					captcha: this.code
				}
				checkSms(params).then(res => {
					if (res.code == 1) {
						postUserInfo(this.form).then(res => {
							if (res.code == 1) {
								if (res.data) {
									if (res.data == '/pages/index/index' || res.data ==
										'/pages/message/message' || res.data ==
										'/pages/member/member' ||
										res.data == '/pages/sign/sign') {
										uni.switchTab({
											url: res.data
										})
									} else {
										uni.navigateTo({
											url: res.data
										})
									}
								} else {
									this.showBottomPop = true
								}
							} else {
								uni.showToast({
									title: res.msg,
									icon: 'none',
									duration: 1500
								});
							}
						})
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			chooseImg(type) {
				var that = this
				uni.chooseImage({
					count: 1,
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album', 'camera'], //从相册选择
					success: function(res) {

						var tempFilePaths = res.tempFilePaths[0]
						uni.uploadFile({
							url: app.globalData.uploadUrl,
							filePath: tempFilePaths,
							name: 'file',
							success: (res) => {

								var picdata = JSON.parse(res.data);
								if (type == 1) {
									that.form.idcard_front_image = picdata.data.url
									that.idcard_front_image_url = picdata.data.fullurl
								} else if (type == 2) {
									that.form.idcard_back_image = picdata.data.url
									that.idcard_back_image_url = picdata.data.fullurl
								} else if (type == 3) {
									that.form.face_image = picdata.data.url
									that.face_image_url = picdata.data.fullurl
								}
							}
						});

					}
				});
			},
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.code_box {
		.u-btn--default {
			float: right;
			color: #FFFFFF !important;
			background-image: linear-gradient(to right, #6943FA, #5602AC) !important;
		}
	}

	.reject_btn {
		width: 50%;
		color: #000;
		background-color: #F5F3F8;
		border-radius: 10rpx;
		font-size: 28rpx;
		padding: 20rpx 0;
		text-align: center;
	}

	.agreement_btn {
		width: 50%;
		color: #FFFFFF;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
		border-radius: 10rpx;
		font-size: 28rpx;
		padding: 20rpx 0;
		text-align: center;
	}

	.pop_orderbox {
		padding: 60rpx 20rpx;
		overflow: hidden;

		.sub_result {
			width: 230rpx;
			height: 230rpx;
		}
	}

	.pop_btn {
		width: 240rpx;
		height: 80rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFFFFF;
		border-radius: 60px;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
		margin: 60rpx 10rpx 0;
	}

	.gohome_btn {
		width: 240rpx;
		height: 80rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #5602AC;
		border: 2rpx solid #5602AC;
		border-radius: 60px;
		background-color: #FFFFFF;
		margin: 60rpx 10rpx 0;
	}

	.top_tips {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		padding: 20rpx 30rpx;

	}
</style>
