<template>
	<view class="userapprove">
		<u-steps :list="numList" mode="number" active-color="#6943FA" un-active-color="#9891A5" :current="1"></u-steps>
		<view class="form_box">
			<u-form :model="form" ref="uForm" label-align="left" :rules="rules">
				<view class="form_cell">
					<u-form-item label="头像" required prop="face_image">
						<view class="f-r avatar_img" @click="uploadShow=true">
							<image class="avatar_img"
								:src="face_image_url?face_image_url:'../../static/images/default.png'">
							</image>
						</view>
					</u-form-item>
				</view>
				<view class="form_cell">
					<u-form-item label="身高(cm)" required prop="height">
						<u-input placeholder="请输入身高" input-align="right" v-model="form.height" />
					</u-form-item>
					<u-form-item label="体重(kg)" required prop="weight">
						<u-input placeholder="请输入体重" input-align="right" v-model="form.weight" />
					</u-form-item>
					<u-form-item input-align="right" label="学历" required prop="type_edu_name">
						<u-input :border="border" type="select" input-align="right" :select-open="eduShow"
							v-model="form.type_edu_name" placeholder="请选择学历" @click="eduShow = true"></u-input>
					</u-form-item>
					<u-form-item label="婚姻" required prop="marriage">
						<u-radio-group v-model="form.marriage">
							<u-radio key="1" active-color="#6943FA" name="1">单身</u-radio>
							<u-radio key="2" active-color="#6943FA" name="2">已婚</u-radio>
							<u-radio key="3" active-color="#6943FA" name="3">离异</u-radio>
						</u-radio-group>
					</u-form-item>
					<u-form-item label="子女" required prop="children">
						<u-radio-group v-model="form.children">
							<u-radio key="0" active-color="#6943FA" name="1">无子女</u-radio>
							<u-radio key="1" active-color="#6943FA" name="2">未成年</u-radio>
							<u-radio key="2" active-color="#6943FA" name="3">成年</u-radio>
						</u-radio-group>
					</u-form-item>
				</view>
				<view class="form_cell">
					<u-form-item label="民族" required prop="type_nation_name">
						<u-input :border="border" type="select" input-align="right" :select-open="nationShow"
							v-model="form.type_nation_name" placeholder="请选择民族" @click="nationShow = true">
						</u-input>
					</u-form-item>
					<u-form-item label="籍贯" required prop="native_place">
						<u-input placeholder="请选择" input-align="right" type='select' v-model="form.native_place"
							@click="showRegion = true" />
						<!-- <u-input placeholder="请输入籍贯" input-align="right" v-model="form.native_place" /> -->
					</u-form-item>
					<u-form-item label="普通话" required prop="standard_chinese">
						<u-radio-group v-model="form.standard_chinese">
							<u-radio key="0" active-color="#6943FA" name="0">一般</u-radio>
							<u-radio key="1" active-color="#6943FA" name="1">熟练</u-radio>
						</u-radio-group>
					</u-form-item>
					<u-form-item label="方言" required prop="dialect">
						<u-input placeholder="请输入方言" input-align="right" v-model="form.dialect" />
					</u-form-item>
					<u-form-item label="政治面貌" required prop="politic_name">
						<u-input :border="border" type="select" input-align="right" :select-open="politicShow"
							v-model="form.politic_name" placeholder="请选择政治面貌" @click="politicShow = true"></u-input>
					</u-form-item>
					<u-form-item label="宗教信仰" prop="faith_id">
						<u-input :border="border" type="select" input-align="right" :select-open="faithShow"
							v-model="form.faith_name" placeholder="请选择宗教信仰" @click="faithShow = true"></u-input>
					</u-form-item>
				</view>
				<view class="form_cell">
					<u-form-item label="残障情况" required prop="handicap">
						<u-radio-group v-model="form.handicap" @change="checkHandicap">
							<u-radio key="0" active-color="#6943FA" name="0">否</u-radio>
							<u-radio key="1" active-color="#6943FA" name="1">是</u-radio>
						</u-radio-group>
					</u-form-item>
				</view>
				<view class="form_cell">
					<u-form-item label="现居地" required prop="living_place">
						<u-input placeholder="请输入详细地址" input-align="right" v-model="form.living_place" />
					</u-form-item>
					<u-form-item label="紧急联系人" required prop="contact_person">
						<u-input placeholder="请输入紧急联系人" input-align="right" v-model="form.contact_person" />
					</u-form-item>
					<u-form-item label="联系人电话" required prop="contact_mobile">
						<u-input placeholder="请输入联系人电话" input-align="right" v-model="form.contact_mobile" />
					</u-form-item>
				</view>

				<view class="form_cell" style="padding: 14rpx 30rpx;">
					<u-collapse style="position: relative;" v-if="personalitylist.length>0">
						<view class="u-form-item--left__content--required" style="top: 20rpx;">*</view>
						<u-collapse-item :head-style="headstyle" title="个性特点" :open="personalitylist.length>0">
							<view class="f-12 mb-10">多选，最多可选4个标签</view>
							<view class="popchioce_cell">
								<view style="font-size: 24rpx;" v-for="(item,index) in personalitylist" :key="item.id"
									@click="checkPersonality(item.id,index)"
									:class="item.status_text==1?'popchioce popchioce_on':'popchioce'">{{item.name}}
								</view>
							</view>
						</u-collapse-item>
					</u-collapse>
					<view class="c-red f-12 text-r" v-if="validPersonality">请选择个性特点</view>
				</view>
				<view class="form_cell" style="padding: 14rpx 30rpx;">
					<u-collapse style="position: relative;" v-if="languagelist.length>0">
						<u-collapse-item :head-style="headstyle" title="外语" :open="false">
							<view class="popchioce_cell">
								<view style="font-size: 24rpx;" v-for="(item,index) in languagelist" :key="item.id"
									@click="checkLanguage(item.id,index)"
									:class="item.status_text==1?'popchioce popchioce_on':'popchioce'">{{item.name}}
								</view>
							</view>
						</u-collapse-item>
					</u-collapse>
				</view>
				<view class="form_cell">
					<view class="display_flex" @click="checkotherForm">
						<view class="collapse_title">其他</view>
						<u-icon name="arrow-up" color="#9891A5" v-if="otherForm"></u-icon>
						<u-icon name="arrow-down" color="#9891A5" v-else></u-icon>
					</view>
					<view class="showanimation" v-if="otherForm">
						<!-- <u-form-item label="星座" prop="goodsType">
							<u-input :border="border" type="select" input-align="right" :select-open="signShow"
								v-model="form.sign_name" placeholder="请选择星座" @click="signShow = true"></u-input>
						</u-form-item> -->
						<u-form-item label="宠物">
							<u-radio-group v-model="form.pet">
								<u-radio key="0" active-color="#6943FA" name="0">不能接受</u-radio>
								<u-radio key="1" active-color="#6943FA" name="1">能接受</u-radio>
							</u-radio-group>
						</u-form-item>
						<u-form-item label="驾照">
							<u-radio-group v-model="form.jiazhao">
								<u-radio key="0" active-color="#6943FA" name="2">无</u-radio>
								<u-radio key="1" active-color="#6943FA" name="1">有</u-radio>
							</u-radio-group>
						</u-form-item>
						<u-form-item label="护照">
							<u-radio-group v-model="form.passport">
								<u-radio key="0" active-color="#6943FA" name="0">无</u-radio>
								<u-radio key="1" active-color="#6943FA" name="1">有</u-radio>
							</u-radio-group>
						</u-form-item>
					</view>
				</view>
				<view class="uni-btn-v">
					<button class="submint_btn" form-type="submit" @click="towSub()">提交</button>
				</view>
			</u-form>
		</view>
		<u-select mode="single-column" :list="nationlist" value-name="id" label-name="name" v-model="nationShow"
			@confirm="nationConfirm"></u-select>
		<u-select mode="single-column" :list="edulist" value-name="id" label-name="name" v-model="eduShow"
			@confirm="eduConfirm"></u-select>
		<u-select mode="single-column" :list="signlist" value-name="id" label-name="name" v-model="signShow"
			@confirm="signConfirm"></u-select>
		<!-- <u-select mode="single-column" :list="languagelist" value-name="id" label-name="name" v-model="languageShow"
			@confirm="languageConfirm"></u-select> -->
		<u-select mode="single-column" :list="faithlist" value-name="id" label-name="name" v-model="faithShow"
			@confirm="faithConfirm"></u-select>
		<u-select mode="single-column" :list="politicList" v-model="politicShow" @confirm="politicConfirm"></u-select>
		<u-popup v-model="uploadShow" mode="bottom" width="90%" border-radius="15" @close="closePop">
			<view class="pop_box">
				<view class="camera_rule">
					<view class="display_flex">
						<view class="f-12 u-flex-1">
							<view class="f-14 f-w">
								<u-icon class="mr-5" name="checkmark-circle" color="#5602AC" size="30"></u-icon>
								正确示范
							</view>
							<view class="f-12 mt-10">上传真实头像，更容易赢得好感</view>
						</view>
						<image class="avatar_img" src="https://api.ayi.hudongnet.com/assets/img/face_0.png"></image>
					</view>
					<view class="f-14 f-w mt-15">
						<u-icon class="mr-5" name="close-circle" color="#ff0000" size="30"></u-icon>不佳示范
					</view>
					<view class="mt-10">
						<u-grid :col="4" :border="false">
							<u-grid-item>
								<!-- <image class="grid_image" src="https://api.ayi.hudongnet.com/assets/img/face_1.png">
								</image> -->
								<view class="grid-text">非人物照</view>
							</u-grid-item>
							<u-grid-item>
								<!-- <image class="grid_image" src="https://api.ayi.hudongnet.com/assets/img/face_2.png">
								</image> -->
								<view class="grid-text">五官遮挡</view>
							</u-grid-item>
							<u-grid-item>
								<!-- <image class="grid_image" src="https://api.ayi.hudongnet.com/assets/img/face_3.png">
								</image> -->
								<view class="grid-text">模糊不清</view>
							</u-grid-item>
							<u-grid-item>
								<!-- <image class="grid_image" src="https://api.ayi.hudongnet.com/assets/img/face_4.png">
								</image> -->
								<view class="grid-text">衣着不当</view>
							</u-grid-item>
						</u-grid>
					</view>
					<!-- <view class="f-12 mt-10" style="color:#5602AC;">每月可修改3次，本月您还可以修改3次</view> -->
				</view>
				<view class="text-c camera_serve">
					<view class="pop_cell_canmer" @click="chooseImg('camera')">拍照</view>
					<view class="pop_cell_canmer" @click="chooseImg('album')">从手机相册选择</view>
					<view class="f-14 pd-30" @click="closePop">取消</view>
				</view>
			</view>
		</u-popup>
		<u-picker v-model="showRegion" mode="region" :area-code="areaCode" @confirm="regionConfirm"></u-picker>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getEdulist,
		getNation,
		getSign,
		getLanguage,
		getFaith,
		getPersonality,
		getUserBasicInfo,
		postUserBasicInfo
	} from '@/api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				showRegion: false,
				uploadShow: false,
				face_image_url: '',
				otherForm: false,
				showRegion: false,
				form: {
					name: '',
					mobile: '',
					personality_ids: []
				},
				areaCode: [],
				numList: [{
					name: '身份认证'
				}, {
					name: '个人资料'
				}, {
					name: '资质证明'
				}, {
					name: '岗位信息'
				}, {
					name: '完成注册'
				}],
				politicShow: false,
				politicList: [{
					value: 0,
					label: '无党派'
				}, {
					value: 1,
					label: '共产党员'
				}, {
					value: 2,
					label: '民主党员'
				}],
				eduShow: false,
				edulist: [],
				nationShow: false,
				nationlist: [],
				signShow: false,
				signlist: [],
				languageShow: false,
				languagelist: [],
				faithShow: false,
				faithlist: [],

				personalitylist: [],
				validPersonality: false,
				rules: {
					face_image: [{
						required: true,
						message: '请上传头像',
						trigger: ['change', 'blur'],
					}],
					type_nation_name: [{
						required: true,
						message: '请选择民族',
						trigger: 'change',
					}],
					native_place: [{
						required: true,
						message: '请输入籍贯',
						trigger: ['change', 'blur'],
					}],
					height: [{
						required: true,
						type: 'number',
						message: '请输入身高',
						trigger: ['change', 'blur'],
					}],
					weight: [{
						required: true,
						type: 'number',
						message: '请输入体重',
						trigger: ['change', 'blur'],
					}],
					type_edu_id: [{
						required: true,
						message: '请选择学历',
						trigger: 'change',
					}],
					living_place: [{
						required: true,
						message: '请输入现居地',
						trigger: ['change', 'blur'],
					}],
					contact_person: [{
						required: true,
						message: '请输入紧急联络人',
						trigger: ['change', 'blur'],
					}],
					contact_mobile: [{
							required: true,
							message: '请输入联系人电话',
							trigger: ['change', 'blur'],
						},
						{
							validator: (rule, value, callback) => {
								// 调用uView自带的js验证规则，详见：https://www.uviewui.com/js/test.html
								return this.$u.test.mobile(value);
							},
							message: '手机号码不正确',
							// 触发器可以同时用blur和change，二者之间用英文逗号隔开
							trigger: ['change', 'blur'],
						}
					],
					handicap: [{
						required: true,
						type: 'number',
						message: '请选择残障状况',
						trigger: 'change'
					}, ],
					standard_chinese: [{
						required: true,
						type: 'number',
						message: '请选择普通话水平',
						trigger: 'change'
					}, ],
					dialect: [{
						required: true,
						message: '请输入方言',
						trigger: ['change', 'blur'],
					}],
					politic: [{
						required: true,
						message: '请选择政治面貌',
						trigger: 'change',
					}],
					marriage: [{
						required: true,
						type: "number",
						message: '请选择婚姻状况',
						trigger: 'change'
					}, ],
					children: [{
						required: true,
						type: "number",
						message: '请选择子女状况',
						trigger: 'change'
					}, ],
				},

				certList: [],
				personality_ids: [],
				language_ids: [],
			};
		},
		onLoad() {
			this.getEdulist()
			this.getNation()
			this.getSign()
			this.getLanguage()
			this.getFaith()
			this.getPersonality()
			this.getUserBasicInfo()
		},
		onShow() {

		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			//选择地区
			regionConfirm(e) {
				console.log(e)
				this.form.code = e.area.value
				this.form.native_place = e.province.label + ' ' + e.city.label
			},
			//获取用户基本信息
			getUserBasicInfo() {
				getUserBasicInfo().then(res => {
					if (res.code == 1) {
						this.form = res.data
						this.face_image_url = res.data.face_image ? getApp().globalData.imgUrl + res.data
							.face_image : ''
						this.formSelect()
						var p_code=res.data.code.toString().substr(0,2)
						var c_code=res.data.code.toString().substr(0,4)
						var a_code=res.data.code
						this.areaCode=[p_code,c_code,a_code]
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},

			formSelect() {
				for (var i = 0; i < this.nationlist.length; i++) {
					if (this.nationlist[i].id == this.form.type_nation_id) {
						this.form.type_nation_name = this.nationlist[i].name
					}
				}
				for (var i = 0; i < this.edulist.length; i++) {
					if (this.edulist[i].id == this.form.type_edu_id) {
						this.form.type_edu_name = this.edulist[i].name
					}
				}
				for (var i = 0; i < this.signlist.length; i++) {
					if (this.signlist[i].id == this.form.sign_id) {
						this.form.sign_name = this.signlist[i].name
					}
				}
				for (var i = 0; i < this.faithlist.length; i++) {
					if (this.faithlist[i].id == this.form.faith_id) {
						this.form.faith_name = this.faithlist[i].name
					}
				}
				for (var i = 0; i < this.politicList.length; i++) {
					if (this.politicList[i].value == this.form.politic) {
						this.form.politic_name = this.politicList[i].label
					}
				}

				var that = this
				that.language_ids = that.form.language_ids
				for (var j = 0; j < that.language_ids.length; j++) {
					for (var i = 0; i < that.languagelist.length; i++) {
						if (that.languagelist[i].id == that.language_ids[j]) {
							that.languagelist[i].status_text = 1
						}
					}
				}
				that.personality_ids = that.form.personality_ids
				for (var j = 0; j < that.personality_ids.length; j++) {
					for (var i = 0; i < that.personalitylist.length; i++) {
						if (that.personalitylist[i].id == that.personality_ids[j]) {
							that.personalitylist[i].status_text = 1
						}
					}
				}
			},

			//提交基本信息进资料
			towSub() {

				this.form.personality_ids = this.personality_ids
				this.form.language_ids = this.language_ids
				if (this.form.personality_ids.length == 0) {
					this.validPersonality = true
				} else {
					this.validPersonality = false
				}
				this.$refs.uForm.validate(valid => {
					if (valid) {
						postUserBasicInfo(this.form).then(res => {
							if (res.code == 1) {
								uni.navigateTo({
									url: '/pages/approvethree/approvethree'
								})
							} else {
								uni.showToast({
									title: res.msg,
									icon: 'none',
									duration: 1500
								});
							}
						})
					} else {
						console.log('验证失败');
					}
				});
			},
			//学历信息
			getEdulist() {
				getEdulist().then(res => {
					if (res.code == 1) {
						this.edulist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择学历
			eduConfirm(e) {
				this.form.type_edu_id = e[0].value
				this.form.type_edu_name = e[0].label
			},
			//民族列表
			getNation() {
				getNation().then(res => {
					if (res.code == 1) {
						this.nationlist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择民族
			nationConfirm(e) {
				this.form.type_nation_id = e[0].value
				this.form.type_nation_name = e[0].label
			},
			checkHandicap(e) {
				this.form.handicap = e;
			},
			//星座
			getSign() {
				getSign().then(res => {
					if (res.code == 1) {
						this.signlist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择星座
			signConfirm(e) {
				this.form.sign_id = e[0].value
				this.form.sign_name = e[0].label
			},
			//选择语言
			languageConfirm(e) {
				this.form.language_ids = e[0].value
				this.form.language_name = e[0].label
			},
			//选择宗教
			faithConfirm(e) {
				this.form.faith_id = e[0].value
				this.form.faith_name = e[0].label
			},
			//选择政治面貌
			politicConfirm(e) {
				this.form.politic = e[0].value
				this.form.politic_name = e[0].label
			},
			//语言
			getLanguage() {
				getLanguage().then(res => {
					if (res.code == 1) {
						this.languagelist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//宗教
			getFaith() {
				getFaith().then(res => {
					if (res.code == 1) {
						this.faithlist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//获取个性特点
			getPersonality() {
				getPersonality().then(res => {
					if (res.code == 1) {
						this.personalitylist = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//选择个性
			checkPersonality(id, index) {
				if (this.personalitylist[index].status_text) {
					this.personalitylist[index].status_text = ''
					for (var i = 0; i < this.personality_ids.length; i++) {
						if (this.personality_ids[i] == id) {
							this.personality_ids.splice(i, 1)
						}
					}
				} else {
					if (this.personality_ids.length < 4) {
						this.personalitylist[index].status_text = 1
						this.personality_ids.push(id)

					} else {
						uni.showToast({
							title: '最多可选4个标签',
							icon: 'none',
							duration: 1500
						});
					}

				}
			},
			//选择外语
			checkLanguage(id, index) {
				if (this.languagelist[index].status_text) {
					this.languagelist[index].status_text = ''
					for (var i = 0; i < this.language_ids.length; i++) {
						if (this.language_ids[i] == id) {
							this.language_ids.splice(i, 1)
						}
					}
				} else {
					this.languagelist[index].status_text = 1
					this.language_ids.push(id)

				}
			},
			//其他
			checkotherForm() {
				this.otherForm = this.otherForm ? false : true
			},
			chooseImg(sourceType) {
				console.log(sourceType)
				var that = this
				uni.chooseImage({
					count: 1,
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					sourceType: [sourceType], //从相册选择
					success: function(res) {
						var tempFilePaths = res.tempFilePaths[0]
						uni.uploadFile({
							url: app.globalData.uploadUrl,
							filePath: tempFilePaths,
							name: 'file',
							success: (res) => {
								var picdata = JSON.parse(res.data);
								that.form.face_image = picdata.data.url
								that.face_image_url = picdata.data.fullurl
								that.uploadShow = false
							}
						});

					}
				});
			},
			closePop() {
				this.uploadShow = false
			}

		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.avatar_img {
		width: 160rpx;
		height: 160rpx;
		// border-radius: 60px;
	}

	.grid_image {
		width: 120rpx;
		height: 110rpx;
	}

	.pop_box {
		background-color: rgba(0, 0, 0, 0.6);
		padding: 30rpx;

		.camera_rule {
			padding: 30rpx;
			background: #fff;
			border-radius: 30rpx;
		}

		.camera_serve {
			background: #fff;
			margin-top: 20rpx;
			border-radius: 30rpx;
		}

		.pop_cell_canmer {
			padding: 30rpx 0;
			font-size: 28rpx;
			border-bottom: 2rpx solid #eaeaea;
		}
	}
</style>
