<!-- 设置 -->
<template>
	<view class="set-wrap">
		<!-- logo -->
		<view class="logo-box u-flex-col u-row-center u-col-center">
			<image class="logo-img" src="../../static/images/logo.png" mode="aspectFit"></image>
			<!-- <view class="app-name u-m-t-50">{{ shop.name }}</view> -->
		</view>

		<!-- cell -->
		<view class="set-box">
			<u-cell-group class="menu-list-box">
				<!-- <u-cell-item class="menu-item" title="占用缓存" :titleStyle="{ color: '#333' }" :value="storageSize"
					:value-style="{ color: '#999' }"></u-cell-item>
				<u-cell-item class="menu-item" title="当前版本" :titleStyle="{ color: '#333' }" :value="shop.version"
					:value-style="{ color: '#999' }"></u-cell-item> -->

				<u-cell-item class="menu-item" title="关于我们" :titleStyle="{ color: '#333', fontSize: '28rpx' }"
					@click="openUrl('/pages/aboutus/aboutus')"></u-cell-item>
				<u-cell-item class="menu-item" title="隐私协议" :titleStyle="{ color: '#333', fontSize: '28rpx' }"
					@click="openUrl('/pages/login/agreement?id=2')"></u-cell-item>
				<u-cell-item class="menu-item" title="意见反馈" :titleStyle="{ color: '#333', fontSize: '28rpx' }"
					@click="openUrl('/pages/feedback/feedback')"></u-cell-item>
			</u-cell-group>
		</view>
		<!-- <view class="wechat_btn" @click="loginOut">
			退出
		</view> -->
		<!-- copyright -->
		<view class="copyright-box u-flex-col u-row-center u-col-center u-p-t-80 u-p-b-50" v-if="shop.copyright">
			<view class="copyright-text">{{ shop.copyright[0] }}</view>
			<view class="copyright-text">{{ shop.copyright[1] }}</view>
		</view>
		<!-- 登录提示 -->
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		loginOut,
	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				shop: {
					name: '智美理护',
					version: '1.0.1',
					copyright: ['智美理护 . 版权所有', 'Copyright2021-2025']
				},
				storageSize: '200Kb'
			};
		},

		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			//跳转页面
			openUrl(url) {
				uni.navigateTo({
					url: url
				})
			},
			loginOut() {
				loginOut().then(res => {
					if (res.code == 1) {
						uni.clearStorage()
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
						uni.navigateBack({
							delta: 1
						})
					} else {
						uni.clearStorage()
						uni.navigateBack({
							delta: 1
						})
						// uni.showToast({
						// 	title: res.msg,
						// 	icon: 'none',
						// 	duration: 1500
						// });
					}
				})
			},
		}
	};
</script>

<style lang="scss">
	.set-wrap {


		.set-box {
			background-color: #fff;
		}

		.wechat_btn {
			color: #FFFFFF;
			font-size: 32rpx;
			padding: 22rpx 0;
			border-radius: 30px;
			text-align: center;
			margin: 40rpx;
			background-image: linear-gradient(to right, #6943FA, #5602AC);
		}

		.logo-box {
			width: 100%;
			height: 500rpx;
			background-size: 100% 500rpx;
			background-image: linear-gradient(to right, #A98AFF, #B573FF);

			.logo-img {
				width: 160rpx;
				height: 210rpx;
			}

			.app-name {
				font-size: 36rpx;
				font-weight: 600;
				color: #333333;
			}
		}

		.copyright-box {
			.copyright-text {
				font-size: 22rpx;
				font-weight: 500;
				color: #c4c4c4;
			}
		}
	}
</style>
