<template>
	<view class="userapprove">
		<view class="sub_ok_box">
			<view class="sub_ok_box">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="mt-30 f-14">资料提交成功，审核中…</view>
			</view>
			<view style="margin: 50rpx 30rpx;">
				<u-cell-item title="1.实名认证" value="实名提高信誉度" :arrow="true" arrow-direction="right"
					@click="openPage('/pages/approvefirst/approvefirst')"></u-cell-item>
				<u-cell-item title="2.背调服务" value="个人信用查询" :arrow="true" arrow-direction="right"
					@click="openPage('/pages/survey/survey')">
				</u-cell-item>
			</view>
		</view>
		<u-popup v-model="showSuccessPop" width="80%" mode="center" border-radius="15">
			<view class="text-c pd-40">
				<view class="f-18 f-w mt-10 mb-20">离完成注册只差一步啦！</view>
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-14 mt-20">关注公众号</view>
				<!-- <view class="f-14 mt-10">为您匹配更适合的服务人员</view> -->
				<view class="popsub_btn mb-10">去关注</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {} from '@/api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				showSuccessPop:true
			};
		},
		onLoad() {
			// this.getUserInfo()

		},
		methods: {
			openPage(url) {
				uni.navigateTo({
					url: url
				})
			},
			openWebview(title, url) {
				uni.navigateTo({
					url: '/pages/webview/webview?title=' + title + '&url=' + url
				})
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.sub_ok_box {
		background-color: #fff;
		padding: 30rpx 10rpx;
		border-radius: 10rpx;

		.u-cell {
			padding: 25rpx 0 !important;
		}

		.u-cell__value {
			font-size: 24rpx;
		}
	}
</style>
