<template>
	<view class="message">
		<view class="message_tab">
			<view :class="isTabs==1?'ayi_tabs_bin_select ayi_tabs_bin':'ayi_tabs_bin_select'" @click="bindTabs(1)">私信
				<image v-if="isTabs==1" class="tab_bottom" src="../../static/images/tab_bottom.png">
				</image>
			</view>
			<view :class="isTabs==2?'ayi_tabs_bin_select ayi_tabs_bin':'ayi_tabs_bin_select'" @click="bindTabs(2)">视频沟通
				<image v-if="isTabs==2" class="tab_bottom" src="../../static/images/tab_bottom.png">
				</image>
			</view>
			<view :class="isTabs==3?'ayi_tabs_bin_select ayi_tabs_bin':'ayi_tabs_bin_select'" @click="bindTabs(3)">我的评价
				<image v-if="isTabs==3" class="tab_bottom" src="../../static/images/tab_bottom.png">
				</image>
			</view>
		</view>
		<view class="message_list_box" :style="'padding-bottom:'+pdbottom+'px;padding-top:120rpx'">
			<block v-if="isTabs==1">
				<view v-for="item in conversations" :key="item" class="message_list_cell"
					@longpress="longpressBtn(item.userId)" @click="navigateToChat(item)">
					<view class="message_list_img">
						<image class="message_img" :src="item.data.avatar"></image>
						<view class="message_unread" v-if="item.unread">{{item.unread}}</view>
					</view>
					<view style="flex: 1;margin-left: 20rpx;">
						<view class="message_list_info">
							<view class="message_username">{{item.data.name}}</view>
							<view class="message_time">{{formatDate(item.lastMessage.timestamp)}}</view>
						</view>
						<view class="message_usermsg ellipsis" v-if="item.lastMessage.type=='text'">
							{{item.lastMessage.payload.text}}
						</view>
						<view class="message_usermsg ellipsis" v-else>{{item.lastMessage.payload.content}}</view>
					</view>
				</view>
			</block>
			<block v-if="isTabs==2">
				<view v-for="item in videolist" :key="item" class="message_list_cell"
					@click="longvideopressBtn(item.id)">
					<view class="message_list_img">
						<image class="message_img" :src="item.avata_pic"></image>
					</view>
					<view style="flex: 1;margin-left: 20rpx;">
						<view class="message_list_info">
							<view class="message_username">{{item.worker_name}}</view>
							<view class="message_time">{{item.meet_time_text}}</view>
						</view>
						<view class="message_usermsg ellipsis">{{item.content}}</view>
					</view>
				</view>
			</block>
			<block v-if="isTabs==3">
				<view class="commentlist_box">
					<view class="order_box mb-10" v-for="(item,index) in commentlist" :key="item">
						<view class="order_cell">
							<view class="f-14" style="border-bottom: 1rpx solid #ECECEC;padding-bottom: 30rpx;">
								<span class="f-w">订单号：</span>{{item.order_sn}}
							</view>
							<view class="userinfo_flex mt-15">
								<view class="userinfo_imgbox">
									<image class="userinfo_img" :src="item.worker_avatar"></image>
								</view>
								<view class="userinfo_info">
									<view class="userinfo_name">{{item.worker_name}}</view>
									<view class="userinfo_static">服务：{{item.worker_type_text}}</view>
								</view>
								<view class="text-r">
									<view class="commentcell_btn" @click="delComment(item.id,index)">删除</view>
								</view>
							</view>
							<view style="padding: 20rpx 0;">
								<view class="display_flex">
									<view class="startitle">总体评价</view>
									<view style="flex: 1;">
										<u-rate :disabled="true" active-color="#FF9000" gutter='25' size="45"
											:count="count" v-model="item.stars"></u-rate>
									</view>
									<view class="f-r" @click="showMoreComment(index)">查看详情</view>
								</view>
							</view>
							<view>
								<view class="f-15 f-w mb-5">评价内容：</view>
								<text :class="item.showMore?'f-12':'f-12 ellipsis'">{{item.content}}</text>
							</view>
							<view class="display_flex mt-10" style="position: relative;">
								<view style="flex: 1;"></view>
								<view style="padding: 0 0 20rpx 20rpx;" @click="showMoreCell(index)">
									<u-icon name="arrow-up" color="#5602AC" v-if="item.showMore"></u-icon>
									<u-icon name="arrow-down" color="#5602AC" v-else></u-icon>
								</view>
							</view>
						</view>
					</view>
				</view>
			</block>
		</view>
		<tab-Bar :botheight="bottomHeight" pageCode='2'></tab-Bar>
		<view style="margin-top: 10%;" v-if="showEmpty">
			<u-empty text="暂无数据" mode="list"></u-empty>
		</view>
		<view class="text-c c-gray" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
		<u-popup v-model="showComment" mode="center" width="80%" border-radius="15" @close="closeComment">
			<view class="pd-40">
				<view class="mt-10 start_group">
					<view class="work_title">服务能力</view>
					<view class="display_flex ml-15">
						<view class="startitle">经验值</view>
						<u-rate active-color="#FF9000" gutter='20' :disabled="true" size="40" :count="count"
							v-model="info.starts_exp">
						</u-rate>
					</view>
					<view class="display_flex mt-10 ml-15">
						<view class="startitle">专业度</view>
						<u-rate active-color="#FF9000" gutter='20' :disabled="true" size="40" :count="count"
							v-model="info.starts_profession"></u-rate>
					</view>
					<view class="display_flex mt-10 ml-15">
						<view class="startitle">稳定性</view>
						<u-rate active-color="#FF9000" gutter='20' :disabled="true" size="40" :count="count"
							v-model="info.starts_stable">
						</u-rate>
					</view>
				</view>
				<view class="mt-10 start_group">
					<view class="work_title">服务素质</view>
					<view class="display_flex ml-15">
						<view class="startitle">服务意识</view>
						<u-rate active-color="#FF9000" gutter='20' :disabled="true" size="40" :count="count"
							v-model="info.starts_aware">
						</u-rate>
					</view>
					<view class="display_flex mt-10 ml-15">
						<view class="startitle">服务态度</view>
						<u-rate active-color="#FF9000" gutter='20' :disabled="true" size="40" :count="count"
							v-model="info.starts_attitude">
						</u-rate>
					</view>
				</view>
				<view class="mt-10 start_group">
					<view class="work_title">亮点/表彰</view>
					<view class="display_flex ml-15">
						<view class="startitle">超出预期</view>
						<u-rate active-color="#FF9000" gutter='20' :disabled="true" size="40" :count="count"
							v-model="info.starts_exceed">
						</u-rate>
					</view>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getVideolist,
		vlinkConfirm,
		videoInit,
		getCommentList,
		delComment
	} from '@/api/ayi.js';
	import IMService from "../../lib/imservice";
	export default {
		name: "contacts",
		data() {
			return {
				showEmpty: false,
				showLoading: true,
				pdbottom: getApp().globalData.bottomHeight + 45,
				bottomHeight: getApp().globalData.bottomHeight,
				unreadTotal: 0,
				conversations: [],
				action: {
					conversation: null,
					show: false
				},
				isTabs: 1,
				paramsv: {
					page: 1
				},
				videolist: [],
				commentlist: [],
				paramsc: {
					status: 1,
					page: 1
				},
				showMore: false,
				count: 5,
				info: '',
				showComment: false
			}
		},
		onLoad() {
			
			let currentUser = uni.getStorageSync('currentUser');
			if (!currentUser) {
				uni.navigateTo({
					url: "/pages/login/login"
				})

			}

		},
		onShow() {
			if (uni.getStorageSync('istab')) {
				this.isTabs = uni.getStorageSync('istab')
				uni.removeStorage({
					key: 'istab'
				})
				if (uni.getStorageSync('istab') == 1) {
					this.paramsv.page = 1
					this.videolist = []
					this.getVideolist()
				} else {
					this.commentlist = []
					this.showEmpty = false
					this.getCommentList()
				}
			}
			uni.hideTabBar({
				animation: false
			})
			let currentUser = uni.getStorageSync('currentUser');
			if (!currentUser) {
				this.showLoading = false
				this.showEmpty = true
				uni.showToast({
					title: '请先登录',
					icon: 'none'
				})
				return;
			}
			if (this.goEasy.getConnectionStatus() === 'disconnected') {
				getApp().globalData.imService = new IMService(this.goEasy, this.GoEasy);
				getApp().globalData.imService.connect(currentUser);
			}
			//监听会话列表变化
			let self = this;
			this.goEasy.im.on(this.GoEasy.IM_EVENT.CONVERSATIONS_UPDATED, (content) => {
				self.renderConversations(content);
			});
			//加载会话列表
			this.goEasy.im.latestConversations({
				onSuccess: function(result) {
					let content = result.content;
					self.renderConversations(content);
					self.showLoading = false
				},
				onFailed: function(error) {
					//获取失败
					self.showLoading = false
					console.log("失败获取最新会话列表, code:" + error.code + " content:" + error.content);
				}
			});

		},
		methods: {
			topConversation() {
				this.showLoading = true
				let conversation = this.action.conversation;
				let failedDescription = conversation.top ? '取消置顶失败' : '置顶失败';
				this.action.show = false;
				if (conversation.type === this.GoEasy.IM_SCENE.PRIVATE) {
					this.goEasy.im.topPrivateConversation({
						userId: conversation.userId,
						top: !conversation.top,
						onSuccess: function() {
							this.showLoading = false
						},
						onFailed: function(error) {
							this.showLoading = false
							uni.showToast({
								title: failedDescription,
								icon: "none"
							});
						}
					});
				} else {
					this.goEasy.im.topGroupConversation({
						groupId: conversation.groupId,
						top: !conversation.top,
						onSuccess: function() {
							this.showLoading = false
						},
						onFailed: function(error) {
							this.showLoading = false
							uni.showToast({
								title: failedDescription,
								icon: "none"
							});
						}
					});
				}
			},
			removeConversation() {
				this.showLoading = true
				let failedDescription = "删除失败";
				let conversation = this.action.conversation;
				this.action.show = false;
				if (conversation.type === this.GoEasy.IM_SCENE.PRIVATE) {
					this.goEasy.im.removePrivateConversation({
						userId: conversation.userId,
						onSuccess: function() {
							this.showLoading = false
						},
						onFailed: function(error) {
							this.showLoading = false
							uni.showToast({
								title: failedDescription,
								icon: "none"
							});
						}
					});
				} else {
					this.goEasy.im.removeGroupConversation({
						groupId: conversation.groupId,
						onSuccess: function() {
							this.showLoading = false
						},
						onFailed: function(error) {
							this.showLoading = false
							uni.showToast({
								title: failedDescription,
								icon: "none"
							});
						}
					});
				}
			},
			renderConversations(content) {
				this.conversations = content.conversations || [];
				let unreadTotal = content.unreadTotal;
				if (this.conversations.length == 0) {
					this.showEmpty = true
				}
				this.setUnreadAmount(unreadTotal);
			},
			setUnreadAmount(unreadTotal) {
				this.unreadTotal = unreadTotal;
				if (this.unreadTotal > 0) {
					uni.setTabBarBadge({
						index: 0,
						text: this.unreadTotal.toString()
					});
				} else {
					uni.removeTabBarBadge({
						index: 0
					});
				}
			},
			navigateToChat(conversation) {
				console.log(conversation)
				uni.navigateTo({
					url: "/pages/goeasy/goeasy?uid=" + conversation.userId
				});
			},
			longpressBtn(userId) {
				var that = this
				uni.showModal({
					content: '删除这条消息吗？',
					confirmText: '删除',
					success: function(res) {
						if (res.confirm) {
							that.goEasy.im.removePrivateConversation({
								userId: userId,
								onSuccess: function() {
									this.showLoading = false
								},
								onFailed: function(error) {
									this.showLoading = false
									uni.showToast({
										title: failedDescription,
										icon: "none"
									});
									console.log(error);
								}
							});
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			bindTabs(type) {
				this.isTabs = type
				if (uni.getStorageSync('token')) {
					if (type == 1) {
						this.showLoading = true
						this.showEmpty = false
						let self = this;
						this.goEasy.im.on(this.GoEasy.IM_EVENT.CONVERSATIONS_UPDATED, (content) => {
							self.renderConversations(content);
						});
						//加载会话列表
						this.goEasy.im.latestConversations({
							onSuccess: function(result) {
								let content = result.content;
								self.renderConversations(content);
								self.showLoading = false
							},
							onFailed: function(error) {
								//获取失败
								self.showLoading = false
								console.log("失败获取最新会话列表, code:" + error.code + " content:" + error.content);
							}
						});
					} else if (type == 2) {
						this.videolist = []
						this.showLoading = true
						this.showEmpty = false
						this.getVideolist()
					} else {
						this.commentlist = []
						this.showLoading = true
						this.showEmpty = false
						this.getCommentList()
					}
				} else {
					this.showLoading = false
					this.showEmpty = true
				}
			},
			getVideolist() {
				getVideolist(this.paramsv).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						if (this.paramsv.page == 1) {
							this.videolist = []
						}
						this.videolist.push.apply(this.videolist, res.data.data_list)
						this.current_page = res.data.current_page
						this.last_page = res.data.last_page
						if (res.data.total == 0) {
							this.showEmpty = true
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			getCommentList() {
				getCommentList(this.paramsc).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						if (this.paramsc.page == 1) {
							this.commentlist = []
						}
						var list = [...this.commentlist, ...res.data.data_list]
						for (var i = 0; i < list.length; i++) {
							list[i].showMore = false
						}
						this.commentlist = list
						this.current_pagec = res.data.current_page
						this.last_pagec = res.data.last_page
						if (res.data.total == 0) {
							this.showEmpty = true
						}
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			showMoreCell(index) {
				this.commentlist[index].showMore = this.commentlist[index].showMore ? false : true
			},
			showMoreComment(index) {
				this.info = this.commentlist[index]
				this.showComment = true
			},
			closeComment() {
				this.info = ''
				this.showComment = false
			},
			delComment(id, index) {
				var that = this
				uni.showModal({
					content: '确定要删除这条评论吗？',
					confirmText: '确定',
					confirmColor: '#5602AC',
					cancelText: '取消',
					success: function(res) {
						if (res.confirm) {
							delComment({
								id: id
							}).then(res => {
								if (res.code == 1) {
									uni.showToast({
										title: '已删除',
										icon: 'none',
										duration: 1000
									})
									setTimeout(function() {
										that.commentlist.splice(index, 1)
									}, 800)

								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none',
										duration: 1500
									});
								}
							})

						}
					}
				});
			},
			longvideopressBtn(id) {
				var that = this
				uni.showModal({
					content: '视频邀请？',
					confirmText: '打开',
					confirmColor: '#5602AC',
					cancelText: '忽略',
					success: function(res) {
						if (res.confirm) {
							uni.navigateToMiniProgram({
								appId: 'wx11f831529e4f7d83',
								path: '/pages/room/room?roomID=' + id + '&userID=' + uni
									.getStorageSync(
										'currentUser').uuid +
									'&cloudenv=PRO&template=1v1',
								extraData: {
									foo: 'bar'
								},
								envVersion: 'release',
								success(res) {
									// 打开成功
								}
							})
						} else if (res.cancel) {
							var params = {
								id: id,
								apply_status: 2
							}
							vlinkConfirm(params).then(res => {
								if (res.code == 1) {

								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none',
										duration: 1500
									});
								}
							})
						}
					}
				});
			}

		},
		onReachBottom() {
			if (this.isTabs == 2) {
				if (this.current_page < this.last_page) {
					this.paramsv.page = this.paramsv.page + 1
					this.getVideolist()
				}
			} else if (this.isTabs == 3) {
				if (this.current_pagec < this.last_pagec) {
					this.paramsc.page = this.paramsc.page + 1
					this.getCommentList()
				}
			}
		},
		onPullDownRefresh() {
			if (this.isTabs == 1) {
				let self = this;
				this.goEasy.im.on(this.GoEasy.IM_EVENT.CONVERSATIONS_UPDATED, (content) => {
					self.renderConversations(content);
				});
				//加载会话列表
				this.goEasy.im.latestConversations({
					onSuccess: function(result) {
						let content = result.content;
						self.renderConversations(content);
						self.showLoading = false
					},
					onFailed: function(error) {
						//获取失败
						self.showLoading = false
						console.log("失败获取最新会话列表, code:" + error.code + " content:" + error.content);
					}
				});
				uni.stopPullDownRefresh()
			} else if (this.isTabs == 2) {
				this.paramsv.page = 1
				this.videolist = []
				this.showLoading = true
				this.getVideolist()
				uni.stopPullDownRefresh()
			} else {
				this.paramsc.page = 1
				this.commentlist = []
				this.showLoading = true
				this.getCommentList()
				uni.stopPullDownRefresh()
			}

		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.message {
		.message_tab {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			padding: 30rpx 0;
			background-color: #FFFFFF;
			border-top: 1rpx solid #ECECEC;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
			z-index: 2;

			.ayi_tabs_bin {
				width: 50%;
				font-size: 28rpx;
				color: #696572;
				padding: 0 20rpx;
				position: relative;
				margin-right: 40rpx;
				text-align: center;
			}

			.ayi_tabs_bin_select {
				width: 50%;
				font-size: 32rpx;
				color: #39373D;
				padding: 0 20rpx;
				font-weight: 500;
				position: relative;
				margin-right: 40rpx;
				text-align: center;
			}

			.ayi_tabs_bin:last-child {
				margin-right: 0rpx;
			}

			.ayi_tabs_bin_select:last-child {
				margin-right: 0rpx;
			}

			.tab_bottom {
				width: 36rpx;
				height: 6rpx;
				position: absolute;
				bottom: -10rpx;
				margin: 0 auto;
				left: 0;
				right: 0;
			}
		}

		.message_list_box {
			padding: 30rpx;

			.message_list_cell {
				display: flex;
				align-items: flex-start;
				background-color: #fff;
				border-radius: 20rpx;
				padding: 20rpx;
				margin-bottom: 20rpx;

				.message_list_img {
					width: 120rpx;
					height: 120rpx;
					border-radius: 60rpx;
					position: relative;

					.message_img {
						width: 120rpx;
						height: 120rpx;
						border-radius: 60rpx;
					}

					.message_unread {
						padding: 6rpx;
						background-color: #EE593C;
						color: #FFFFFF;
						font-size: 24rpx;
						line-height: 28rpx;
						border-radius: 24rpx;
						min-width: 24rpx;
						min-height: 24rpx;
						text-align: center;
						position: absolute;
						top: 0;
						right: 0rpx;
					}
				}

				.message_list_info {
					display: flex;


					.message_username {
						flex: 1;
						color: #39373D;
						font-size: 32rpx;
						font-weight: bold;
					}
				}

				.message_usermsg {
					color: #696572;
					font-size: 26rpx;
					margin-top: 30rpx;
				}

				.message_time {
					color: #696572;
					font-size: 24rpx;
					padding: 15prx 0;
					margin-left: 20rpx;
				}
			}
		}
	}

	.commentlist_box {
		.order_box {

			.order_cell {
				padding: 30rpx;
				border-radius: 20rpx;
				background-color: #FFFFFF;

				.start_group {
					border: 2rpx solid #9a9a9a;
					border-radius: 12rpx;
					padding-bottom: 30rpx;
				}

				.work_title {
					color: #fff;
					font-size: 24rpx;
					font-weight: bold;
					padding: 8rpx 20rpx;
					border-top-left-radius: 10rpx;
					background-color: #A98AFF;
					display: inline-block;
					margin-bottom: 20rpx;
				}

				.userinfo_flex {
					display: flex;
					align-items: center;
					position: relative;
					padding-bottom: 30rpx;
					border-bottom: 2rpx solid #9a9a9a;

					.userinfo_imgbox {
						width: 120rpx;
						height: 120rpx;
						position: relative;
						border-radius: 50px;

						.userinfo_img {
							width: 100%;
							height: 100%;
							border-radius: 50px;
						}

						.userinfo_approve {
							width: 30rpx;
							height: 30rpx;
							position: absolute;
							bottom: 0;
							right: 0;
						}

					}

					.userinfo_info {
						flex: 1;
						margin-left: 30rpx;

						.userinfo_name {
							font-size: 32rpx;
							color: #333333;
							font-size: 600;
							font-weight: 500;
						}

						.userinfo_static {
							color: #666666;
							font-size: 24rpx;
							margin-top: 8rpx;
						}

						.userinfo_price {
							color: #FF5555;
							font-size: 32rpx;
							margin-top: 8rpx;
						}

						.chioced {
							color: #39373D;
							font-size: 24rpx;
							margin-top: 20rpx;
						}
					}

					.cell_list_chat {
						width: 32rpx;
						height: 32rpx;
						// position: absolute;
						// top: 30rpx;
						// right: 0;
					}
				}

				.startitle {
					font-size: 30rpx;
					font-weight: bold;
					width: 140rpx;
				}
			}
		}

		.commentcell_btn {
			width: 140rpx;
			color: #5602AC;
			background-color: #FFFFFF;
			border: 2rpx solid #5602AC;
			border-radius: 10rpx;
			font-size: 24rpx;
			text-align: center;
			padding: 10rpx 0;
		}
	}

	.start_group {
		border: 2rpx solid #9a9a9a;
		border-radius: 12rpx;
		padding-bottom: 30rpx;
	}

	.work_title {
		color: #fff;
		font-size: 24rpx;
		font-weight: bold;
		padding: 8rpx 20rpx;
		border-top-left-radius: 10rpx;
		background-color: #A98AFF;
		display: inline-block;
		margin-bottom: 20rpx;
	}
</style>
