<template>
	<view class="rich-wrap">
		<view class="richText_box">
			<u-parse :html="richText.content"></u-parse>
		</view>
	</view>
</template>

<script>
	import {
		getRichText,

	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				richText: ''
			};
		},
		onLoad() {
			this.getRichText()
		},
		methods: {
			getRichText() {
				getRichText({
					id: 3
				}).then(res => {
					if (res.code == 1) {
						this.richText = res.data;
						uni.setNavigationBarTitle({
							title: res.data.title
						});

					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			}
		}
	}
</script>

<style lang="scss">
	
</style>
