<template>
	<view class="tabbar_box">
		<view class="tabbar_cell" :style="'padding-bottom:'+botheight+ 'px;'"
			@click="clickTbbar(1,'/pages/index/index')">
			<image v-if="pageCode==1" class="tabbar_icon" src="/static/images/tabbar/index_on.png"></image>
			<image class="tabbar_icon" src="/static/images/tabbar/index.png" v-else></image>
			<view :class="pageCode==1?'tabbar_title_on':'tabbar_title'">首页</view>
		</view>
		<view class="tabbar_cell" :style="'padding-bottom:'+botheight+ 'px;'"
			@click="clickTbbar(2,'/pages/message/message')">
			<image v-if="pageCode==2" class="tabbar_icon" src="/static/images/tabbar/message_on.png"></image>
			<image v-else class="tabbar_icon" src="/static/images/tabbar/message.png"></image>
			<view :class="pageCode==2?'tabbar_title_on':'tabbar_title'">消息</view>
		</view>
		<view class="tabbar_cell" :style="'padding-bottom:'+botheight+ 'px;'" @click="clickTbbar(3)">
			<image v-if="pageCode==3" class="tabbar_center_icon" src="/static/images/tabbar/center_on.png"></image>
			<image v-else class="tabbar_center_icon" src="/static/images/tabbar/center.png"></image>
		</view>
		<view class="tabbar_cell" :style="'padding-bottom:'+botheight+ 'px;'" @click="clickTbbar(4,'/pages/sign/sign')">
			<image v-if="pageCode==4" class="tabbar_icon" src="/static/images/tabbar/insure_on.png"></image>
			<image v-else class="tabbar_icon" src="/static/images/tabbar/insure.png"></image>
			<view :class="pageCode==4?'tabbar_title_on':'tabbar_title'">保险</view>
		</view>
		<view class="tabbar_cell" :style="'padding-bottom:'+botheight+ 'px;'"
			@click="clickTbbar(5,'/pages/member/member')">
			<image v-if="pageCode==5" class="tabbar_icon" src="/static/images/tabbar/my_on.png"></image>
			<image v-else class="tabbar_icon" src="/static/images/tabbar/my.png"></image>
			<view :class="pageCode==5?'tabbar_title_on':'tabbar_title'">我的</view>
		</view>
		<view class="popWindow" v-if="showWidow" :style="'bottom:' +bottomHeight+'px;'">
			<div class="shixin"></div>
			<view>
				<!-- <swiper class="swiper" :indicator-dots="true" indicator-color="#D8D8D8"
					indicator-active-color="#6943FA">
					<swiper-item> -->
				<uni-grid :column="3" :highlight="false" :showBorder="false" @change="change">
					<uni-grid-item v-for="(item, index) in gridlist" :index="index" :key="index" v-if="index<9">
						<view class="grid-item-box" @click="goPage(item.link,item.open_type)">
							<image :src="item.url" class="grid-image" mode="aspectFill" />
							<text class="grid-text">{{ item.text }}</text>
						</view>
					</uni-grid-item>
				</uni-grid>
				<!-- </swiper-item>
				</swiper> -->

			</view>
		</view>
	</view>

</template>

<script>
	const app = getApp()
	export default {
		name: "TabBar",
		data() {
			return {
				bottomHeight: 60 + getApp().globalData.bottomHeight,
				showWidow: false,
				gridlist: [{
						open_type: 'navigate',
						link: '/pages/approvefirst/approvefirst',
						url: '/static/images/tabpoop/authen.png',
						text: '实名认证'
					}, {
						open_type: 'navigate',
						link: '/pages/wallet/wallet',
						url: '/static/images/tabpoop/wallet.png',
						text: '钱包'
					}, {
						open_type: 'switch',
						link: '/pages/message/message',
						url: '/static/images/videocall.png',
						text: '视频面试'
					}, {
						open_type: 'navigate',
						link: '/pages/surveylist/surveylist',
						url: '/static/images/tabpoop/survey.png',
						text: '背调订单'
					}, {
						open_type: 'navigate',
						link: '/pages/orderlist/orderlist',
						url: '/static/images/tabpoop/sign.png',
						text: '签约订单'
					},
					{
						open_type: 'switch',
						link: '/pages/sign/sign',
						url: '/static/images/tabpoop/insure.png',
						text: '保险订单'
					},
					{
						open_type: 'navigate',
						link: '/pages/needlist/needlist',
						url: '/static/images/tabpoop/basi.png',
						text: '岗位需求'
					}, {
						open_type: 'navigate',
						link: '/pages/needpost/needpost',
						url: '/static/images/tabpoop/post.png',
						text: '发布需求'
					}, {
						open_type: 'navigate',
						link: '/pages/followlist/followlist',
						url: '/static/images/tabpoop/follow.png',
						text: '我的关注'
					},
				],
			}
		},
		props: {
			botheight: {
				type: String,
				value: null
			},
			pageCode: {
				type: String,
				value: 0
			}
		},
		methods: {
			clickTbbar(id, url) {
				if (id != 3) {
					this.showWidow = false
					uni.switchTab({
						url: url
					})
				} else {
					this.showWidow = this.showWidow ? false : true
				}
			},
			goPage(url, type) {
				if (uni.getStorageSync('token')) {
					if (type == 'navigate') {
						uni.navigateTo({
							url: url
						})
					} else if (type == 'switch') {
						if (url == '/pages/message/message') {
							uni.setStorage({
								key: 'istab',
								data: 2
							})
						} else if (url == '/pages/member/member') {
							if (this.pageCode != 5) {
								uni.setStorage({
									key: 'isdbindwork',
									data: true
								})
							}

						}
						uni.switchTab({
							url: url
						})
					}
					this.showWidow = false
				} else {
					uni.navigateTo({
						url: '/pages/login/login'
					})
				}
			},
			change(e) {}
		}
	}
</script>

<style lang="scss">
	.tabbar_box {
		display: flex;
		align-items: center;
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 999;
		box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.08);

		.tabbar_cell {
			width: 20%;
			text-align: center;
			background-color: #FFFFFF;
			padding-top: 15rpx;

			.tabbar_icon {
				width: 44rpx;
				height: 44rpx;
			}

			.tabbar_title {
				color: #666666;
				font-size: 24rpx;
			}

			.tabbar_title_on {
				color: #5602AC;
				font-size: 24rpx;
			}

			.tabbar_center_icon {
				width: 80rpx;
				height: 80rpx;
			}
		}
	}

	.popWindow {
		position: fixed;
		left: 60rpx;
		right: 60rpx;
		height: 400rpx;
		background-color: #FFFFFF;
		border-radius: 10rpx;
		padding: 30rpx;
		box-shadow: 0 4rpx 40rpx 0 rgba(0, 0, 0, 0.15);

		.shixin {
			width: 0;
			height: 0;
			border-left: 20rpx solid transparent;
			border-right: 20rpx solid transparent;
			border-top: 20rpx solid #FFFFFF;
			position: relative;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: 107%;
		}

		.swiper {
			height: 400rpx;
		}

		.uni-grid-item {
			height: 120rpx !important;
		}

		.grid-item-box {
			flex: 1;
			/* #ifndef APP-NVUE */
			display: flex;
			/* #endif */
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20rpx 0;
		}

		.grid-image {
			width: 48rpx;
			height: 48rpx;
		}

		.grid-text {
			color: #39373D;
			font-size: 22rpx;
		}
	}
</style>
