<template>
	<view class="postlist_box">
		<view class="message_tab">
			<view :class="isTabs==1?'ayi_tabs_bin_select ayi_tabs_bin':'ayi_tabs_bin_select'" @click="bindTabs(1)">可开通岗位
				<image v-if="isTabs==1" class="tab_bottom" src="../../static/images/tab_bottom.png">
				</image>
			</view>
			<view :class="isTabs==2?'ayi_tabs_bin_select ayi_tabs_bin':'ayi_tabs_bin_select'" @click="bindTabs(2)">已开通岗位
				<image v-if="isTabs==2" class="tab_bottom" src="../../static/images/tab_bottom.png">
				</image>
			</view>
		</view>
		<view class="postlist" v-if="isTabs==1">
			<view v-for="(item,index) in ownlist" :key="item.id">
				<view class="popchioce popchioce_on" @click="initWorker(item.id)">
					<view style="flex: 1;">{{item.name}}</view>
					<view style="font-weight: 500;">开通</view>
					<u-icon name="arrow-right" color="#5602AC" size="28"></u-icon>
				</view>
			</view>
			<!-- <view class="wechat_btn" @click="initWorker">确定</view> -->
		</view>
		<view class="postlist" v-if="isTabs==2">
			<view v-for="(item,index) in list" :key="item.id">
				<view class="popchioce popchioce_on" @click="goService(item.worker_type_id)">
					<view style="flex: 1;">{{item.worker_type_text}}</view>
					<u-icon name="edit-pen-fill" color="#5602AC" size="28"></u-icon>
				</view>
			</view>
		</view>
		<view class="text-c c-gray" v-if="showLoading">
			<u-loading mode="flower" size="48"></u-loading>
			<span class="ml-10">加载中</span>
		</view>
		<view style="margin-top: 10%;" v-if="showEmpty">
			<u-empty text="暂无数据" mode="list"></u-empty>
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		getMyWorkService,
		getCanWorkService,
		initWorker,
		initService
	} from '@/api/ayi.js';
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				popToast: true,
				showLoading: true,
				showEmpty: false,
				isTabs: 1,
				list: [],
				ownlist: [],
				workid: '',
				statusBarHeight: getApp().globalData.statusBarHeight,
				params1: {
					page: 1
				},
				params2: {
					page: 1
				}
			};
		},
		onLoad() {
			this.getCanWorkService()
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			bindTabs(type) {
				this.isTabs = type
				this.showLoading = true
				this.showEmpty = false
				if (type == 1) {
					this.list = []
					this.params1.page = 1
					this.getCanWorkService()
				} else {
					this.ownlist = []
					this.params2.page = 1
					this.getMyWorkService()
				}
			},
			getMyWorkService() {
				getMyWorkService(this.params2).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						this.list = [...this.list, ...res.data.data_list]
						// var worker_type_id_array = res.data.worker_type_id_array
						// for (var i = 0; i < list.length; i++) {
						// 	if (worker_type_id_array.indexOf(list[i].id) == -1) {
						// 		list[i].check = false
						// 	} else {
						// 		list[i].check = true
						// 	}
						// }
						// this.list = list
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			getCanWorkService() {
				getCanWorkService(this.params1).then(res => {
					this.showLoading = false
					if (res.code == 1) {
						this.ownlist = [...this.ownlist, ...res.data]
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			goService(id) {
				uni.navigateTo({
					url: '/pages/approvefour/approvefour?id=' + id
				})
			},
			// changeWork(index) {
			// 	this.list[index].check = this.list[index].check ? false : true
			// },
			initWorker(id) {
				var that = this
				uni.showModal({
					content: '确定开通此岗位吗？',
					showCancel: true,
					cancelText: '取消',
					confirmText: '确定',
					confirmColor: '#5602AC',
					success: function(res) {
						if (res.confirm) {
							initWorker({
								worker_type_id: id
							}).then(res => {
								if (res.code == 1) {
									uni.showLoading({
										title: '处理中'
									})
									console.log('res.data.worker_type_id===' + res.data.worker_type_id)
									initService({
										worker_type_id: res.data.worker_type_id
									}).then(res => {
										if (res.code == 1) {
											uni.hideLoading()
											uni.showToast({
												title: res.msg,
												icon: 'none',
												duration: 1500,
												success() {
													setTimeout(function() {
														uni.redirectTo({
															url: res
																.data
														})
													}, 1000)

												}
											});

										} else {
											uni.showToast({
												title: res.msg,
												icon: 'none',
												duration: 1500
											});
										}
									})
									// uni.showToast({
									// 	title: res.msg,
									// 	icon: 'none',
									// 	duration: 1500,
									// 	success() {
									// 		uni.redirectTo({
									// 			url: '/pages/approvefour/approvefour?id=' +
									// 				id
									// 		})
									// 	}
									// });

								} else {
									uni.showToast({
										title: res.msg,
										icon: 'none',
										duration: 1500
									});
								}
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}

					}
				});
			}
		},
		onPullDownRefresh() {
			if (this.isTabs == 1) {
				this.ownlist = []
				this.params1.page = 1
				this.getCanWorkService()
			} else {
				this.list = []
				this.params2.page = 1
				this.getMyWorkService()
			}
			uni.stopPullDownRefresh()
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.postlist_box {
		.message_tab {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			padding: 30rpx 0;
			background-color: #FFFFFF;
			border-top: 1rpx solid #ECECEC;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
			z-index: 2;

			.ayi_tabs_bin {
				width: 50%;
				font-size: 28rpx;
				color: #696572;
				padding: 0 20rpx;
				position: relative;
				margin-right: 40rpx;
				text-align: center;
			}

			.ayi_tabs_bin_select {
				width: 50%;
				font-size: 32rpx;
				color: #39373D;
				padding: 0 20rpx;
				font-weight: 500;
				position: relative;
				margin-right: 40rpx;
				text-align: center;
			}

			.ayi_tabs_bin:last-child {
				margin-right: 0rpx;
			}

			.ayi_tabs_bin_select:last-child {
				margin-right: 0rpx;
			}

			.tab_bottom {
				width: 36rpx;
				height: 6rpx;
				position: absolute;
				bottom: -10rpx;
				margin: 0 auto;
				left: 0;
				right: 0;
			}
		}

		.postlist {
			padding-top: 120rpx;
			width: 100%;
			text-align: -webkit-center;

			.popchioce {
				background-color: #FFFFFF;
				color: #39373D;
				font-size: 28rpx;
				padding: 50rpx 40rpx;
				border-radius: 10rpx;
				text-align: center;
				margin: 20rpx 30rpx;
				display: flex;
				align-items: center;
			}

			.popchioce_on {
				background-color: #EAE4FF;
				color: #5602AC;
				font-weight: 600;
			}

			.popchioce_ond {
				background-color: #ffc1c4;
				color: #FFFFFF;
				font-weight: 600;
			}

			.wechat_btn {
				color: #FFFFFF;
				font-size: 32rpx;
				padding: 22rpx 0;
				border-radius: 30px;
				text-align: center;
				margin: 40rpx;
				background-image: linear-gradient(to right, #6943FA, #5602AC);
			}
		}

	}
</style>
