<script>
	import GoEasy from "./lib/goeasy-2.0.13.min.js";
	import IMService from "./lib/imservice";
	import {
		ayiInit,
		getWorkService,
		shareAdd
	} from '@/api/ayi.js';
	export default {
		globalData: {
			showAllPop: false,
			uploadUrl: 'https://api.aicaring.com.cn/index.php/api/common/upload',
			imgUrl: 'https://api.aicaring.com.cn',
			statusBarHeight: 20,
			bottomHeight: 0,
			windowHeight: 0,
			imService: null,
			istab: 1,
			isdbindwork: false,
			weburl: '',
			worklist: []
		},
		onLaunch: function() {
			console.log('App Launch');

			var that = this
			uni.getSystemInfo({
				success: function(res) {
					console.log(res)
					that.globalData.statusBarHeight = res.statusBarHeight
					that.globalData.windowHeight = res.windowHeight
					if (res.statusBarHeight > 40) {
						that.globalData.bottomHeight = 34
					}
					console.log('App==' + res.statusBarHeight)
				}
			});
			uni.getLocation({
				type: 'wgs84',
				success: function(res) {
					console.log('当前位置的经度、纬度：' + res.longitude + '、' + res.latitude);
					that.globalData.longitude = res.longitude
					that.globalData.latitude = res.latitude
					if (uni.getStorageSync('token')) {
						that.ToayiInit()
					}
				}
			});
			if (uni.getStorageSync('token')) {
				if (uni.getStorageSync('member').group_id == 2) {
					getWorkService().then(res => {
						if (res.code == 1) {
							that.globalData.worklist = res.data.data_list
						} else {
							// uni.showToast({
							// 	title: res.msg,
							// 	icon: 'none',
							// 	duration: 1500
							// });
						}
					})
				}
			}
		},
		onShow: function(options) {
			console.log('options=========' + JSON.stringify(options))
			if (options.query.scene) {
				if (options.query.scene == 'video') {
					uni.setStorage({
						key: 'istab',
						data: 2
					})
				} else {
					if (uni.getStorageSync('spm')) {
						if (uni.getStorageSync('token')) {
							shareAdd({
								spm: uni.getStorageSync('spm'),
							}).then(res => {
								console.log(res)
							})
						}
					} else {
						uni.setStorage({
							key: 'spm',
							data: options.query.scene
						})
						if (uni.getStorageSync('token')) {
							shareAdd({
								spm: options.query.scene,
							}).then(res => {
								console.log(res)
							})
						}
					}
				}

			}
		},
		onHide: function() {
			console.log('App Hide');
		},
		methods: {
			pubSub: function() {
				var that = this
				if (uni.getStorageSync('currentUser')) {
					that.globalData.imService = new IMService(that.goEasy, that.GoEasy);
					that.globalData.imService.connect(uni.getStorageSync('currentUser').uuid);
				}
				var pubsub = that.goEasy.pubsub;
				console.log(pubsub)
				pubsub.subscribe({
					channel: "my_channel", //替换为您自己的channel
					onMessage: function(message) {
						console.log("Channel:" + message.channel + " content:" + message.content);
					},
					onSuccess: function() {
						console.log("Channel订阅成功。");
					},
					onFailed: function(error) {
						console.log("Channel订阅失败, 错误编码：" + error.code + " 错误信息：" + error.content)
					}
				});
			},
			ToayiInit() {
				var that = this
				ayiInit({
					version: 1,
					lng: that.globalData.longitude,
					lat: that.globalData.latitude
				}).then(res => {
					if (res.code == 1) {
						that.globalData.uploadUrl = res.data.upload_data.uploadurl
						that.globalData.imgUrl = res.data.upload_data.cdnurl
						that.globalData.init = res.data
					} else {
						console.log('初始化失败')
					}

				})
			}
		}
	};
</script>

<style lang="scss">
	@import './static/css/ay.css';
	@import "uview-ui/index.scss";

	.userapprove {
		padding: 30rpx;

		.u-steps {
			margin-top: 20rpx;
		}

		.uni-column {
			background-color: #FFFFFF;
			border-radius: 8px;
			padding: 30rpx;
			margin: 10px 0;

			.idcard {
				width: 300rpx;
				height: 200rpx;
			}
		}

		.form_box {

			.u-form-item--left {
				flex: none !important;
				width: auto !important;
				font-weight: 600;
			}

			.u-form-item--left__content__label,
			.u-form-item--left__content {
				flex: none !important;
			}

			.u-form-item__message {
				text-align: right;
			}

			.u-radio-group {
				float: right;

				.u-radio {
					margin-left: 30rpx;
				}

				.u-radio__label {
					margin-right: 0 !important;
					font-size: 28rpx;
				}
			}

			.form_cell {
				background-color: #FFFFFF;
				border-radius: 8px;
				padding: 0 30rpx;
				margin: 10px 0;

				.u-form-item {
					font-size: 30rpx !important;
				}
			}

			.collapse_title {
				flex: 1;
				font-size: 30rpx;
				font-weight: 600;
				color: #39373D;
				padding: 30rpx 0;
			}

			.delbtn {
				width: 54rpx;
				height: 54rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #FFFFFF;
				font-size: 20rpx;
				border: 1rpx solid #fab6b6;
				background-color: #fab6b6;
				border-radius: 10rpx;
			}

			.addbtn {
				width: 54rpx;
				height: 54rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #FFFFFF;
				font-size: 20rpx;
				background-color: #19be6b;
				border: 1rpx solid #19be6b;
				border-radius: 10rpx;
			}

			.showanimation {
				transition: all .5s;
			}

			.avatar_img {
				width: 100rpx;
				height: 100rpx;
				border-radius: 30px;
			}

			.formimg_box {
				padding-bottom: 30rpx;

				.formimg {
					width: 180rpx;
					height: 120rpx;
					border-radius: 10rpx;
				}

				.video_box {
					width: 360rpx;
					height: 240rpx;
					position: relative;
				}

				.video_formimg {
					width: 360rpx;
					height: 240rpx;
					border-radius: 10rpx;
				}

				.delIcon {
					position: absolute;
					right: -20rpx;
					top: -20rpx;
					padding: 20rpx;
				}
			}

			.u-collapse-title {
				font-weight: 600;
				font-size: 30rpx !important;
			}

			.u-form-item--left__content--required {
				position: absolute;
				left: -16rpx;
				vertical-align: middle;
				color: #fa3534;
				padding-top: 6rpx;
			}

			.u-grid-item-box {
				padding: 10rpx 0 !important;
			}

			.popchioce_cell {
				color: #39373D;
				font-size: 24rpx;
				margin-top: 20rpx;
				padding-bottom: 30rpx;

				.popchioce {
					width: 160rpx;
					background-color: #F5F3F8;
					color: #39373D;
					font-size: 20rpx;
					padding: 15rpx 0;
					border-radius: 30px;
					display: inline-block;
					margin-right: 40rpx;
					text-align: center;
					margin-bottom: 20rpx;
				}

				.popchioce_on {
					background-color: #EAE4FF;
					color: #5602AC;
					font-weight: 600;
				}

				.popchiocetime {
					width: 210rpx;
					background-color: #F5F3F8;
					color: #39373D;
					font-size: 20rpx;
					padding: 8rpx 0;
					border-radius: 30px;
					display: inline-block;
					margin-right: 20rpx;
					text-align: center;
				}

				.popchiocetime_on {
					background-color: #EAE4FF;
					color: #5602AC;
				}
			}
		}

		.submint_btn {
			color: #FFFFFF;
			font-size: 30rpx;
			border-radius: 30px;
			padding: 12rpx 0;
			background-image: linear-gradient(to right, #6943FA, #5602AC);
		}

		.sub_ok_box {
			color: #39373D;
			margin-top: 10%;
			text-align: center;
		}

		.sub_result {
			width: 230rpx;
			height: 230rpx;
			border-radius: 100px;
		}

		.addInput_box {
			display: flex;
			align-items: flex-start;
			padding: 30rpx 0;
		}
	}

	.sub_result {
		width: 230rpx;
		height: 230rpx;
		border-radius: 100px;
	}

	.richText_box {
		background: #fff;
		padding: 30rpx;
	}
</style>
