<template>
	<view class="userapprove">
		<view class="form_box">
			<u-form :model="form" ref="uForm" label-align="left" :rules="rules" :errorType="errorType">
				<!-- <view class="form_cell">
					
					<u-form-item label="岗位" required prop="worker_type_text">
						<u-input :border="border" type="select" input-align="right" :select-open="workerShow"
							v-model="form.worker_type_text" placeholder="请选择岗位" @click="workerShow = true"></u-input>
					</u-form-item>
				</view> -->
				<view class="form_cell">
					<u-collapse style="position: relative;" :arrow='false' v-if="worklist.length>0">
						<view class="u-form-item--left__content--required" style="top: 20rpx;">*</view>
						<u-collapse-item :head-style="headstyle" title="岗位" :disabled="true" :open="true">
							<view class="popchioce_cell">
								<view v-for="(item,index) in worklist" :key="item.id"
									@click="checkWorklist(item.id,index)"
									:class="item.status_text?'popchioce popchioce_on':'popchioce'"
									style="font-size: 28rpx;">{{item.name}}
								</view>
							</view>
						</u-collapse-item>
					</u-collapse>
					<view class="c-red f-12 text-r" v-if="validPersonality">请选择岗位</view>
				</view>
				<view class="form_cell">
					<u-form-item label="上户时间" required prop="house_time">
						<uni-datetime-picker type="date" v-model="form.house_time" :start="defaultTime"
							@change="changeLog">
							<view class="f-r" v-if="form.house_time">{{form.house_time}}</view>
							<view class="f-r f-13" style="color: #b3b3b3;" v-else>请选择上户时间</view>
						</uni-datetime-picker>
					</u-form-item>
					<u-form-item label="上户地区" required prop="address_city">
						<u-input placeholder="请选择上户地区" input-align="right" v-model="form.address_city" :border="border"
							type="select" :select-open="pickerShow" @click="pickerShow = true" />
					</u-form-item>
					<u-form-item label="联系电话" required prop="mobile">
						<u-input placeholder="请输入联系电话" input-align="right" maxlength="11" v-model="form.mobile"
							type="number">
						</u-input>
					</u-form-item>
					<view style="padding: 30rpx 0;">
						<view class="f-14 f-w mb-10" style="position: relative;">岗位要求
						</view>
						<u-input type="textarea" placeholder="请输入岗位要求" input-align="left" maxlength="300"
							:clearable="false" v-model="form.req" />
					</view>


				</view>
				<view class="uni-btn-v">
					<button class="submint_btn" form-type="submit" @click="needSub()">提交</button>
				</view>
			</u-form>
		</view>

		<u-picker mode="time" v-model="timepickerShow" @confirm="timeConfirm"></u-picker>
		<u-picker mode="region" v-model="pickerShow" @confirm="regionConfirm"></u-picker>
		<u-mask :show="shoConTips||shoReqTips" @click="closeTips" z-index='5'></u-mask>
	</view>
</template>

<script>
	import {
		workType,
		recAdd
	} from '../../api/ayi.js';
	const app = getApp()
	export default {
		data() {
			return {
				value: 0,
				form: {
					house_time: '',
					mobile: ''
				},
				selfMoney: false,
				money_start: 0,
				money_end: 100,
				min_money_start: 0,
				max_money_end: 20000,
				worklist: [],
				welfareList: [],
				workerShow: false,
				pickerShow: false,
				timepickerShow: false,
				shoReqTips: false,
				shoConTips: false,
				validPersonality: false,
				errorType: ['message'],
				defaultTime: '',
				rules: {

					worker_type_text: [{
						required: true,
						message: '请选择岗位',
						trigger: 'change'
					}],

					house_time: [{
						required: true,
						message: '请选择上户时间',
						trigger: 'change'
					}],
					address_city: [{
						required: true,
						message: '请选择上户地区',
						trigger: 'change'
					}],
					mobile: [{
							required: true,
							message: '请输入手机号',
							trigger: ['change', 'blur'],
						},
						{
							// 自定义验证函数，见上说明
							validator: (rule, value, callback) => {
								// 上面有说，返回true表示校验通过，返回false表示不通过
								// this.$u.test.mobile()就是返回true或者false的
								return this.$u.test.mobile(value);
							},
							message: '手机号码不正确',
							// 触发器可以同时用blur和change
							trigger: ['change', 'blur'],
						}
					],

				},
			};
		},
		onReady() {
			this.$refs.uForm.setRules(this.rules);
			var myDate = new Date();
			this.defaultTime = myDate.toLocaleDateString()
		},
		onLoad(options) {
			this.workType()
		},
		methods: {
			changeLog(e) {
				console.log(e)
				this.form.house_time = e
			},
			checkWorklist(id, index) {
				var worklist = this.worklist
				for (var i = 0; i < worklist.length; i++) {
					if (worklist[i].id == id) {
						worklist[i].status_text = true
					} else {
						this.worklist[i].status_text = false
					}
				}
				this.worklist = worklist
				this.form.worker_type_id = id
			},

			workType() {
				workType().then(res => {
					if (res.code == 1) {
						this.worklist = res.data.worker_type_list
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			timeConfirm(e) {
				this.form.house_time = e.year + '-' + e.month + '-' + e.day
			},
			regionConfirm(e) {
				this.form.address_city = e.province.label + ' ' + e.city.label + ' ' + e.area.label
				this.form.code = e.area.value
			},
			closeTips() {
				this.shoReqTips = false
				this.shoConTips = false
			},
			needSub() {
				if (this.form.worker_type_id.length == 0) {
					this.validPersonality = true
				} else {
					this.validPersonality = false
				}
				this.$refs.uForm.validate(valid => {
					if (valid) {
						recAdd(this.form).then(res => {
							if (res.code == 1) {
								uni.showToast({
									title: '提交成功',
									icon: 'success',
									duration: 1500
								});
								setTimeout(function() {
									uni.navigateBack({
										delta: 1
									})
								}, 1200)
							} else {
								uni.showToast({
									title: res.msg,
									icon: 'none',
									duration: 1500
								});
							}
						})

					} else {
						console.log('验证失败');
					}
				});

			},
			radioMoney(e) {
				this.form.money_type = e
				if (e == 1) {
					this.selfMoney = true
				} else {
					this.selfMoney = false
				}
			},
			movingStart(money_start) {
				this.money_start = money_start
				this.form.money_start = (parseFloat(money_start * 200).toFixed(0))
			},
			movingEnd(money_end) {
				this.money_end = money_end
				this.form.money_end = (parseFloat(money_end * 200).toFixed(0))
			}
		}
	}
</script>

<style lang="scss">
	.money_silder {
		position: absolute;
		top: 0;
		left: 150rpx;
		right: 0;
	}

	.content_tips {
		color: #FFFFFF;
		position: absolute;
		top: 35rpx;
		left: 0;
		padding: 20rpx;
		z-index: 6;
		border-radius: 10rpx;
		background-color: #A98AFF;
	}

	.form_cell {
		margin: 0 !important;
	}
</style>
