<!-- 问题反馈 -->
<template>
	<u-form :model="model" ref="uForm">
		<view class="feedback-wrap u-p-30">
			<!-- 选择类型 -->
			<u-form-item label-position="top" :border-bottom="false" :labelStyle="labelStyle" label="请选择类型" prop="type"
				label-width="150">
				<u-radio-group v-model="model.type" width="100%" active-color="#6943FA">
					<u-radio shape="circle" v-for="(item, index) in typeList" :key="index" :name="item.code">
						{{ item.name }}
					</u-radio>
				</u-radio-group>
			</u-form-item>

			<!-- 相关描述 -->
			<view class="form-item">
				<label>
					<view class="inp-title">相关描述</view>
					<view class="area-box">
						<textarea class="inp-area" v-model="model.content" name="message"
							placeholder="客官~您对我们的服务还满意吗，请给予我们你的意见我们将做的更好~" placeholder-class="pl-style" />
						<!-- <view class="img-box">
							<u-upload :showProgress="false" @on-uploaded="uploadSuccess" @on-remove="uploadRemove"
								:action="`${$API_URL}index/upload`" width="140" height="140" maxCount="9"></u-upload>
						</view> -->
					</view>
				</label>
			</view>

			<!-- 联系方式 -->
			<view class="form-item">
				<label>
					<view class="inp-title">联系方式</view>
					<input class="inp" v-model="model.phone" name="phone" type="number" placeholder="请输入您的联系电话"
						placeholder-class="pl-style" />
				</label>
			</view>

			<!-- 底部按钮 -->
			<view class="foot_box u-flex u-row-between u-col-center">
				<button class="u-reset-button post-btn" @tap="post">提交</button>
				<!-- <button class="u-reset-button contact-btn" @tap="onService">联系客服</button> -->
			</view>
			
		</view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</u-form>
</template>

<script>
	import {
		publicApiGet,
		publicApiPost
	} from '@/api/ayi.js';
	export default {
		components: {},
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				model: {
					type: '',
					content: '',
					phone: '',
					images: []
				},
				labelStyle: {
					'font-size': '30rpx',
					'font-weight': '600',
					color: '#333'
				},
				imgList: [], //图片
				typeList: [] //类型列表
			};
		},
		computed: {},
		onLoad() {
			this.getFeedbackType()
			
		},
		methods: {
			goPopPage() {
				var url = getApp().globalData.page_url
				if (url == '/pages/index/index' || url == '/pages/message/message' || url == '/pages/member/member' ||
					url == '/pages/sign/sign') {
					uni.switchTab({
						url: url
					})
				} else {
					uni.navigateTo({
						url: url
					})
				}
			},
			getFeedbackType() {
				publicApiGet('/addons/shopro/feedback/type').then(res => {
					if (res.code == 1) {
						this.typeList = res.data;
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			post(){
				
				publicApiPost('/addons/shopro/feedback/add',this.model).then(res => {
					if (res.code == 1) {
						uni.showToast({
							title:'提交成功',
							icon:'none'
						})
						uni.navigateBack({
							delta:1
						})
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			

		}
	};
</script>

<style lang="scss">
	.feedback-wrap {
		background: #fff;
	}

	.form-item {
		margin-top: 30rpx;

		.inp-title {
			font-size: 30rpx;

			font-weight: bold;
			color: rgba(51, 51, 51, 1);
			align-items: center;
			margin-bottom: 30rpx;
		}

		.inp {
			// width: 690rpx;
			height: 84rpx;
			background: rgba(249, 250, 251, 1);
			border-radius: 20rpx;
			padding: 0 30rpx;
			font-size: 26rpx;

			font-weight: 500;
			color: #333;
			margin-bottom: 38rpx;
		}

		.area-inp {
			height: 190upx;
			padding: 30rpx;
		}

		.pl-style {
			font-size: 26rpx;

			color: rgba(177, 179, 199, 1);
		}
	}

	.area-box {
		min-height: 306rpx;
		background: rgba(249, 250, 251, 1);
		border-radius: 20rpx;
		padding: 20rpx;

		.pl-style {
			font-size: 26rpx;
			font-weight: 500;
			color: rgba(177, 179, 199, 1);
			line-height: 50rpx;
		}

		.inp-area {
			font-size: 26rpx;
			font-weight: 500;
			color: #333;
			line-height: 50rpx;
			width: 100%;
		}

		.img-box {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 20rpx;
		}
	}

	// 底部按钮
	.foot_box {
		height: 100rpx;
		width: 100%;
		margin-top: 100rpx;

		.contact-btn {
			width: 340rpx;
			line-height: 74rpx;
			background: linear-gradient(90deg, rgba(103, 104, 105, 1), rgba(82, 82, 82, 1));
			box-shadow: 0px 2rpx 5rpx 0px rgba(102, 103, 104, 0.46);
			border-radius: 35rpx;
			font-size: 28rpx;

			font-weight: 500;
			color: rgba(255, 255, 255, 1);
		}

		.post-btn {
			width: 340rpx;
			line-height: 74rpx;
			background-image: linear-gradient(to right, #6943FA, #5602AC) !important;
			box-shadow: 0px 7rpx 6rpx 0rpx rgba(229, 138, 0, 0.22);
			border-radius: 37rpx;
			font-size: 28rpx;

			font-weight: 500;
			color: rgba(255, 255, 255, 1);
		}
	}
</style>
