<template>
	<view class="chat-room">
		<u-sticky>
			<view class="fixedTop_box">
				<view v-if="show">
					<view class="fixedTop_tips" v-if="TopTipsy">
						<u-icon name="volume-up" color="#FF853D" size="30"></u-icon>
						<view class="f-12 ml-10 mr-10">风险提示：请勿通过微信、QQ等渠道进行私下交易，以免造成您的财产损失！</view>
						<view class="" @click="closeTopTips">X</view>
					</view>
					<view class="fixedTop_userinfo">
						<view class="cell_list_info">
							<view class="cell_list_userimg_box">
								<image class="cell_list_userimg"
									:src="friend.avatar?friend.avatar:'../../static/images/default.png'"></image>
								<image class="cell_list_userapprove" src="../../static/images/approve.png"></image>
							</view>
							<view class="cell_list_userbox">
								<view class="cell_list_username">{{friend.name?friend.name:''}}
									<!-- <span class="user_type">月嫂</span>
								<span class="user_type">护工</span> -->
								</view>
								<view class="cell_list_userinfo">{{friend.age}}岁</view>
							</view>
							<view class="action_box" @click="getMobilePop">
								<image class="action_img" src="../../static/images/chat/phone_num.png"></image>
								<view>手机号</view>
							</view>
							<view class="action_box" @click="getWechatPop">
								<image class="action_img" src="../../static/images/chat/wechat_num.png"></image>
								<view>微信号</view>
							</view>
							<view class="action_box" @click="goAyiinfo()">
								<image class="action_img" src="../../static/images/chat/sign.png"></image>
								<view>签约</view>
							</view>
							<u-icon name="more-dot-fill" color="#9891A5" @click="videocomShowd" size="28"></u-icon>
						</view>
					</view>
					<view class="fixedTop_action" v-if="videocomShow">
						<view style="flex: 1;"></view>
						<view class="action_box" @click="goVideoRoom">
							<image class="action_img" src="../../static/images/videocall.png"></image>
							<view>视频沟通</view>
						</view>
						<view class="action_box" @click="showComplaint=true">
							<image class="action_img" src="../../static/images/chat/report.png"></image>
							<view>投诉</view>
						</view>
					</view>
					<view class="text-c" @click="upPopup">
						<image class="chat_topup" src="../../static/images/chat/up.png"></image>
					</view>
				</view>
				<view class="text-c" @click="downPopup" v-if="!show">
					<image class="chat_topup" src="../../static/images/chat/down.png"></image>
				</view>
			</view>
		</u-sticky>
		<view :style="'padding-bottom:'+pdbottom+ 'rpx;'">
			<view class="" v-for="(message, key) in messages" :key="key" :id="'message-box'+ key"
				style="padding: 30rpx;">
				<view class="message-item" v-if="message.type=='text'"
					:class="{'self' : message.senderId == (currentUser && currentUser.uuid)}">
					<image class="chat_avatar mr-10" :src="friend.avatar"
						v-if="message.senderId != (currentUser && currentUser.uuid)"></image>
					<image class="chat_avatar ml-10" :src="currentUser.avatar" v-else></image>
					<view class="message_box">
						<view class="shixinleft" v-if="message.senderId != (currentUser && currentUser.uuid)">
						</view>
						<view class="user-message">
							<view v-if="message.type == 'text'" v-html="renderTextMessage(message)"></view>
						</view>
						<view class="shixinright" v-if="message.senderId == (currentUser && currentUser.uuid)">
						</view>
					</view>
				</view>
				<view class="f-12 text-c" v-else>
					<block v-if="message.type=='confirm'">
						<block v-if="message.senderId==currentUser.uuid">
							<view class="c-gray" v-if="message.payload.type=='1'">
								请求交换手机号已发送
							</view>
							<view class="c-gray" v-if="message.payload.type=='2'">
								请求交换微信号已发送
							</view>
						</block>
						<block v-else>
							<view class="message_selfbox">
								<view class="display_flex mb-15" style="justify-content: center;">
									<image v-if="message.payload.type=='1'" class="message_self_img"
										src="../../static/images/chat/mobile_icon.png"></image>
									<image v-if="message.payload.type=='2'" class="message_self_img"
										src="../../static/images/chat/wechat_icon.png"></image>
									<view class="ml-10">{{message.payload.content}}</view>
								</view>
								<view class="message_selbtn_box">
									<view class="message_self_close"
										@click="subContent(message.payload.type,2,message.payload.id)">忽略</view>
									<view class="message_self_submit"
										@click="subContent(message.payload.type,1,message.payload.id)">确认</view>
								</view>
							</view>
						</block>
					</block>
					<block v-if="message.type=='done'">
						<view class="message_selfbox">
							<view class="display_flex mb-15" style="justify-content: center;">
								<image v-if="message.payload.type=='1'" class="message_self_img"
									src="../../static/images/chat/mobile_icon.png"></image>
								<image v-if="message.payload.type=='2'" class="message_self_img"
									src="../../static/images/chat/wechat_icon.png"></image>
								<view class="ml-10" v-if="message.senderId==currentUser.uuid">{{message.payload.to_content}}</view>
								<view class="ml-10" v-else>{{message.payload.from_content}}</view>
							</view>
							<view class="message_seltext_box" v-if="message.payload.type=='1'"
								@click="copyNum(message.senderId,message.payload.from_copy_v,message.payload.to_copy_v)">复制手机号</view>
							<view class="message_seltext_box" v-if="message.payload.type=='2'"
								@click="copyNum(message.senderId,message.payload.from_copy_v,message.payload.to_copy_v)">复制微信号</view>
						</view>
					</block>
				</view>
			</view>
		</view>
		<view class="bottom_box" :style="'padding-bottom:' +bottomHeight+'px;'">
			<view class="language" @click="showPicker=true">
				常用语
			</view>
			<u-picker v-model="showPicker" mode="selector" :range="languageList" range-key="name"
				@confirm="bindPickerChange"></u-picker>
			<view class="input_box">
				<input type="text" :value="content" confirm-type="send" placeholder="新消息" :adjust-position="true"
					cursor-spacing="15" @input="inputBind" @confirm="inputConfirm" @focus="inputFocus"
					@keyboardheightchange="inputKeyboardheightchange" />
			</view>
			<!-- @blur="inputBlur" -->
			<!-- <u-icon name="plus-circle" color="#39373D" size="50"></u-icon> -->
			<image class="send_img" src="../../static/images/send.png" @click="inputConfirm"></image>
		</view>
		<u-modal v-model="showMobilePop" @confirm="confirmM" :mask-close-able="true" :show-cancel-button="true"
			:show-title="false">
			<view class="slot-content text-c pd-30">
				<view class="f-w f-16">温馨提示</view>
				<view class="mt-15 c-gray">确定与对方交换手机号吗？</view>
				<view class="mt-15 c-gray" @click="editMobile">{{mobile}}
					<u-icon class="ml-10" name="edit-pen" color="#9891A5"></u-icon>
				</view>
			</view>
		</u-modal>
		<u-modal v-model="showWechatPop" @confirm="confirmW" :mask-close-able="true" :show-cancel-button="true"
			:show-title="false">
			<view class="slot-content text-c pd-30">
				<view class="f-w f-16">温馨提示</view>
				<view class="mt-15 c-gray">确定与对方交换微信号吗？</view>
				<view class="mt-15 c-gray" @click="editWechat">{{wechat}}
					<u-icon class="ml-10" name="edit-pen" color="#9891A5"></u-icon>
				</view>
			</view>
		</u-modal>
		<u-popup v-model="showMobilebottomPop" mode="bottom" border-radius="15" :safe-area-inset-bottom="true">
			<view class="pd-30">
				<view class="text-r c-gray f-12 mb-10" @click="closePopup">取消</view>
				<view style="border-bottom: 2rpx solid #ECECEC;">
					<u-input placeholder="请输入手机号" maxlength="11" v-model="phonenum" />
				</view>
				<view class="popsub_btn" @click="subMobilenum">确定</view>
			</view>
		</u-popup>
		<u-popup v-model="showWechatbottomPop" mode="bottom" border-radius="15" :safe-area-inset-bottom="true">
			<view class="pd-30">
				<view class="text-r c-gray f-12 mb-10" @click="closePopup">取消</view>
				<view style="border-bottom: 2rpx solid #ECECEC;">
					<u-input placeholder="请输入微信号" v-model="wechatnum" />
				</view>
				<view class="popsub_btn" @click="subWechatnum">确定</view>
			</view>
		</u-popup>
		<u-picker v-model="showComplaint" mode="selector" :range="complaintList" range-key="name"
			@confirm="bindComplaintChange"></u-picker>
	</view>
</template>

<script>
	import {
		getLanguageList,
		getImUserInfo,
		getComplaintList,
		addComplaint,
		getIMMobile,
		getIMWechat,
		updateMobile,
		updateWechat,
		sendIMContact,
		exchangeContact
	} from "../../api/ayi.js";
	import IMService from "../../lib/imservice";
	const recorderManager = uni.getRecorderManager();
	export default {
		data() {
			return {
				videocomShow: false,
				showPicker: false,
				show: true,
				showMobilePop: false,
				showMobilebottomPop: false,
				showWechatPop: false,
				showWechatbottomPop: false,
				showComplaint: false,
				mobile: '',
				phonenum: '',
				wechat: '',
				wechatnum: '',
				bottomHeight: getApp().globalData.bottomHeight ? getApp().globalData.bottomHeight : '',
				pdbottom: getApp().globalData.bottomHeight + 120,
				keyboardHeight: 0,
				currentRoom: null,
				content: '',
				roombottom: 60,
				roomHeight: 600,
				messageID: '',
				index: 0,
				languageList: [],
				friend: {},
				currentUser: {},
				messages: [],
				complaintList: [],
				//已经加载完所有历史消息
				allHistoryLoaded: false,
				params: {
					id: 0,
					status: 0
				},
				TopTipsy: true
			};
		},
		onReady() {
			var that = this
			uni.getSystemInfo({
				success: function(res) {
					console.log(res)
					that.windowHeight = res.windowHeight
				}
			});
		},
		onPullDownRefresh(e) {
			this.loadMoreHistoryMessage();
		},
		onUnload() {
			//退出聊天页面之前，清空页面传入的监听器
			let imService = getApp().globalData.imService;
			if(imService) {
				imService.onNewPrivateMessageReceive =  (friendId, message)=> {};
			}
		},
		onLoad(options) {
			var that=this
			getApp().globalData.imService = new IMService(that.goEasy, that.GoEasy);
			getApp().globalData.imService.connect(that.currentUser);
			that.getLanguageList()
			that.getComplaintList()
			that.currentUser = uni.getStorageSync('currentUser');
			var friendId = parseInt(options.uid)
			that.friendId = parseInt(options.uid)
			getImUserInfo({
				uid: friendId
			}).then(res => {
				if (res.code == 1) {
					that.friend = res.data
					if (options.worker_type) {
						that.worker_type = options.worker_type
					} else {
						that.worker_type = res.data.worker_type_id[0]
					}
					let imService = getApp().globalData.imService;
					that.messages = imService.getPrivateMessages(friendId);
					uni.setNavigationBarTitle({
						title: that.friend.name
					});
					//监听新消息
					imService.onNewPrivateMessageReceive = (friendId, message) => {
						if (friendId == that.friend.uuid) {
							console.log('接收到新消息')
							//聊天时，收到消息标记为已读
							that.markPrivateMessageAsRead(friendId);
							//收到新消息，是滚动到最底部
							setTimeout(function(){
								that.scrollToBottom();
							},300)
						}
					};
					//每次进入聊天页面，总是滚动到底部
					setTimeout(function(){
						that.scrollToBottom();
					},300)
					//收到的消息设置为已读
					if (that.messages.length != 0) {
						that.markPrivateMessageAsRead(friendId);
					}
					that.loadMoreHistoryMessage();
				} else {
					uni.showToast({
						title: res.msg,
						icon: 'none',
						duration: 1500
					});
				}
			})
		},
		methods: {
			//获取常用语
			getLanguageList() {
				getLanguageList().then(res => {
					if (res.code == 1) {
						this.languageList = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//获取投诉类型
			getComplaintList() {
				getComplaintList().then(res => {
					if (res.code == 1) {
						this.complaintList = res.data
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//投诉
			bindComplaintChange(e) {
				var index = e
				var id = this.complaintList[e].id
				var params = {
					to_uid: parseInt(this.friendId),
					type: id
				}
				addComplaint(params).then(res => {
					if (res.code == 1) {
						uni.showToast({
							title: '投诉成功',
							icon: 'success',
							duration: 1500
						});
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			renderTextMessage(message) {
				return '<span class="text-content">' + message.payload.text + '</span>'
			},
			//像微信那样显示时间，如果有几分钟没发消息了，才显示时间
			//todo:本不需要该方法，可以在标签里完成，但小程序有兼容性问题，被迫这样实现
			renderMessageDate(message, index) {
				if (index == 0) {
					return this.formatDate(message.timestamp)
				} else {
					if (message.timestamp - this.messages[index - 1].timestamp > 5 * 60 * 1000) {
						return this.formatDate(message.timestamp)
					}
				}
				return '';
			},

			//检测键盘变化
			inputKeyboardheightchange(e) {
				this.keyboardHeight = e.detail.height - 30
			},

			//输入框输入
			inputBind(e) {
				this.content = e.detail.value
			},
			//输入框提交
			inputConfirm(e) {
				if (this.content) {
					// this.content =''
					this.sendTextMessage()
				}
			},
			//选择常用语	
			bindPickerChange(e) {
				var index = e
				this.content = this.languageList[index].name
				this.inputFocus()
			},
			//键盘聚焦
			inputFocus(e) {},
			sendMessage(message) {
				let toId = message.to.id;
				let imService = getApp().globalData.imService;
				let localHistory = imService.getPrivateMessages(toId);
				localHistory.push(message);
				this.goEasy.im.sendMessage({
					message: message,
					onSuccess: function(message) {
						console.log("发送成功.", message);
						var num = this.message.length
						this.messageID = 'message-box' + num
						this.markPrivateMessageAsRead(this.friendId);
					},
					onFailed: function(error) {
						console.log("发送失败:", error);
					}
				});
				var that = this
				setTimeout(function() {
					that.scrollToBottom()
				}, 200)

			},
			sendTextMessage() { //发送消息
				if (this.content.trim() !== '') {
					let body = this.content;
					if (this.content.length >= 50) {
						body = this.content.substring(0, 30) + "...";
					}
					let textMessage = this.goEasy.im.createTextMessage({
						text: this.content,
						to: {
							id: this.friend.uuid,
							type: this.GoEasy.IM_SCENE.PRIVATE,
							data: {
								name: this.friend.name,
								avatar: this.friend.avatar
							}
						},
						notification: {
							title: this.currentUser.name + '发来一段文字',
							body: body // 字段最长 50 字符
						}
					});
					this.sendMessage(textMessage);
				}
				this.content = "";
			},
			scrollToBottom() {
				this.$nextTick(function() {
					uni.pageScrollTo({
						scrollTop: 2000000,
						duration: 10
					})
				});
			},
			markPrivateMessageAsRead(friendId) {
				var that = this
				that.goEasy.im.markPrivateMessageAsRead({
					userId: friendId,
					onSuccess: function() {
						console.log('标记为已读成功')
					},
					onFailed: function(error) {
						console.log('标记为已读失败')
						console.log(error);
					}
				});
			},
			loadMoreHistoryMessage() { //历史消息
				let self = this;
				let lastMessageTimeStamp = Date.now();
				let lastMessage = this.messages[0];
				if (lastMessage) {
					lastMessageTimeStamp = lastMessage.timestamp;
				}
				let currentLength = this.messages.length;
				this.goEasy.im.history({
					userId: self.friend.uuid,
					lastTimestamp: lastMessageTimeStamp,
					onSuccess: function(result) {
						//获取本地记录
						let imService = getApp().globalData.imService;
						let localHistory = imService.getPrivateMessages(self.friend.uuid);
						//添加加载的记录到本地记录尾部
						let messages = result.content;
						for (let i = messages.length - 1; i >= 0; i--) {
							localHistory.unshift(messages[i]);
						}
						if (localHistory.length == currentLength) {
							self.allHistoryLoaded = true;
						}
						self.messages = localHistory;
						console.log(localHistory)
						uni.stopPullDownRefresh();
						if (localHistory.length != 0) {
							self.markPrivateMessageAsRead(self.friend.uuid);
						}
						setTimeout(function(){
							self.scrollToBottom();
						},300)

					},
					onFailed: function(error) {
						//获取失败
						if (error.code == 401) {
							console.log("获取历史消息失败,默认不开通，付费应用，可以在我的应用->查看详情，高级功能里自助开通");
						} else {
							console.log("获取历史消息失败, code:" + error.code + ",错误信息:" + error.content);
						}
						uni.stopPullDownRefresh();
					}
				});
			},
			upPopup() {
				this.show = false
			},
			downPopup() {
				this.show = true
			},
			//视频
			goVideoRoom() {
				uni.navigateTo({
					url: '/pages/videoinvite/videoinvite?id=' + this.friend.uuid
				})
			},
			getMobilePop() {
				this.showMobilePop = true
				getIMMobile().then(res => {
					if (res.code == 1) {
						this.mobile = res.data.mobile
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//编辑手机号
			editMobile() {
				this.showMobilePop = false
				this.showMobilebottomPop = true
			},
			//编辑提交手机号
			subMobilenum() {
				if (this.phonenum) {
					if ((/^1[3456789]\d{9}$/).test(this.phonenum)) {

						updateMobile({
							mobile: this.phonenum
						}).then(res => {
							if (res.code == 1) {
								this.mobile = this.phonenum
								this.showMobilePop = true
								this.showMobilebottomPop = false
							} else {
								uni.showToast({
									title: res.msg,
									icon: 'none',
									duration: 1500
								});
							}
						})
					} else {
						this.$u.toast('请输入正确的手机号');
					}
				} else {
					this.$u.toast('请输入手机号');
				}
			},
			//交换手机号
			confirmM() {
				if (this.params.status > 0) {
					this.exchangeContact(1)
				} else {
					var params = {
						type: 1,
						to_uid: this.friendId
					}
					sendIMContact(params).then(res => {
						if (res.code == 1) {
							this.showMobilePop = false
							var messages = this.messages
							var params = {
								payload: {
									type: "1"
								},
								senderId: this.currentUser.uuid,
								type: "confirm"
							}
							messages.push(params)
							this.messages = messages
							this.scrollToBottom()
							this.markPrivateMessageAsRead(this.friendId);

						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				}
			},
			getWechatPop() {
				this.showWechatPop = true
				getIMWechat().then(res => {
					if (res.code == 1) {
						this.wechat = res.data.weixin
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//编辑微信号
			editWechat() {
				this.showWechatPop = false
				this.showWechatbottomPop = true
			},
			//输入完成微信号
			subWechatnum() {
				if (this.wechatnum) {
					updateWechat({
						weixin: this.wechatnum
					}).then(res => {
						if (res.code == 1) {
							this.wechat = this.wechatnum
							this.showWechatPop = true
							this.showWechatbottomPop = false
						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				} else {
					this.$u.toast('请输入微信号');
				}
			},
			//交换微信号
			confirmW() {
				if (this.params.status > 0) {
					this.exchangeContact(2)
				} else {
					var params = {
						type: 2,
						to_uid: this.friendId
					}
					sendIMContact(params).then(res => {
						if (res.code == 1) {
							this.showWechatPop = false
							var messages = this.messages
							var params = {
								payload: {
									type: "2"
								},
								senderId: this.currentUser.uuid,
								type: "confirm"
							}
							messages.push(params)
							this.messages = messages
							this.scrollToBottom()
							this.markPrivateMessageAsRead(this.friendId);
						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				}
			},
			//确认交换信息
			subContent(type, status, id) {
				if (status == 1) {
					if (type == 1) {
						this.showMobilePop = true
						this.getMobilePop()
					} else {
						this.showWechatPop = true
						this.getWechatPop()
					}
					this.params.id = id
					this.params.status = status
					
				} else {
					var params = {
						id: id,
						status: status
					}
					exchangeContact(params).then(res => {
						if (res.code == 1) {
							uni.showToast({
								title: '已忽略',
								icon: 'none',
								duration: 1500
							});
						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 1500
							});
						}
					})
				}
			},
			exchangeContact(type) {
				var that=this
				exchangeContact(that.params).then(res => {
					if (res.code == 1) {
						if (type == 1) {
							that.showMobilePop = false
						} else {
							that.showWechatPop = false
						}
						let imService = getApp().globalData.imService;
						var messages = imService.getPrivateMessages(this.currentUser.uuid).pop()
						this.messages.push(messages)
						this.params.status=0
						this.scrollToBottom()
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 1500
						});
					}
				})
			},
			//复制号码
			copyNum(id,number,to_number) {
				if(id==this.currentUser.uuid){
					uni.setClipboardData({
						data: to_number,
						success: function() {
							console.log('success');
						}
					});
				}else{
					uni.setClipboardData({
						data: number,
						success: function() {
							console.log('success');
						}
					});
				}
			},
			closePopup() {
				this.showWechatbottomPop = false
				this.showMobilebottomPop = false
			},
			videocomShowd() {
				this.videocomShow = this.videocomShow ? false : true
			},
			//签约
			goAyiinfo(worker_type) {
				uni.navigateTo({
					url: '/pages/ayiinfo/ayiinfo?uid=' + this.friendId + '&worker_type=' + this.worker_type
				})
			},
			//关闭顶部提示
			closeTopTips() {
				this.TopTipsy = false
			}
		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F5F3F8;
	}

	.fixedTop_box {
		// position: fixed;
		// top: 0;
		// left: 0;
		// right: 0;
		background-color: #FFFFFF;
		z-index: 999;

		.fixedTop_tips {
			color: #FF853D;
			font-size: 24rpx;
			padding: 15rpx 30rpx;
			display: flex;
			align-items: flex-start;
			background-color: #FFF8DD;
		}

		.fixedTop_userinfo {
			padding: 30rpx;
			border-bottom: 1rpx solid #ECECEC;

			.cell_list_info {
				display: flex;
				align-items: center;

				.cell_list_userimg_box {
					width: 100rpx;
					height: 100rpx;
					position: relative;

					.cell_list_userimg {
						width: 100rpx;
						height: 100rpx;
						border-radius: 50rpx;
					}

					.cell_list_userapprove {
						width: 28rpx;
						height: 28rpx;
						position: absolute;
						bottom: 0;
						right: 0;
					}
				}

				.cell_list_userbox {
					flex: 1;
					margin-left: 30rpx;

					.cell_list_username {
						color: #39373D;
						font-size: 32rpx;
						font-weight: 500;
						display: flex;
						align-items: center;

						.user_type {
							color: #5602AC;
							background-color: #E7E2F2;
							font-size: 18rpx;
							padding: 2rpx 10rpx;
							margin-left: 15rpx;
						}
					}

					.cell_list_userinfo {
						color: #696572;
						font-size: 26rpx;
						margin-top: 12rpx;
					}
				}

				.cell_list_chat {
					width: 32rpx;
					height: 32rpx;
				}
			}
		}

		.fixedTop_action {
			padding: 30rpx;
			display: flex;
			align-items: center;
		}

		.action_box {
			color: #333333;
			font-size: 24rpx;
			text-align: center;
			width: 20%;

			.action_img {
				width: 48rpx;
				height: 48rpx;
			}
		}

		.chat_topup {
			width: 60rpx;
			height: 30rpx;
		}
	}

	uni-page-body {
		height: 100%;
	}

	.chat-room {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.online-avatar-container {
		position: fixed;
		right: 0;
		width: 100%;
		height: 80rpx;
		display: flex;
		justify-content: flex-end;
		padding: 28rpx;
		box-shadow: 10rpx 30rpx 50rpx #fff;
		z-index: 40;
		background: #ffffff;
	}

	.online-avatar-item {
		width: 80rpx;
		height: 80rpx;
		border-radius: 40rpx;
		text-align: center;
		line-height: 80rpx;
		background: rgba(51, 51, 51, 0.3);
		color: #fff;
		font-size: 18rpx 28rpx;
	}

	.online-count {
		width: 80rpx;
		height: 80rpx;
		border-radius: 40rpx;
		text-align: center;
		line-height: 80rpx;
		background: rgba(51, 51, 51, 0.3);
		color: #fff;
		font-size: 28rpx;
	}

	.online-avatar-item image {
		width: 80rpx;
		height: 80rpx;
	}

	.chat-room-container {
		// padding-top: 400rpx;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	.scroll-view {
		overflow-y: auto;
		padding: 0 30rpx;
		box-sizing: border-box;
		-webkit-overflow-scrolling: touch;
	}

	.message-box {
		margin-top: 16rpx;
	}

	.self {
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		flex-direction: row-reverse;
	}

	// .message-item {
	// 	font-size: 28rpx;
	// 	font-family: Microsoft YaHei UI;
	// 	overflow: hidden;
	// 	display: flex;
	// }

	.message-item {
		max-height: 400rpx;
		// margin-top: 30rpx;
		// margin-bottom: 30rpx;
		overflow: hidden;
		display: flex;
	}

	.chat_avatar {
		width: 80rpx;
		height: 80rpx;
		margin-right: 25rpx;
		border-radius: 60rpx;
	}

	.message_box {
		display: flex;
		align-items: flex-start;

		.user-message {
			font-size: 28rpx;
			max-width: 400rpx;
			color: #333;
			background-color: #FFFFFF;
			padding: 20rpx 25rpx;
			border-radius: 10rpx;
			font-family: Microsoft YaHei UI;
			text-justify: newspaper;
			word-break: break-all;
		}

		.shixinleft {
			width: 0;
			height: 0;
			border-right: 20rpx solid #FFFFFF;
			border-bottom: 15rpx solid transparent;
			border-top: 15rpx solid transparent;
			margin-top: 25rpx;

		}

		.shixinright {
			width: 0;
			height: 0;
			border-left: 20rpx solid #FFFFFF;
			border-top: 15rpx solid transparent;
			border-bottom: 15rpx solid transparent;
			margin-top: 25rpx;

		}
	}


	.self {
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		flex-direction: row-reverse;
	}

	.user-name {
		color: #D02129;
		font-family: Microsoft YaHei UI;
	}

	.language {
		color: #FFFFFF;
		font-size: 22rpx;
		padding: 20rpx 30rpx;
		border-radius: 30px;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
	}

	.input_box {
		flex: 1;
		margin: 0 20rpx;

		input {
			color: #333;
			font-size: 26rpx;
			border-radius: 30px;
			padding: 20rpx 30rpx;
			background-color: #F1F1F1;
		}
	}

	.scen_message {
		color: #FFFFFF;
		font-size: 26rpx;
		padding: 20rpx 45rpx;
		border-radius: 10px;
		background-image: linear-gradient(to right, #6943FA, #5602AC);
	}

	.send_img {
		width: 50rpx;
		height: 50rpx;
	}

	.message_selfbox {
		// width: 80%;
		background-color: #FFFFFF;
		padding: 25rpx 0;
		border-radius: 10rpx;
		margin: 0 70rpx;

		.message_self_img {
			width: 50rpx;
			height: 50rpx;
		}

		.message_selbtn_box {
			display: flex;
			align-items: center;
			justify-content: center;
			border-top: 2rpx solid #eaeaea;
			padding-top: 20rpx;
		}

		.message_seltext_box {
			display: flex;
			align-items: center;
			justify-content: center;
			border-top: 2rpx solid #eaeaea;
			padding-top: 20rpx;
			color: #5602AC;
		}

		.message_self_close {
			width: 150rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10rpx 0;
			color: #39373D;
			font-size: 24rpx;
			border: 1rpx solid #9891A5;
			border-radius: 50rpx;
			margin: 0 25rpx;
		}

		.message_self_submit {
			width: 150rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10rpx 0;
			color: #FFFFFF;
			font-size: 24rpx;
			background-image: linear-gradient(to right, #6943FA, #5602AC);
			border-radius: 50rpx;
			margin: 0 25rpx;
		}
	}
</style>
