<template>
	<view class="webview">
		<web-view :src="weburl"></web-view>
		<u-popup v-model="showAllPop" mode="bottom" :safe-area-inset-bottom="true" :closeable="true" border-radius="15">
			<view class="text-c pd-40">
				<image class="sub_result" src="../../static/images/sub_ok.png"></image>
				<view class="f-18 f-w mt-20">信息完善提醒</view>
				<view class="f-12 mt-20">为与雇主建立更好的沟通，更快找到合适的岗位，请您先完善个人信息</view>
				<view class="popsub_btn" @click="goPopPage()">去完善</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	const app=getApp()
	export default {
		data() {
			return {
				showAllPop: getApp().globalData.showAllPop,
				weburl: ''
			};
		},
		onLoad(options) {
			
			var title = options.title
			if(options.url){
				this.weburl = options.url
			}
			if(app.globalData.weburl){
				this.weburl = app.globalData.weburl
				app.globalData.weburl=''
			}
			
			console.log(this.weburl)
			uni.setNavigationBarTitle({
				title: options.title
			})
		}
	}
</script>

<style lang="scss">

</style>
